<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <div class="crear-solicitud" style="width:100%">Reportes</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-row v-if="$store.state.userLogin.intIDPerfil == 1">
      <b-col>
        <b-card>
          <b-card-title>Reportes vuelos</b-card-title>
          <div style="overflow-x:auto;">
            <b-table
              style="font-size: small;"
              :items="itemsReporteVueloFiltered"
              :fields="camposTablaReportes"
              :per-page="perPage"
              :current-page="currentPageVuelo"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key != 'chrTipoViaje' && field.key != 'chrTipoVuelo'"
                    v-model="filtersVuelo[field.key]"
                    :placeholder="field.label"
                  />
                  <b-form-select
                    v-if="field.key == 'chrTipoViaje'"
                    v-model="filtersVuelo[field.key]"
                  >
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.tipoViaje"
                      :key="v.intIDTipoViaje"
                      :value="v.chrDescripcion"
                    >{{ v.chrDescripcion }}</option>
                  </b-form-select>
                  <b-form-select
                    v-if="field.key == 'chrTipoVuelo'"
                    v-model="filtersVuelo[field.key]"
                  >
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.tipoVuelo"
                      :key="v.intIDTipoVuelo"
                      :value="v.chrDescripcion"
                    >{{ v.chrDescripcion }}</option>
                  </b-form-select>
                </td>
              </template>
            </b-table>
          </div>
          <b-pagination
            v-model="currentPageVuelo"
            :total-rows="rowsVuelo"
            :per-page="perPage"
            aria-controls="tabla-solicitud"
          ></b-pagination>
          <b-card-body>
            <b-button
              class="button-estandar"
              @click="exportExcel(itemsReporteVueloFiltered)"
            >Exportar a Excel</b-button>
          </b-card-body>
        </b-card>

        <b-card>
          <b-card-title>Reportes hospedaje</b-card-title>
          <div style="overflow-x:auto;">
            <b-table
              style="font-size: small;"
              :items="itemsReporteHospedajeFiltered"
              :fields="camposTablaReportesHospedaje"
              :per-page="perPage"
              :current-page="currentPageHospedaje"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key != 'chrTipoHabitacion'"
                    v-model="filtersHospedaje[field.key]"
                    :placeholder="field.label"
                  />
                  <b-form-select
                    v-if="field.key == 'chrTipoHabitacion'"
                    v-model="filtersHospedaje[field.key]"
                  >
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.tipoHabitacion"
                      :key="v.intIDTipoHabitacion"
                      :value="v.chrDescripcion"
                    >{{ v.chrDescripcion }}</option>
                  </b-form-select>
                </td>
              </template>
            </b-table>
          </div>
          <b-pagination
            v-model="currentPageHospedaje"
            :total-rows="rowsHospedaje"
            :per-page="perPage"
            aria-controls="tabla-solicitud"
          ></b-pagination>
          <b-card-body>
            <b-button
              class="button-estandar"
              @click="exportExcel(itemsReporteHospedajeFiltered)"
            >Exportar a Excel</b-button>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <b-row v-if="$store.state.userLogin.intIDPerfil != 1">
      <b-col>
        <b-card>
          <b-card-title>Reportes del administrador</b-card-title>
          <div style="overflow-x:auto;">
            <b-table
              style="font-size: small;"
              :items="itemsReporteAdministradorFiltered"
              :fields="camposTablaAdministrador"
              :per-page="perPage"
              :current-page="currentPageAdmin"
            >
              <template slot="archivos" slot-scope="data">
                <a href="#" @click="descargarArchivos(data.item.archivos)">
                  <font-awesome-icon color="#333333" icon="download" />
                </a>
              </template>
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key != 'tipo_solicitud' && field.key != 'estatus' && field.key != 'archivos'"
                    v-model="filtersAdmin[field.key]"
                    :placeholder="field.label"
                  />
                  <b-select
                    v-if="field.key == 'tipo_solicitud'"
                    v-model="filtersAdmin[field.key]"
                    :placeholder="field.label"
                  >
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.tipoSolicitud"
                      :key="v.intIDTipoSolicitud"
                      :value="v.chrDescripcion"
                    >{{ v.chrDescripcion }}</option>
                  </b-select>
                  <b-select
                    v-if="field.key == 'estatus'"
                    v-model="filtersAdmin[field.key]"
                    :placeholder="field.label"
                  >
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.estatusSolicitud"
                      :key="v.intIDEstatusSolicitud"
                      :value="v.chrEstatus"
                    >{{ v.chrEstatus }}</option>
                  </b-select>
                </td>
              </template>
            </b-table>
          </div>
          <b-pagination
            v-model="currentPageAdmin"
            :total-rows="rowsAdmin"
            :per-page="perPage"
            aria-controls="tabla-solicitud"
          ></b-pagination>
          <b-card-body>
            <b-button
              class="button-estandar"
              @click="exportExcel(itemsReporteAdministradorFiltered)"
            >Exportar a Excel</b-button>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from "moment";
import XLSX from "xlsx";
import { mapActions } from "vuex";
import JsZip from "jszip";
import JSZipUtils from "jszip-utils";
import { saveAs } from "file-saver";

export default {
  data() {
    return {
      perPage: 10,
      currentPageAdmin: 1,
      currentPageVuelo: 1,
      currentPageHospedaje: 1,
      dataToExport: [
        {
          name: "Jorge",
          occupation: "Best Admin"
        },
        {
          name: "Héctor",
          occupation: "Worst Admin"
        },
        {
          name: "gmq",
          occupation: ":shrug:"
        }
      ],
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Reportes",
          active: true
        }
      ],
      camposTablaReportes: [
        {
          key: "numero_empleado",
          label: "Número de colaborador",
          sortable: true
        },
        {
          key: "nombre",
          label: "Nombre del colaborador",
          sortable: true
        },
        {
          key: "centro_costo_vuelo",
          label: "Centro costo de vuelo",
          sortable: true
        },
        {
          key: "tipo_viaje",
          label: "Tipo de viaje",
          sortable: true
        },
        {
          key: "tipo_vuelo",
          label: "Tipo de vuelo",
          sortable: true
        },
        {
          key: "aerolinea",
          label: "Aerolínea de preferencia",
          sortable: true
        },
        {
          key: "fecha_nacimiento",
          label: "Fecha de nacimiento",
          sortable: true
        },
        {
          key: "origen",
          label: "Origen",
          sortable: true
        },
        {
          key: "destino",
          label: "Destino",
          sortable: true
        },
        {
          key: "fecha_salida",
          label: "Fecha de salida",
          sortable: true
        },
        {
          key: "fecha_regreso",
          label: "Fecha de regreso",
          sortable: true
        },
        {
          key: "importe",
          label: "Importe",
          sortable: true
        }
      ],
      camposTablaReportesHospedaje: [
        {
          key: "numero_empleado",
          label: "Número de colaborador",
          sortable: true
        },
        {
          key: "nombre",
          label: "Nombre del colaborador",
          sortable: true
        },
        {
          key: "centro_costo_hotel",
          label: "Centro costo de hospedaje",
          sortable: true
        },
        {
          key: "hotel",
          label: "Es hotel",
          sortable: true
        },
        {
          key: "habitaciones",
          label: "Número de habitaciones",
          sortable: true
        },
        {
          key: "tipo_habitacion",
          label: "Tipo de habitación",
          sortable: true
        },
        {
          key: "noches_reservadas",
          label: "Noches reservadas",
          sortable: true
        },
        {
          key: "origen",
          label: "Origen",
          sortable: true
        },
        {
          key: "destino",
          label: "Destino",
          sortable: true
        },
        {
          key: "fecha_salida",
          label: "Fecha de salida",
          sortable: true
        },
        {
          key: "fecha_regreso",
          label: "Fecha de regreso",
          sortable: true
        },
        {
          key: "importe",
          label: "Importe",
          sortable: true
        }
      ],
      camposTablaAdministrador: [
        {
          key: "compania",
          label: "Compañía",
          sortable: true
        },
        {
          key: "numero_empleado",
          label: "Número de colaborador",
          sortable: true
        },
        {
          key: "nombre_empleado",
          label: "Nombre del colaborador",
          sortable: true
        },
        {
          key: "departamento",
          label: "Departamento",
          sortable: true
        },
        {
          key: "numero_solicitud",
          label: "Número de solicitud",
          sortable: true
        },
        {
          key: "tipo_solicitud",
          label: "Tipo de solicitud",
          sortable: true
        },
        {
          key: "fecha_solicitud",
          label: "Fecha de solicitud",
          sortable: true
        },
        {
          key: "motivo_hotel",
          label: "Motivo para hotel",
          sortable: true
        },
        {
          key: "motivo_viaje",
          label: "Motivo para viaje",
          sortable: true
        },
        {
          key: "importe_hotel",
          label: "Importe del hotel",
          sortable: true
        },
        {
          key: "importe_vuelo",
          label: "Importe del vuelo",
          sortable: true
        },
        {
          key: "estatus",
          label: "Estatus",
          sortable: true
        },
        {
          key: "razon_social_vuelo",
          label: "Razón social del vuelo",
          sortable: true
        },
        {
          key: "RFC_vuelo",
          label: "RFC del vuelo",
          sortable: true
        },
        {
          key: "razon_social_hotel",
          label: "Razón social del hotel",
          sortable: true
        },
        {
          key: "RFC_hotel",
          label: "RFC del hotel",
          sortable: true
        },
        {
          key: "archivos",
          label: "Archivos",
          sortable: true
        }
      ],
      itemResumenReportes: [],
      itemResumenReportesHospedaje: [],
      itemsReporteAdministrador: [],
      selectAllReportes: false,
      reportesSelected: [],
      resultAxios: [],
      filtersVuelo: {
        folio_de_solicitud: ""
      },
      filtersHospedaje: {
        folio_de_solicitud: ""
      },
      filtersAdmin: {
        folio_de_solicitud: ""
      }
    };
  },
  computed: {
    itemsReporteAdministradorFiltered() {
      const filtered = this.itemsReporteAdministrador.filter(item => {
        return Object.keys(this.filtersAdmin).every(key =>
          String(item[key]).includes(this.filtersAdmin[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    },
    itemsReporteVueloFiltered() { 
      const filtered = this.itemResumenReportes.filter(item => {
        return Object.keys(this.filtersVuelo).every(key =>
          String(item[key]).includes(this.filtersVuelo[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    },
    itemsReporteHospedajeFiltered() {
      const filtered = this.itemResumenReportesHospedaje.filter(item => {
        return Object.keys(this.filtersHospedaje).every(key =>
          String(item[key]).includes(this.filtersHospedaje[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    },
    rowsVuelo() {
      return this.itemsReporteVueloFiltered.length;
    },
    rowsHospedaje() {
      return this.itemsReporteHospedajeFiltered.length;
    },
    rowsAdmin() {
      return this.itemsReporteAdministradorFiltered.length;
    }
  },
  created() {
    this.getTipoSolicitud();
    this.getTipoVuelo();
    this.getTipoViaje();
    this.getTipoHabitacion();
    this.getEstatusSolicitud();

    if (this.$store.state.userLogin.intIDPerfil == 1) {
      this.getResumenVueloPorEmpleado(
        this.$store.state.userLogin.intIDEmpleado
      );
      this.getResumenHotelPorEmpleado(
        this.$store.state.userLogin.intIDEmpleado
      );
    } else if (this.$store.state.userLogin.intIDPerfil != 1) {
      this.consultaSolicitudesGeneral(
        this.$store.state.userLogin.intIDEmpleado
      );
    }
  },
  methods: {
    ...mapActions([
      "getTipoSolicitud",
      "getTipoVuelo",
      "getTipoViaje",
      "getTipoHabitacion",
      "getEstatusSolicitud"
    ]),
    getResumenVueloPorEmpleado(idEmpleado) {
      let hd = this.$store.state.headers;
      let objIdEmpleado = {
        intIDEmpleado: idEmpleado
      };
      axios
        .post(
          this.$store.state.basePath +
            "Api/Reportes/GetResumenVueloPorEmpleado/",
          objIdEmpleado,
          { hd }
        )
        .then(response => {
          var arrayResumen = [];
          response.data.result.forEach(resumen => {
            let nombreCompleto =
              (resumen.chrNombreEmpleado != null
                ? resumen.chrNombreEmpleado
                : "") +
              " " +
              (resumen.chrApellidoPaterno != null
                ? resumen.chrApellidoPaterno
                : "") +
              " " +
              (resumen.chrApellidoMaterno != null
                ? resumen.chrApellidoMaterno
                : "");
            var fechaRegreso = "";
            if (resumen.dtdFechaRegreso != null) {
              fechaRegreso = moment(resumen.dtdFechaRegreso).format(
                "DD-MM-YYYY"
              );
            } else {
              fechaRegreso = "";
            }
            let obj = {
              numero_empleado: resumen.chrNoEmpleado,
              nombre: nombreCompleto,
              centro_costo_vuelo: resumen.chrCentroCosto,
              tipo_viaje: resumen.chrTipoViaje,
              tipo_vuelo: resumen.chrTipoVuelo,
              aerolinea: resumen.chrAerolinea,
              fecha_nacimiento: moment(resumen.dtdFechaNacimiento).format(
                "DD-MM-YYYY"
              ),
              origen: resumen.chrOrigen,
              destino: resumen.chrDestino,
              fecha_salida: moment(resumen.dtdFechaSalidad).format(
                "DD-MM-YYYY"
              ),
              fecha_regreso: fechaRegreso,
              importe: resumen.decImporte
            };
            arrayResumen.push(obj);
          });
          this.itemResumenReportes = arrayResumen;
        })
        .catch(error => {
        
        });
    },
    getResumenHotelPorEmpleado(idEmpleado) {
      let hd = this.$store.state.headers;
      let objIdEmpleado = {
        intIDEmpleado: idEmpleado
      };
      axios
        .post(
          this.$store.state.basePath +
            "Api/Reportes/GetResumenHotelPorEmpleado/",
          objIdEmpleado,
          { hd }
        )
        .then(response => {
          var arrayResumen = [];
          response.data.result.forEach(resumen => {
            let nombreCompleto =
              (resumen.chrNombreEmpleado != null
                ? resumen.chrNombreEmpleado
                : "") +
              " " +
              (resumen.chrApellidoPaterno != null
                ? resumen.chrApellidoPaterno
                : "") +
              " " +
              (resumen.chrApellidoMaterno != null
                ? resumen.chrApellidoMaterno
                : "");

            var fechaRegreso = "";

            if (resumen.dtdFechaRegreso != null) {
              fechaRegreso = moment(resumen.dtdFechaRegreso).format(
                "DD-MM-YYYY"
              );
            } else {
              fechaRegreso = "";
            }
            let obj = {
              numero_empleado: resumen.chrNoEmpleado,
              nombre: nombreCompleto,
              centro_costo_hotel: resumen.chrCentroCostoHotel,
              hotel: resumen.chrHotel,
              habitaciones: resumen.chrHabitaciones,
              tipo_habitacion: resumen.chrTipoHabitacion,
              noches_reservadas: resumen.chrNochesReservadas,
              origen: resumen.chrOrigen,
              destino: resumen.chrDestino,
              fecha_salida: moment(resumen.dtdFechaSalidad).format(
                "DD-MM-YYYY"
              ),
              fecha_regreso: fechaRegreso,
              importe: resumen.decImporte
            };
            arrayResumen.push(obj);
          });
          this.itemResumenReportesHospedaje = arrayResumen;
        })
        .catch(error => {
          
        });
    },
    consultaSolicitudesGeneral(idEmpleado) {
      let objIdCodigo = {
        intIDCodigoEmpleado: idEmpleado
      };
      var self = this;
      let hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath +
            "Api/Reportes/ConsultaSolicitudesGeneral/",
          objIdCodigo,
          { hd }
        )
        .then(response => {
          var arrayResumen = [];
          response.data.result.forEach(resumen => {
            let nombreCompleto =
              (resumen.chrNombreEmpleado != null
                ? resumen.chrNombreEmpleado
                : "") +
              " " +
              (resumen.chrApellidoPaterno != null
                ? resumen.chrApellidoPaterno
                : "") +
              " " +
              (resumen.chrApellidoMaterno != null
                ? resumen.chrApellidoMaterno
                : "");

            let obj = {
              numero_solicitud: resumen.intIDSolicitud,
              nombre_empleado: nombreCompleto,
              numero_empleado: resumen.chrNoEmpleado,
              compania: resumen.chrCompania,
              departamento: resumen.chrDepartamento,
              estatus: resumen.chrEstatus,
              razon_social_hotel: resumen.chrRazonSocialHotel,
              razon_social_vuelo: resumen.chrRazonSocialVuelo,
              tipo_solicitud: resumen.chrTipoSolicitud,
              fecha_solicitud: moment(resumen.dtdFechaSolicitud).format(
                "DD-MM-YYYY"
              ),
              motivo_hotel: resumen.chrMotivoHotel,
              motivo_viaje: resumen.chrMotivoViaje,
              RFC_hotel: resumen.chrRFCHotel,
              RFC_vuelo: resumen.chrRFCVuelo,
              importe_hotel: resumen.decImporteHotel,
              importe_vuelo: resumen.decImporteVuelo
            };
            arrayResumen.push(obj);
          });
          this.itemsReporteAdministrador = arrayResumen;
          this.itemsReporteAdministrador.forEach((item, idx) => {
            this.consultaArchivos(item.numero_solicitud, idx);
          });
        })
        .catch(error => {
          
        });
    },
    consultaArchivos(id, idx) {
      let objSolicitud = {
        intIDSolicitud: id
      };
      let hd = this.$store.state.headers;
      let archivosPorSolicitud = [];
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/ConsultaArchivos/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          var arrayArchivos = [];
          response.data.result.forEach(archivo => {
            let objArchivo = {
              nombre: archivo.chrNombre,
              descarga: archivo.chrPath,
              contentType: archivo.chrContentType,
              eliminar: archivo.intIDImagenesCotizar
            };
            arrayArchivos.push(objArchivo);
          });
          archivosPorSolicitud = arrayArchivos;

          this.itemsReporteAdministrador[idx].archivos = archivosPorSolicitud;
        })
        .catch(error => {
          
        });
    },
    exportExcel(dataToExport) {
      // para cambiar el header consultar: https://github.com/SheetJS/js-xlsx/issues/94
      let data = XLSX.utils.json_to_sheet(dataToExport);
      const workbook = XLSX.utils.book_new();
      const filename = "reporte-control-viajes";
      XLSX.utils.book_append_sheet(workbook, data, filename);
      XLSX.writeFile(workbook, `${filename}.xlsx`);
    },
    descargarArchivos(archivos) {
      var zip = new JsZip();
      var path = this.$store.state.basePath;
      var count = 0;
      var zipFilename = "zipSolicitud" + Date.now + ".zip";
      var urls = [];
      var fileNames = [];
      var i = 0;
      archivos.forEach(function(archivo) {
        urls[i] = path + archivo.descarga;
        fileNames[i] = archivo.nombre;
        i++;
      });

      i = 0;

      urls.forEach(function(url) {
        var filename = fileNames[i];
        i++; // loading a file and add it in a zip file
        JSZipUtils.getBinaryContent(url, function(err, data) {
          if (err) {
            throw err; // or handle the error
          }
          zip.file(filename, data, { binary: true });
          count++;
          if (count == i) {
            zip.generateAsync({ type: "blob" }).then(function(content) {
              saveAs(content, zipFilename);
            });
          }
        });
      });
    },
    selectReportes() {
      this.reportesSelected = [];
      if (!this.selectAllReportes) {
        for (let i in this.itemsReporteAdministrador) {
          this.reportesSelected.push(
            this.itemsReporteAdministrador[i].intIDSolicitud
          );
        }
      }
    }
  }
};
</script>

<style>
</style>
