<template>
  <b-row style="width:100%;margin:20px">
    <b-col cols="12">
      <b-form>
        <b-card>
          <b-card-title>Cotizaciones de hospedaje</b-card-title>
          <b-card-title
            v-if="isAdministrador != 'true'"
          >Escoge la prioridad de 1 a {{ getPropuestasHospedaje.length }}</b-card-title>
          <b-row v-for="(prop, index) in getPropuestasHospedaje" :key="index">
            <span v-if="hospedajeAnterior != prop.intFKIDDetalleSolicitudVueloHotel"></span>

            <b-col>
              <b-row class="my-2">
              <!--   <b-card-text>{{ prop.title }}</b-card-text> 
                {{ listaHospedaje}}
                 <b-card-text v-for="( datos, index) in listaHospedaje" :key="index">
                   <b-card-text v-if="datos.intIDDetalleSolicitudHotel = hospedajeAnterior"
                   > {{ datos.intIDDetalleSolicitudHotel}}  Origen: {{ datos.chrClaveOrigen}} - Destino: {{ datos.chrClaveDestino }} </b-card-text> 
              </b-card-text> --> 
              </b-row>
              <b-row>
                <b-col lg="1" v-if="isAdministrador=='true'">
                  <strong>Opción {{ index + 1}}</strong>
                </b-col>
                <b-col lg="9" style="text-align: center">
                  <b-form-group>
                    <img style="max-width: 100%;" :src="prop.chrPath" alt @click="openImage(prop)" />
                  </b-form-group>
                </b-col>
                <b-col lg="1">
                  <b-form-group style="font-size:12px" label="Usuario">
                    <b-form-input
                      :disabled="prop.intNoOpcionUsuario != null && isAutorizador == 'true'"
                      :id="'prioridad-'+index"
                      v-model="prop.intNoOpcionUsuario"
                      type="number"
                      min="1"
                      :max="imagenesCotizacionesHospedaje.length"
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col lg="1" v-if="isAutorizador">
                  <b-form-group style="font-size:12px" label="Autorizador">
                    <b-form-input
                      :disabled="isAdministrador=='true'"
                      :id="'prioridad-autorizador-'+index"
                      v-model="prop.intNoOpcionAutorizador"
                      type="number"
                      min="1"
                      :max="imagenesCotizacionesHospedaje.length"
                    ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <hr v-if="(index+1 != getPropuestasHospedaje.length)" />
            </b-col>
            <span v-if="!hidden">{{ hospedajeAnterior = prop.intFKIDDetalleSolicitudVueloHotel }}</span>
          </b-row>
          <b-row v-if="getPropuestasRechazadas.length > 0">
            <b-col>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-button
                    block
                    href="#"
                    v-b-toggle.accordion-hospedaje-rechazado
                    style="background-color:#ed6c1e; font-size:20px; "
                  >Ver propuestas rechazadas</b-button>
                </b-card-header>
                <b-collapse
                  id="accordion-hospedaje-rechazado"
                  accordion="accordion-hospedaje"
                  role="tabpanel"
                >
                  <b-card-body>
                    <b-card-title>Propuestas rechazadas</b-card-title>
                    <b-card-body>
                      <b-row
                        v-for="prop in getPropuestasRechazadas"
                        :key="prop.intIDImagenesCotizar"
                      >
                        <img
                          style="max-width: 100%;"
                          @click="openImage(prop)"
                          :src="prop.chrPath"
                          alt
                        />
                      </b-row>
                    </b-card-body>
                  </b-card-body>
                </b-collapse>
              </b-card>
            </b-col>
          </b-row>
        </b-card>
      </b-form>
      <b-modal id="modal-imagen-hospedaje" size="xl" hide-footer hide-header>
        <b-card style="border: none; width:100%;text-align: center">
          <img style="max-width: 100%;" :src="rutaImagenModal" alt />
        </b-card>
      </b-modal>
    </b-col>
  </b-row>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      rutaImagenModal: null,
      hospedajeAnterior: 0,
      hidden: true,
      destinoHospedaje: "",
      origenHospedje: "",
      listaHospedaje:[]
    };
  },
  props: {
    isAutorizador: String,
    isAdministrador: String
  },
  computed: {
    ...mapState([
      "imagenesCotizacionesHospedaje",
      "imagenesCotizacionesHospedajeRechazadas"
    ]),
    getPropuestasHospedaje() {
      return this.imagenesCotizacionesHospedaje;
    },
    getPropuestasRechazadas() {
      return this.imagenesCotizacionesHospedajeRechazadas;
    }
  },
  created() {
    this.consultaDetalleVueloHospedaje();
  },
  methods: {
    openImage(img) {
      this.$bvModal.show("modal-imagen-hospedaje");
      this.rutaImagenModal = img.chrPath;
    },
    consultaDetalleVueloHospedaje() {
      let objSolicitud = {
        intIDSolicitud: this.$route.query.idSolicitud,
        intFKIDDetalleSolicitudViaje: 0
      };

      let hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          response.data.result.detalleSolicitudHotel.forEach(
            detalleHospedaje => {
              this.destinoHospedaje = detalleHospedaje.chrClaveDestino;
              this.origenHospedje = detalleHospedaje.chrClaveOrigen;
              this.listaHospedaje.push(detalleHospedaje);
            }
            
          );
        })
        .catch(error => {});
    }
  }
};
</script>

<style>
</style>