<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <div class="crear-solicitud" style="width:100%">Selección de propuestas</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-modal
      id="modal-rechazo-cotizacion"
      @ok="rechazaCotizacion({id: $route.query.idSolicitud, comentario: chrComentariosRechazo})"
      @cancel="limpiarComentarios()"
    >
      <template slot="modal-header" slot-scope="{ close }">
        <h5 style="color: #ed6c1e;">Rechazar cotización</h5>
        <b-img style="cursor:pointer;" @click="close()" :src="require('@/img/ic-close-modal.svg')"></b-img>
      </template>
      <b-card style="border:none">
        <b-form>
          <b-form-group label="Comentarios">
            <b-form-textarea
              rows="6"
              max-rows="6"
              v-model="chrComentariosRechazo"
              placeholder="Escribe un comentario con el motivo del rechazo"
            ></b-form-textarea>
          </b-form-group>
        </b-form>
      </b-card>
      <template slot="modal-footer" slot-scope="{ ok, cancel }">
        <b-button class="button-secundario" @click="cancel()">Cancelar</b-button>
        <b-button
          class="button-estandar"
          :disabled="chrComentariosRechazo == null || chrComentariosRechazo == ''"
          @click="ok()"
        >Rechazar</b-button>
      </template>
    </b-modal>
    <seleccion-vuelo v-if="imagenesCotizacionesVuelo.length > 0"></seleccion-vuelo>
    <seleccion-hospedaje v-if="imagenesCotizacionesHospedaje.length > 0"></seleccion-hospedaje>
    <b-row v-if="$store.state.alertaPrioridadesUsuario">
      <b-alert
        style="width:100%;text-align:center;"
        variant="success"
        show
      >Prioridades enviadas con éxito a tu autorizador.</b-alert>
    </b-row>
    <b-row v-if="alertaPrioridades">
      <b-col cols="12">
        <b-alert variant="danger" show>Elige prioridades para todos los campos.</b-alert>
      </b-col>
    </b-row>
    <b-row v-if="alertaPrioridadesRepetidas">
      <b-col cols="12">
        <b-alert variant="danger" show>Elige prioridades no repetidas.</b-alert>
      </b-col>
    </b-row>
    <b-row v-if="this.$store.state.alertaCotizacionRechazada">
      <b-col cols="12">
        <b-alert variant="danger" show>Cotización rechazada.</b-alert>
      </b-col>
    </b-row>
    <b-row class="my-4">
      <b-col lg="4" class="my-2">
        <b-button class="button-secundario" @click="cancelar()">Cancelar</b-button>
      </b-col>
      <b-col lg="4" class="my-2" v-if="$store.state.userLogin.intIDPerfil != 3">
        <b-button class="button-danger" @click="rechazarSolicitud()">Rechazar</b-button>
      </b-col>
      <b-col lg="4" class="my-2">
        <b-button class="button-estandar" @click="enviar()">Enviar</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import SeleccionHospedaje from "@/views/SeleccionPropuesta/SeleccionHospedaje.vue";
import SeleccionVuelo from "@/views/SeleccionPropuesta/SeleccionVuelo.vue";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Selección de propuestas",
          active: true
        }
      ],
      chrComentariosRechazo: "",
      alertaPrioridades: false,
      alertaPrioridadesRepetidas: false,
      bloquearEnvio: false,
      listaImagenCotizadasVuelos: [],
      listaImagenCotizadaHospedaje: []
    };
  },
  components: {
    SeleccionHospedaje,
    SeleccionVuelo
  },
  computed: {
    ...mapState([
      "imagenesCotizacionesVuelo",
      "imagenesCotizacionesHospedaje",
      "alertaCotizacionRechazada"
    ]),
    getQueryUrl() {
      return (
        this.$route.query.idSolicitud, this.$route.query.idDetalleSolicitud
      );
    }
  },
  created() {
    this.consultarCotizaciones({
      idSolicitud: this.$route.query.idSolicitud,
      idDetalleSolicitud: 0 //this.$route.query.idDetalleSolicitud
    });
  },
  methods: {
    ...mapActions([
      "rechazaCotizacion",
      "enviarSolicitudUsuarioAuditorizador",
      "consultarCotizaciones"
    ]),
    enviar() {
    
      const currentCookie = JSON.parse(this.$cookie.get("cookieControlViajes"));
      if (
        this.imagenesCotizacionesVuelo != null &&
        this.imagenesCotizacionesVuelo.length > 0
      ) {
        var arrayPrioridadesVuelo = [];
        this.imagenesCotizacionesVuelo.forEach(imgCot => {
         let vueloAnterior = imgCot.intFKIDDetalleSolicitudVueloHotel;
         if (vueloAnterior != imgCot.intFKIDDetalleSolicitudVueloHotel) {
            arrayPrioridadesVuelo.push(parseInt(imgCot.intNoOpcionUsuario));
         }
        });
      }
      if (
        this.imagenesCotizacionesHospedaje != null &&
        this.imagenesCotizacionesHospedaje.length > 0
      ) {
        var arrayPrioridadesHospedaje = [];
        this.imagenesCotizacionesHospedaje.forEach(imgCot => {
          let hospedajeAnterior = imgCot.intFKIDDetalleSolicitudVueloHotel;
          if (hospedajeAnterior != imgCot.intFKIDDetalleSolicitudVueloHotel) {
            arrayPrioridadesHospedaje.push(parseInt(imgCot.intNoOpcionUsuario));
          }
        });
      }

      var arrayImgCotizaciones = [];

      if (
        this.imagenesCotizacionesVuelo != null &&
        this.imagenesCotizacionesVuelo.length > 0
      ) {
        arrayImgCotizaciones = [];

        this.imagenesCotizacionesVuelo.forEach(imgCot => {
          if (
            imgCot.intNoOpcionUsuario == null ||
            imgCot.intNoOpcionUsuario == ""
          ) {
            this.alertaPrioridades = true;
            let vm = this;
            setTimeout(() => {
              vm.alertaPrioridades = false;
            }, 3000);
            this.bloquearEnvio = true;
          } 
          else if (
            hasDuplicates(arrayPrioridadesVuelo) ||
            hasDuplicates(arrayPrioridadesHospedaje)
          ) {
            this.alertaPrioridadesRepetidas = true;
            let vm = this;
            setTimeout(() => {
              vm.alertaPrioridadesRepetidas = false;
            }, 3000);
            this.bloquearEnvio = true;
          }else {
            let obj = {
              intIDImagenesCotizar: imgCot.intIDImagenesCotizar,
              intNoOpcionUsuario: imgCot.intNoOpcionUsuario
            };
            arrayImgCotizaciones.push(obj);
          }
        });
        if (
          arrayImgCotizaciones.length == this.imagenesCotizacionesVuelo.length
        ) {
          this.prioridadCotizacionesUsuario(arrayImgCotizaciones);
          this.bloquearEnvio = false;
        } else {
          this.bloquearEnvio = true;
        }
      }
      if (
        this.imagenesCotizacionesHospedaje != null &&
        this.imagenesCotizacionesHospedaje.length > 0
      ) {
        arrayImgCotizaciones = [];

        this.imagenesCotizacionesHospedaje.forEach(imgCot => {
          if (
            imgCot.intNoOpcionUsuario == null ||
            imgCot.intNoOpcionUsuario == ""
          ) {
            this.alertaPrioridades = true;
            let vm = this;
            setTimeout(() => {
              vm.alertaPrioridades = false;
            }, 3000);
            this.bloquearEnvio = true;
          } else if (
            hasDuplicates(arrayPrioridadesVuelo) ||
            hasDuplicates(arrayPrioridadesHospedaje)
          ) {
            this.alertaPrioridadesRepetidas = true;
            let vm = this;
            setTimeout(() => {
              vm.alertaPrioridadesRepetidas = false;
            }, 3000);
            this.bloquearEnvio = true;
          } else {
            let obj = {
              intIDImagenesCotizar: imgCot.intIDImagenesCotizar,
              intNoOpcionUsuario: imgCot.intNoOpcionUsuario,
              intNoOpcionAutorizador: imgCot.intNoOpcionAutorizador
            };
            arrayImgCotizaciones.push(obj);
          }
        });
        if (
          arrayImgCotizaciones.length ==
          this.imagenesCotizacionesHospedaje.length
        ) {
          this.prioridadCotizacionesUsuario(arrayImgCotizaciones);
          this.bloquearEnvio = false;
        } else {
          this.bloquearEnvio = true;
        }
      }

      if (!this.bloquearEnvio) {
        if (currentCookie.intIDPerfil == 1) {
          this.enviarSolicitudUsuarioAuditorizador(
            this.$route.query.idSolicitud
          );
        } else if (currentCookie.intIDPerfil == 3) {
          this.enviaSolicitudAuditorizadorAdministrador(
            this.$route.query.idSolicitud
          );
        }
      }
    },
    prioridadCotizacionesUsuario(obj) {
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath +
            "Api/Solicitud/PrioridadCotizacionesUsuario/",
          obj,
          { hd }
        )
        .then(response => {
          this.$router.push({ name: "detalleVueloHospedaje" });
        })
        .catch(error => {});
    },
    cancelar() {
      this.$router.push({ name: "home" });
    },
    rechazarSolicitud() {
      this.$bvModal.show("modal-rechazo-cotizacion");
      this.limpiarComentarios();
    },
    limpiarComentarios() {
      this.chrComentariosRechazo = null;
    }
  }
};
function hasDuplicates(array) {
  if (array != undefined) {
    return new Set(array).size !== array.length;
  }
}
</script>

<style>
</style>