<template>
  <b-row style="width:100%;margin:20px;">
    <b-col cols="12">
      <b-form>
        <b-card>
          <b-card-title>Cotizaciones de vuelos</b-card-title>
          <b-card-title
            v-if="isAdministrador!='true'"
          >Escoge la prioridad de 1 a {{ getPropuestasVuelo.length }}</b-card-title>
          <b-row v-for="(prop, index) in getPropuestasVuelo" :key="index">
            <span v-if="vueloPrevio != prop.intFKIDDetalleSolicitudVueloHotel"></span>
           
            <b-col>
              <b-row class="my-2">
                <b-card-text>{{ prop.title }}</b-card-text>
                 <b-card-text> Origen: {{ origenVuelo}} - Destino: {{ destinoVuelo}}</b-card-text>
              </b-row>
              <b-row>
                <b-col lg="1" v-if="isAdministrador=='true'">
                  <strong>Opción {{index+1}}</strong>
                </b-col>
                <b-col lg="9" style="text-align: center">
                  <b-form-group>
                    <img style="max-width: 100%;" @click="openImage(prop)" :src="prop.chrPath" alt />
                  </b-form-group>
                </b-col>
                <b-col lg="1">
                  <b-form-group style="font-size:12px" label="Usuario">
                    <b-form-input
                      :disabled="prop.intNoOpcionUsuario != null && isAutorizador == 'true'"
                      :id="'prioridad-'+index"
                      v-model="prop.intNoOpcionUsuario"
                      type="number"
                      min="1"
                      :max="imagenesCotizacionesVuelo.length"
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col lg="1" v-if="isAutorizador">
                  <b-form-group style="font-size:12px" label="Autorizador">
                    <b-form-input
                      :disabled="isAdministrador=='true'"
                      :id="'prioridad-autorizador-'+index"
                      v-model="prop.intNoOpcionAutorizador"
                      type="number"
                      min="1"
                      :max="imagenesCotizacionesVuelo.length"
                    ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <hr v-if="(index + 1) != prop.length" />
            </b-col>

            <span v-if="hidden">{{ vueloPrevio = prop.intFKIDDetalleSolicitudVueloHotel }}</span>
          </b-row>
          <b-row v-if="getPropuestasRechazadas.length > 0">
            <b-col>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-button
                    block
                    href="#"
                    v-b-toggle.accordion-vuelo-rechazado
                    style="background-color:#ed6c1e; font-size:20px; "
                  >Ver propuestas rechazadas</b-button>
                </b-card-header>
                <b-collapse
                  id="accordion-vuelo-rechazado"
                  accordion="accordion-vuelo"
                  role="tabpanel"
                >
                  <b-card-body>
                    <b-card-title>Propuestas rechazadas</b-card-title>
                    <b-card-body>
                      <b-row
                        v-for="prop in getPropuestasRechazadas"
                        :key="prop.intIDImagenesCotizar"
                      >
                        <img
                          style="max-width: 100%;"
                          @click="openImage(prop)"
                          :src="prop.chrPath"
                          alt
                        />
                      </b-row>
                    </b-card-body>
                  </b-card-body>
                </b-collapse>
              </b-card>
            </b-col>
          </b-row>
        </b-card>
      </b-form>
      <b-modal id="modal-imagen-vuelo" size="xl" hide-footer hide-header>
        <b-card style="border: none; width:100%;text-align: center">
          <img style="max-width: 100%;" :src="rutaImagenModal" alt />
        </b-card>
      </b-modal>
    </b-col>
  </b-row>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      rutaImagenModal: null,
      vueloPrevio: 0,
      hidden: false,
      listaVuelo: [],
      origenVuelo: "",
      destinoVuelo: ""
    };
  },
  props: {
    isAutorizador: String,
    isAdministrador: String
  },
  computed: {
    ...mapState([
      "imagenesCotizacionesVuelo",
      "imagenesCotizacionesVueloRechazadas"
    ]),
    getPropuestasVuelo() {
      return this.imagenesCotizacionesVuelo;
    },
    getPropuestasRechazadas() {
      return this.imagenesCotizacionesVueloRechazadas;
    }
  },
  created() {
    this.consultaDetalleVueloHospedaje();
  },
  methods: {
    openImage(img) {
      this.$bvModal.show("modal-imagen-vuelo");
      this.rutaImagenModal = img.chrPath;
    },
    consultaDetalleVueloHospedaje() {
      let objSolicitud = {
        intIDSolicitud: this.$route.query.idSolicitud,
        intFKIDDetalleSolicitudViaje: 0
      };

      let hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          response.data.result.detalleSolicitudViaje.forEach(detalleViaje => {
            this.origenVuelo = detalleViaje.chrClaveOrigen;
            this.destinoVuelo = detalleViaje.chrClaveDestino;
          });

          response.data.result.detalleSolicitudHotel.forEach(
            detalleHospedaje => {
              this.intIDDetalleSolicitudHotel =
                detalleHospedaje.intIDDetalleSolicitudHotel;
              let objHospedaje = {
                intIDDetalleSolicitudHotel:
                  detalleHospedaje.intIDDetalleSolicitudHotel,
                intFKIDSolicitud: detalleHospedaje.intFKIDSolicitud,
                chrClaveDestino: detalleHospedaje.chrClaveDestino,
                chrClaveOrigen: detalleHospedaje.chrClaveOrigen,
                dtdFechaSalidad: detalleHospedaje.dtdFechaSalidad,
                dtdFechaRegreso: detalleHospedaje.dtdFechaRegreso,
                chrPresuspuesto: detalleHospedaje.chrPresuspuesto,
                chrComentarios: detalleHospedaje.chrComentarios,
                intFKIDTipoHabitacion: detalleHospedaje.intFKIDTipoHabitacion,
                chrEsHotel: detalleHospedaje.chrEsHotel,
                intNoHabitaciones: detalleHospedaje.intNoHabitaciones,
                chrCentroCostoHospedaje:
                  detalleHospedaje.chrCentroCostoHospedaje,
                chrNochesReservadas: detalleHospedaje.chrNochesReservadas,
                intFKIDTipoVuelo: detalleHospedaje.intFKIDTipoVuelo,
                intFKIDTipoViaje: detalleHospedaje.intFKIDTipoViaje
              };
              this.listaHospedajes.push(objHospedaje);
            
            }
          );
        })
        .catch(error => {});
    }
  }
};
</script>

<style>
</style>