<template>
  <b-row style="width:100%;padding: 50px;">
    <b-col cols="12">
      <b-form>
        <b-row class="my-2">
          <b-col lg="6" v-if="listaDetalleViajes.length > 0">
            <b-form-group class="requiered" label="Detalle Vuelo" label-for="select-detalle-vuelo">
              <b-form-select
                id="select-detalle-vuelo"
                v-model="operacionVuelo.intFKDetalleSolicitudViaje"
              >
                <option
                  v-for="th in this.listaDetalleViajes"
                  :key="th.intIDDetalleSolicitudViaje"
                  :value="th.intIDDetalleSolicitudViaje"
                >{{ "Origen: "+th.chrClaveOrigen + "-Destino:" +th.chrClaveDestino +"-Fecha Salidad:"+ th.dtdFechaSalidad+ "-Fecha Regreso:"+th.dtdFechaRegreso+ "-Aerolinea:"+ th.chrAerolinea }}</option>
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group
              class="required"
              :label="this.$t('operacionHotelVuelo.lblNumeroDeOpcion')"
              label-for="input-numero-opcion"
            >
              <b-form-input id="input-numero-opcion" v-model="operacionVuelo.opcion"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group :label="this.$t('operacionHotelVuelo.lblClaveReservacion')">
              <b-form-input v-model="operacionVuelo.respuesta"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group
              class="required"
              :label="this.$t('operacionHotelVuelo.lblFechaRespuesta')"
              label-for="fecha-respuesta"
            >
              <b-form-input
                id="fecha-respuesta"
                type="date"
                v-model="operacionVuelo.fechaRespuesta"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group class="required" label="RFC de Aerolínea" label-for="input-rfc-aerolinea">
              <b-form-input id="input-rfc-aerolinea" v-model="operacionVuelo.rfcAerolinea"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group class="required" label="Costo del vuelo" label-for="input-costo">
              <b-form-input id="input-costo" v-model="operacionVuelo.costo"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group label="Costo extra del vuelo">
              <b-form-input v-model="operacionVuelo.costoExtraVuelo"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <br/>
        <b-row>
          <b-button
            variant="info"
            v-b-modal.modal-viaje
          >{{ $t('operacionHotelVuelo.lblInformacionViaje')}}</b-button>

          <b-modal id="modal-viaje" :title="this.$t('operacionHotelVuelo.lblInformacionViaje')">
            <b-row v-if="listaDetalleViajes.length > 0">
              <div style="overflow-x:auto;">
                <b-table :items="listaDetalleViajes" :fields="camposTablaDetalleViajes"></b-table>
              </div>
            </b-row>
          </b-modal>
        </b-row>
        <br/>

        <b-row>
          <b-col sm="4">
            <b-button
              v-if="!editadoOperacionHospedaje"
              class="button-estandar"
              :disabled="!operacionVuelo.intFKDetalleSolicitudViaje || !operacionVuelo.opcion || !operacionVuelo.respuesta || !operacionVuelo.rfcAerolinea || !operacionVuelo.costo|| !operacionVuelo.costoExtraVuelo"
              @click="agregarOperacionVuelo(operacionVuelo)"
            >{{ $t('etiquetaSistema.lblAgregar')}}</b-button>
          </b-col>
        </b-row>
        <br/>
        <b-row v-if="operacionVueloAgregador.length > 0">
          <div style="overflow-x:auto;">
            <b-table :items="operacionVueloAgregador" :fields="camposOperacionesVuelos"></b-table>
          </div>
        </b-row>
        <b-row>
          <b-col sm="6">
            <b-form-group label="Escalas">
              <b-form-checkbox v-model="hasEscala">{{ $t('operacionHotelVuelo.lblTieneEscalas')}}</b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row v-if="hasEscala">
          <b-col sm="3" v-if="listaDetalleViajes.length > 0">
            <b-form-group class="requiered" label="Detalle Vuelo" label-for="select-detalle-vuelo">
              <b-form-select
                id="select-detalle-vuelo"
                v-model="escala.intFKDetalleSolicitudViaje"
              >
                <option
                  v-for="th in this.listaDetalleViajes"
                  :key="th.intIDDetalleSolicitudViaje"
                  :value="th.intIDDetalleSolicitudViaje"
                >{{ "Origen: "+th.chrClaveOrigen + "-Destino:" +th.chrClaveDestino +"-Fecha Salidad:"+ th.dtdFechaSalidad+ "-Fecha Regreso:"+th.dtdFechaRegreso+ "-Aerolinea:"+ th.chrAerolinea }}</option>
              </b-form-select>
            </b-form-group>
          </b-col>

          <b-col sm="3">
            <b-form-group :label="this.$t('operacionHotelVuelo.lblOrigenEscala')">
              <b-form-input v-model="escala.origenEscala"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="3">
            <b-form-group :label="this.$t('operacionHotelVuelo.lblDestinoEscala')">
              <b-form-input v-model="escala.destinoEscala"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="3">
            <b-form-group :label="this.$t('operacionHotelVuelo.lblFechaEscala')">
              
              <b-form-input
                id="input-fecha-respuesta"
                type="date"
                v-model="escala.fechaSalidaEscala"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="3">
            <b-button
              class="button-estandar"
              :disabled="!escala.intFKDetalleSolicitudViaje || !escala.origenEscala || !escala.destinoEscala || !escala.fechaSalidaEscala"
              @click="agregarEscala(escala)"
            >{{ $t('etiquetaSistema.lblAgregar')}}</b-button>
          </b-col>
        </b-row>
        <br/>
        <b-row v-if="hasEscala && escalasAgregadas.length > 0">
          <div style="overflow-x:auto;">
            <b-table :items="escalasAgregadas" :fields="camposEscalas"></b-table>
          </div>
        </b-row>
      </b-form>
    </b-col>
  </b-row>
</template>

<script>
import DatePick from "vue-date-pick";
import "vue-date-pick/dist/vueDatePick.css";
import { mapState, mapActions } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      hasEscala: false,
      escala: {},
      //operacionVuelo: {},
      operacionVuelo: {
        fechaRespuesta: moment().format("YYYY-MM-DD"),
        aerolinea: "",
        tipoVuelo: "",
        origen: "",
        destino: "",
        salida: "",
        regreso: "",
        intFKDetalleSolicitudViaje: 0
      },
      escalasAgregadas: [],
      operacionVueloAgregador: [],
      camposEscalas: [
        {
          key: "origenEscala",
          label: "Origen"
        },
        {
          key: "destinoEscala",
          label: "Destino"
        },
        {
          key: "fechaSalidaEscala",
          label: "Fecha de salida"
        }
      ],
      camposOperacionesVuelos: [
        {
          key: "opcion",
          label: "Numero Opción"
        },
        {
          key: "respuesta",
          label: "Clave de reservación"
        },
        {
          key: "fechaRespuesta",
          label: "Fecha de Respuesta"
        },
        {
          key: "rfcAerolinea",
          label: "RFC Aerolinea"
        },
        {
          key: "costo",
          label: "Costo Vuelo"
        },
        ,
        {
          key: "costoExtraVuelo",
          label: "Costo Extra"
        }
      ],
      listaDetalleViajes: [],
      editadoOperacionHospedaje: false,
      camposTablaDetalleViajes: [
        {
          key: "colaboradorSelected",
          label: "Número del colaborado",
          sortable: false
        },
        {
          key: "tipoViaje",
          label: "Tipo viaje",
          sortable: false
        },
        {
          key: "tipoVuelo",
          label: "Vuelo",
          sortable: false
        },
        {
          key: "chrClaveOrigen",
          label: "Origen",
          sortable: false
        },
        {
          key: "chrClaveDestino",
          label: "Destino",
          sortable: false
        },
        {
          key: "dtdFechaSalidad",
          label: "Fecha de Salida",
          sortable: false
        },
        {
          key: "dtdFechaRegreso",
          label: "Fecha de regreso",
          sortable: false
        },
        {
          key: "chrCentroCostoViaje",
          label: "Centro de costo",
          sortable: false
        },
        {
          key: "chrAerolinea",
          label: "Aerolinea",
          sortable: false
        },
        {
          key: "chrComentarios",
          label: "Comentarios",
          sortable: false
        }
      ]
    };
  },
  computed: {
    //...mapState(["operacionVuelo"])
  },
  components: {
    DatePick
  },
  created() {
    this.getTipoVuelo();
    this.muestraDatosVuelo();
    this.cargarDatosOperacionesVueloHospedaje({
      intIDSolicitud: this.$route.query.idSolicitud,
      intFKIDDetalleSolicitudViaje: 0 // this.$route.query.idDetalle
    });
    this.consultaOperacionAvion(this.$route.query.idSolicitud);
  },
  methods: {
    ...mapActions(["getTipoVuelo", "cargarDatosOperacionesVueloHospedaje"]),
    agregarEscala(escala) {
      this.escalasAgregadas.push(escala);
      this.escala = {};
      this.$store.state.operacionVuelo.escalas = this.escalasAgregadas;
    },
    agregarOperacionVuelo(operacionVuelo) {
      this.operacionVueloAgregador.push(operacionVuelo);
      this.operacionVuelo = {};
      this.$store.state.operacionVuelo.listadoOperacionesAgregadas = this.operacionVueloAgregador;
      this.operacionVuelo.fechaRespuesta = moment().format("YYYY-MM-DD");
    },
    muestraDatosVuelo() {
      const hd = this.$store.state.headers;
      let objSolicitud = {
        intIDSolicitud: this.$route.query.idSolicitud,
        intFKIDDetalleSolicitudViaje: 0 //this.$route.params.idDetalle,
      };
      let vm = this;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          response.data.result.detalleSolicitudViaje.forEach(detalleViajes => {
            let codigoEmpleadoSeleccionado = "";
            if (detalleViajes.listaEmpleados.length > 1) {
              codigoEmpleadoSeleccionado = "Todos";
            } else {
              codigoEmpleadoSeleccionado =
                detalleViajes.listaEmpleados[0].chrCodigoEmpleado;
            }

            let objDetalleViaje = {
              colaboradorSelected: codigoEmpleadoSeleccionado,
              intIDDetalleSolicitudViaje:
                detalleViajes.intIDDetalleSolicitudViaje,
              intFKIDSolicitud: detalleViajes.intFKIDSolicitud,
              intFKIDTipoVuelo: detalleViajes.intFKIDTipoVuelo,
              tipoViaje: this.getSelectViaje(detalleViajes.intFKIDTipoViaje),
              tipoVuelo: this.getSelectVuelo(detalleViajes.intFKIDTipoVuelo),
              chrClaveOrigen: detalleViajes.chrClaveOrigen,
              chrClaveDestino: detalleViajes.chrClaveDestino,
              dtdFechaSalidad: moment(detalleViajes.dtdFechaSalidad).format(
                "YYYY-MM-DD"
              ),
              dtdFechaRegreso: moment(detalleViajes.dtdFechaRegreso).format(
                "YYYY-MM-DD"
              ),
              chrPresupuesto: detalleViajes.chrPresupuesto,
              chrComentarios: detalleViajes.chrComentarios,
              intFKIDTipoViaje: detalleViajes.intFKIDTipoViaje,
              chrCentroCostoViaje: detalleViajes.chrCentroCostoViaje,
              chrAerolinea: detalleViajes.chrAerolinea,
              chrMotivoViaje: detalleViajes.chrMotivoViaje,
              chrColaboradorSelect: detalleViajes.chrColaboradorSelect
            };
            this.listaDetalleViajes.push(objDetalleViaje);
          });
        })
        .catch(error => {});
    },
    consultaOperacionAvion(idSolicitud) {
      let objIDSolicitud = {
        intIDSolicitud: idSolicitud
      };
      let hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/ConsultaOperacionAvion/",
          objIDSolicitud,
          { hd }
        )
        .then(response => {
          response.data.result.forEach(consultaOperacionAvion => {
            let objConsultaAvion = {
              intIDOperacionesSolicitudesAvion:
                consultaOperacionAvion.intIDOperacionesSolicitudesAvion,
              intFKDetalleSolicitudViaje:
                consultaOperacionAvion.intFKDetalleSolicitudViaje,
              opcion: consultaOperacionAvion.intNoOpcion,
              respuesta: consultaOperacionAvion.chrClaveReservacion,
              rfcAerolinea: consultaOperacionAvion.chrRFC,
              costo: consultaOperacionAvion.decCosto,
              costoExtraVuelo: consultaOperacionAvion.chrCostoExtraAvion,
              fechaRespuesta: moment(
                consultaOperacionAvion.dtdFechaRespuesta
              ).format("YYYY-MM-DD")
            };

            this.operacionVueloAgregador.push(objConsultaAvion);
            this.$store.state.operacionVuelo.listadoOperacionesAgregadas = this.operacionVueloAgregador;
            this.editadoOperacionHospedaje = true;
          });
        })
        .catch(error => {});
    },
    consultaReservacionAvion(idOperacion) {
      let objIDOperacion = {
        intIDOperacionesSolicitudesAvion: idOperacion
      };
      let hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath +
            "Api/Solicitud/ConsultaReservacionAvion/",
          objIDOperacion,
          { hd }
        )
        .then(response => {
          this.$store.state.operacionVuelo.intIDReservacionViaje =
            response.data.result.intIDReservacionViaje;
        })
        .catch(error => {});
    },
    consultaEscalasAvion(idOperacion) {
      let objIdOperacion = {
        intIDOperacionesSolicitudesAvion: idOperacion
      };
      let hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/ConsultaEscalasAvion/",
          objIdOperacion,
          { hd }
        )
        .then(response => {
          if (response.data.result.length > 0) {
            this.hasEscala = true;
            var arrayTablaEscalas = [];
            response.data.result.forEach(escala => {
              let obj = {
                origenEscala: escala.chrClaveOrigenEscala,
                destinoEscala: escala.chrClaveDestinoEscala,
                fechaSalidaEscala: moment().format("DD-MM-YYYY")
              };
              arrayTablaEscalas.push(obj);
            });
            this.escalasAgregadas = arrayTablaEscalas;
          }
        })
        .catch(error => {});
    },
    getSelectViaje(tipoViaje) {
      switch (tipoViaje) {
        case 1:
          tipoViaje = "Nacional";
          break;
        case 2:
          tipoViaje = "Internacional";
          break;
        default:
          break;
      }
      return tipoViaje;
    },
    getSelectVuelo(tipoVuelo) {
      switch (tipoVuelo) {
        case 1:
          tipoVuelo = "Sencillo";
          break;
        case 2:
          tipoVuelo = "Redondo";
          break;
        default:
          break;
      }
      return tipoVuelo;
    }
  }
};
</script>

<style>
</style>