<template>
  <b-row style="width:100%;padding: 50px;">
    <b-col cols="12">
      <b-form @submit.prevent="enviarDatosGenerales(datosTarjeta, chrNumReservacion)">
        <!-- <b-row>
          <b-col sm="6">
            <b-form-group label="Número de reservación">
              <b-form-input v-model="chrNumReservacion"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>-->
        <b-row>
          <b-col sm="4">
            <b-form-group label="Titular de la tarjeta">
              <b-form-input v-model="$store.state.datosGeneralesOperacion.chrNombre"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group label="Número de tarjeta">
              <b-form-input v-model="$store.state.datosGeneralesOperacion.chrNumTarjeta"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="2">
            <b-form-group label="Fecha de vencimiento">
              <datepicker
                minimum-view="month"
                format="MM/yy"
                v-model="$store.state.datosGeneralesOperacion.chrVencimiento"
              ></datepicker>
            </b-form-group>
          </b-col>
          <b-col sm="2">
            <b-form-group :label="this.$t('operacionesGenerales.lblCodigoSegurida')">
              <b-form-input
                type="number"
                v-model="$store.state.datosGeneralesOperacion.chrCodSeguridad"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
      </b-form>
    </b-col>
  </b-row>
</template>

<script>
import { mapActions } from "vuex";
import Datepicker from "vuejs-datepicker";

export default {
  data() {
    return {
      datosTarjeta: {},
      chrNumReservacion: ""
    };
  },
  computed: {},
  components: {
    Datepicker
  },
  created() {
    this.getDatosBancarios();

    this.$store.state.datosGeneralesOperacion = {
      chrNombre: this.$store.state.datosBancarios.chrNombreBeneficiario,
      chrNumTarjeta: this.$store.state.datosBancarios.chrCuenta,
      chrVencimiento: this.$store.state.datosBancarios.chrAnioMesVencimiento,
      chrCodSeguridad: ""
    };
  },
  methods: {
    ...mapActions(["getDatosBancarios"]),
    enviarDatosGenerales(datosTarjeta, chrNumReservacion) {
      this.$store.state.datosGeneralesOperacion = {
        datosTarjeta,
        chrNumReservacion
      };
    }
  }
};
</script>

<style>
</style>