<template>
  <b-row style="width:100%;padding: 50px;">
    <b-col cols="12">
      <b-form>
        <b-row class="my-2">
          <b-col lg="6" v-if="listaDetalleHospedaje.length > 0">
            <b-form-group
              class="requiered"
              label="Detalle Hospedaje"
              label-for="select-detalle-hospedaje"
            >
              <b-form-select
                id="select-detalle-hospedaje"
                v-model="operacionHospedaje.intFKIDDetalleSolicitudHotel"
              >
                <option
                  v-for="th in this.listaDetalleHospedaje"
                  :key="th.intIDDetalleSolicitudHotel"
                  :value="th.intIDDetalleSolicitudHotel"
                >{{ "Origen: "+th.chrClaveDestino + "-Destino:" +th.chrClaveOrigen +"-Fecha Salidad:"+ th.dtdFechaSalidad+ "-Fecha Regreso:"+th.dtdFechaRegreso }}</option>
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="4">
            <b-form-group
              class="required"
              :label="this.$t('operacionHotelVuelo.lblNumeroDeOpcion')"
              label-for="input-opcion"
            >
              <b-form-input id="input-opcion" v-model="operacionHospedaje.opcion"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group :label="this.$t('operacionHotelVuelo.lblClaveReservacion')">
              <b-form-input v-model="operacionHospedaje.respuesta"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="4">
            <b-form-group
              class="required"
              :label="this.$t('operacionHotelVuelo.lblFechaRespuesta')"
              label-for="input-fecha-respuesta"
            >
              <b-form-input
                id="input-fecha-respuesta"
                type="date"
                v-model="operacionHospedaje.fechaRespuesta"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col sm="3">
            <b-form-group
              class="required"
              :label="this.$t('operacionHotelVuelo.lblHotel')"
              label-for="input-hotel"
            >
              <b-form-input id="input-hotel" v-model="operacionHospedaje.hotel"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="3">
            <b-form-group
              class="required"
              :label="this.$t('operacionHotelVuelo.lblRFCHotel')"
              label-for="input-rfc-hotel"
            >
              <b-form-input id="input-rfc-hotel" v-model="operacionHospedaje.rfcHotel"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="3">
            <b-form-group
              class="required"
              :label="this.$t('operacionHotelVuelo.lblCostoDelHospedaje')"
              label-for="input-coste-hospedaje"
            >
              <b-form-input id="input-coste-hospedaje" v-model="operacionHospedaje.costo"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col sm="3">
            <b-form-group :label="this.$t('operacionHotelVuelo.lblCostoExtraHospedaje')">
              <b-form-input v-model="operacionHospedaje.costoExtraHospedaje"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
          <br/>
        <b-row>
          <b-col sm="4">
            <b-button
              v-if="!editadoOperacionHospedaje"
              class="button-estandar"
              :disabled="!operacionHospedaje.intFKIDDetalleSolicitudHotel || !operacionHospedaje.opcion || !operacionHospedaje.respuesta || !operacionHospedaje.hotel || !operacionHospedaje.rfcHotel || !operacionHospedaje.costo|| !operacionHospedaje.costoExtraHospedaje"
              @click="agregarOperacionHospedaje(operacionHospedaje)"
            >{{ $t('etiquetaSistema.lblAgregar')}}</b-button>
          </b-col>
        </b-row>
        <br/>
        <b-row v-if="operacionesHospedajeAgregado.length > 0">
          <div style="overflow-x:auto;">
            <b-table :items="operacionesHospedajeAgregado" :fields="camposOperacionesHospedaje"></b-table>
          </div>
        </b-row>
          <br/>
        <b-row>
          <b-button
            variant="info"
            v-b-modal.modal-hospedaje
          >{{ $t('operacionHotelVuelo.lblInformacionHospedaje')}}</b-button>

          <b-modal
            id="modal-hospedaje"
            :title="this.$t('operacionHotelVuelo.lblInformacionHospedaje')"
          >
            <b-row v-if="listaDetalleHospedaje.length > 0">
              <div style="overflow-x:auto;">
                <b-table :items="listaDetalleHospedaje" :fields="camposTablaHuespedes"></b-table>
              </div>
            </b-row>
          </b-modal>
        </b-row>
      </b-form>
    </b-col>
  </b-row>
</template>

<script>
import { mapState, mapActions } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      operacionHospedaje: {
        fechaRespuesta: moment().format("YYYY-MM-DD"),
        fechaEntrada: "",
        fechaSalida: "",
        numHabitaciones: "",
        tipoHabitacion: "",
        intFKIDDetalleSolicitudHotel: 0,
        detallehospedaje: [],
        opcion: "",
        respuesta: "",
        hotel: "",
        rfcHotel: "",
        costo: "",
        costoExtraHospedaje: ""
      },
      camposOperacionesHospedaje: [
        {
          key: "opcion",
          label: "Número Opción"
        },
        {
          key: "respuesta",
          label: "Clave de reservación"
        },
        {
          key: "fechaRespuesta",
          label: "Fecha de Respuesta"
        },
        {
          key: "hotel",
          label: "Hotel"
        },
        {
          key: "rfcHotel",
          label: "RFC Hotel"
        },
        {
          key: "costo",
          label: "Costo Vuelo"
        },
        ,
        {
          key: "costoExtraHospedaje",
          label: "Costo Extra"
        }
      ],
      operacionesHospedajeAgregado: [],
      listaDetalleHospedaje: [],
      editadoOperacionHospedaje: false,
      camposTablaHuespedes: [
        {
          key: "colaboradorSelected",
          label: "Número del colaborado",
          sortable: false
        },
        {
          key: "hotelSi",
          label: "Es Hotel",
          sortable: false
        },
        {
          key: "intNoHabitaciones",
          label: "Número de Habitaciones",
          sortable: false
        },
        {
          key: "chrClaveOrigen",
          label: "Origen",
          sortable: false
        },
        {
          key: "chrClaveDestino",
          label: "Destino",
          sortable: false
        },
        {
          key: "dtdFechaSalidad",
          label: "Fecha Entrada",
          sortable: false
        },
        {
          key: "dtdFechaRegreso",
          label: "Fecha Salida",
          sortable: false
        },
        {
          key: "tipohabitacion",
          label: "Tipo habitación",
          sortable: false
        },
        {
          key: "chrNochesReservadas",
          label: "Noches Reservadas",
          sortable: false
        },
        {
          key: "chrCentroCostoHospedaje",
          label: "Centro Costo",
          sortable: false
        },
        {
          key: "chrComentarios",
          label: "Comentarios",
          sortable: false
        }
      ],
      listadoHospedaje: [],
      operacionConsultaSeleccionada: []
    };
  },
  computed: {
    // ...mapState(["operacionHospedaje"])
  },
  created() {
    this.getTipoHabitacion();
    this.muestraDatosHospedaje();
    this.cargarDatosOperacionesVueloHospedaje({
      intIDSolicitud: this.$route.query.idSolicitud,
      intFKIDDetalleSolicitudViaje: this.$route.query.idDetalle
    });
    this.consultaOperacionHotel(this.$route.query.idSolicitud);
  },
  methods: {
    ...mapActions([
      "getTipoHabitacion",
      "cargarDatosOperacionesVueloHospedaje"
    ]),
    consultaOperacionHotel(idSolicitud) {
      let objSolicitud = {
        intIDSolicitud: idSolicitud
      };
      let hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/ConsultaOperacionHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          response.data.result.forEach(consultaOperacionHotel => {
            let objConsultaOperacionHotel = {
              intIDOperacionesSolicitudHotel:
                consultaOperacionHotel.intIDOperacionesSolicitudHotel,
              intFKIDDetalleSolicitudHotel:
                consultaOperacionHotel.intFKIDDetalleSolicitudHotel,
              opcion: consultaOperacionHotel.intNoOpcion,
              respuesta: consultaOperacionHotel.chrCodigoConfirmacion,
              fechaRespuesta:  moment(consultaOperacionHotel.dtdFechaRespuesta).format("YYYY-MM-DD") ,
              hotel: consultaOperacionHotel.chrLineaHotel,
              fechaEntrada: consultaOperacionHotel.dtdFechaEntrada,
              fechaSalida: consultaOperacionHotel.dtdFechaSalidad,
              numHabitaciones: consultaOperacionHotel.intNoHabitaciones,
              tipoHabitacion: consultaOperacionHotel.intFKIDTipoHabitacion,
              costo: consultaOperacionHotel.decCosto,
              intAceptada: consultaOperacionHotel.intAceptada,
              intAutorizada: consultaOperacionHotel.intAutorizada,
              intReservada: consultaOperacionHotel.intReservada,
              rfcHotel: consultaOperacionHotel.chrRFC,
              costoExtraHospedaje: consultaOperacionHotel.chrCostoExtraHotel
            };
            this.operacionesHospedajeAgregado.push(objConsultaOperacionHotel);
            this.$store.state.operacionHospedaje.listadoOperacionesAgregadasHotel = this.operacionesHospedajeAgregado;
            this.editadoOperacionHospedaje = true;
            this.listadoHospedaje.push(objConsultaOperacionHotel);
          });
        })
        .catch(error => {});
    },
    consultaReservacionHotel(idOperacion) {
      let objOperacion = {
        intIDOperacionesSolicitudesHotel: idOperacion
      };
      let hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath +
            "Api/Solicitud/ConsultaReservacionHotel/",
          objOperacion,
          { hd }
        )
        .then(response => {
          this.$store.state.operacionHospedaje.intIDReservacionHotel =
            response.data.result.intIDReservacionHotel;
        })
        .catch(error => {});
    },
    agregarOperacionHospedaje(operacionHospedaje) {
      this.listaDetalleHospedaje.forEach(detalleHospedaje => {
        if (
          detalleHospedaje.intIDDetalleSolicitudHotel ==
          operacionHospedaje.intFKIDDetalleSolicitudHotel
        ) {
          let objDetalleSeleccionador = {
            dtdFechaEntrada: detalleHospedaje.dtdFechaRegreso,
            dtdFechaSalidad: detalleHospedaje.dtdFechaSalidad,
            intNoHabitaciones: detalleHospedaje.intNoHabitaciones,
            intFKIDTipoHabitacion: detalleHospedaje.intFKIDTipoHabitacion,
            lstDtEmpleadoHuespedes: detalleHospedaje.lstDtEmpleadoHuespedes
          };
          operacionHospedaje.detallehospedaje = objDetalleSeleccionador; //push(objDetalleSeleccionador);
        }
      });

      this.operacionesHospedajeAgregado.push(operacionHospedaje);

      this.$store.state.operacionHospedaje.listadoOperacionesAgregadasHotel = this.operacionesHospedajeAgregado;
      this.listadoHospedaje = this.operacionesHospedajeAgregado;
      this.operacionHospedaje = {};
      this.operacionHospedaje.fechaRespuesta = moment().format("YYYY-MM-DD");
    },
    muestraDatosHospedaje() {
      const hd = this.$store.state.headers;
      let objSolicitud = {
        intIDSolicitud: this.$route.query.idSolicitud,
        intFKIDDetalleSolicitudViaje: 0 //this.$route.params.idDetalle,
      };
      let vm = this;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          response.data.result.detalleSolicitudHotel.forEach(
            detalleHospedaje => {
              let codigoEmpleadoSeleccionado = "";
              if (detalleHospedaje.lstDtEmpleadoHuespedes.length > 1) {
                codigoEmpleadoSeleccionado = "Todos";
              } else {
                codigoEmpleadoSeleccionado =
                  detalleHospedaje.lstDtEmpleadoHuespedes[0].chrCodigoEmpleado;
              }

              let objDetalleHospedaje = {
                colaboradorSelected: codigoEmpleadoSeleccionado,
                intIDDetalleSolicitudHotel:
                  detalleHospedaje.intIDDetalleSolicitudHotel,
                intFKIDSolicitud: detalleHospedaje.intFKIDSolicitud,
                chrClaveDestino: detalleHospedaje.chrClaveDestino,
                chrClaveOrigen: detalleHospedaje.chrClaveOrigen,
                dtdFechaSalidad: moment(
                  detalleHospedaje.dtdFechaSalidad
                ).format("YYYY-MM-DD"),
                dtdFechaRegreso: moment(
                  detalleHospedaje.dtdFechaRegreso
                ).format("YYYY-MM-DD"),
                chrPresuspuesto: detalleHospedaje.chrPresuspuesto,
                chrComentarios: detalleHospedaje.chrComentarios,
                intFKIDTipoHabitacion: detalleHospedaje.intFKIDTipoHabitacion,
                tipohabitacion: this.getSelectTipoHabitacion(
                  detalleHospedaje.intFKIDTipoHabitacion
                ),
                chrEsHotel: detalleHospedaje.chrEsHotel,
                hotelSi: detalleHospedaje.chrEsHotel,
                intNoHabitaciones: detalleHospedaje.intNoHabitaciones,
                chrCentroCostoHospedaje:
                  detalleHospedaje.chrCentroCostoHospedaje,
                chrNochesReservadas: detalleHospedaje.chrNochesReservadas,
                intFKIDTipoVuelo: detalleHospedaje.intFKIDTipoVuelo,
                intFKIDTipoViaje: detalleHospedaje.intFKIDTipoViaje,
                lstDtEmpleadoHuespedes: detalleHospedaje.lstDtEmpleadoHuespedes
              };
              this.listaDetalleHospedaje.push(objDetalleHospedaje);
            }
          );
        })
        .catch(error => {});
    },
    getSelectTipoHabitacion(tipoHabitacion) {
      switch (tipoHabitacion) {
        case 1:
          tipoHabitacion = "Sencillas";
          break;
        case 2:
          tipoHabitacion = "Dobles";
          break;
        default:
          break;
      }
      return tipoHabitacion;
    }
  }
};
</script>

<style>
</style>