<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <div
          class="crear-solicitud"
          style="width:100%"
        >{{ $t('prioridadesCotizadas.lblSelecionaPropuesta')}}</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-modal
      id="modal-rechazo-cotizacion"
      @ok="rechazaCotizacion({id: $route.query.idSolicitud, comentario: chrComentariosRechazo})"
      @cancel="limpiarComentarios()"
    >
      <template slot="modal-header" slot-scope="{ close }">
        <h5 style="color: #ed6c1e;">{{ $t('prioridadesCotizadas.lblRechazarCotizacion')}}</h5>
        <b-img style="cursor:pointer;" @click="close()" :src="require('@/img/ic-close-modal.svg')"></b-img>
      </template>
      <b-card style="border:none">
        <b-form>
          <b-form-group label="Comentarios">
            <b-form-textarea
              rows="6"
              max-rows="6"
              v-model="chrComentariosRechazo"
              :placeholder="$t('prioridadesCotizadas.lblMotivodeRechazo')"
            ></b-form-textarea>
          </b-form-group>
        </b-form>
      </b-card>
      <template slot="modal-footer" slot-scope="{ ok, cancel }">
        <b-button class="button-secundario" @click="cancel()">{{ $t('etiquetaSistema.lblCancelar')}}</b-button>
        <b-button
          class="button-estandar"
          :disabled="chrComentariosRechazo == null || chrComentariosRechazo == ''"
          @click="ok()"
        >{{ $t('etiquetaSistema.lblRechazar')}}</b-button>
      </template>
    </b-modal>
    <seleccion-vuelo v-if="imagenesCotizacionesVuelo.length > 0" isAutorizador="true"></seleccion-vuelo>
    <seleccion-hospedaje v-if="imagenesCotizacionesHospedaje.length > 0" isAutorizador="true"></seleccion-hospedaje>
    <b-row v-if="$store.state.alertaPrioridadAutorizador">
      <b-alert
        show
        variant="success"
        style="width:100%;text-align:center;"
      >{{ $t('prioridadesCotizadas.lblPrioridadesAsignadaExito')}}</b-alert>
    </b-row>
    <b-row v-if="alertaPrioridadesAutorizador">
      <b-alert show variant="danger">{{ $t('prioridadesCotizadas.lblEligePrioridades')}}</b-alert>
    </b-row>
    <b-row v-if="alertaPrioridadesRepetidas">
      <b-col cols="12">
        <b-alert
          variant="danger"
          show
        >{{ $t('prioridadesCotizadas.lblEligePrioridadesNoRepetidad')}}</b-alert>
      </b-col>
    </b-row>
    <b-row class="my-4">
      <b-col lg="6" class="my-2">
        <b-button
          class="button-secundario"
          @click="cancelar()"
        >{{ $t('etiquetaSistema.lblCancelar')}}</b-button>
      </b-col>
      <b-col lg="6" class="my-2">
        <b-button class="button-estandar" @click="enviar()">{{ $t('etiquetaSistema.lblEnviar')}}</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import SeleccionHospedaje from "@/views/SeleccionPropuesta/SeleccionHospedaje.vue";
import SeleccionVuelo from "@/views/SeleccionPropuesta/SeleccionVuelo.vue";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("router.lblAutorizadorSolicitudes"),
          to: { name: "autorizadorSolicitudes" }
        },
        {
          text: this.$t("router.lblSeleccionPropuesta"),
          active: true
        }
      ],
      chrComentariosRechazo: "",
      alertaPrioridadesAutorizador: false,
      bloquearEnvio: false,
      alertaPrioridadesRepetidas: false
    };
  },
  components: {
    SeleccionHospedaje,
    SeleccionVuelo
  },
  computed: {
    ...mapState(["imagenesCotizacionesVuelo", "imagenesCotizacionesHospedaje"]),
    getQueryUrl() {
      return (
        this.$route.query.idSolicitud, this.$route.query.idDetalleSolicitud
      );
    }
  },
  created() {
    this.consultarCotizaciones({
      idSolicitud: this.$route.query.idSolicitud,
      idDetalleSolicitud: 0, //this.$route.query.idDetalleSolicitud
    });
  },
  methods: {
    ...mapActions([
      "rechazaCotizacion",
      "enviaSolicitudAuditorizadorAdministrador",
      "consultarCotizaciones"
    ]),

    enviar() {

      if (
        this.imagenesCotizacionesVuelo != null &&
        this.imagenesCotizacionesVuelo.length > 0
      ) {
        var arrayPrioridadesVuelo = [];
        this.imagenesCotizacionesVuelo.forEach(imgCot => {
          let vueloAnterior = imgCot.intFKIDDetalleSolicitudVueloHotel;
          if (vueloAnterior != imgCot.intFKIDDetalleSolicitudVueloHotel) {
            arrayPrioridadesVuelo.push(parseInt(imgCot.intNoOpcionAutorizador));
          }
        });
      }
      if (
        this.imagenesCotizacionesHospedaje != null &&
        this.imagenesCotizacionesHospedaje.length > 0
      ) {
        var arrayPrioridadesHospedaje = [];
        this.imagenesCotizacionesHospedaje.forEach(imgCot => {
          let hospedajeAnterior = imgCot.intFKIDDetalleSolicitudVueloHotel;
    
          if (hospedajeAnterior != imgCot.intFKIDDetalleSolicitudVueloHotel) {
            arrayPrioridadesHospedaje.push(parseInt(imgCot.intNoOpcionAutorizador)
            );
            
          }
        });
      }

      if (
        this.imagenesCotizacionesVuelo != null &&
        this.imagenesCotizacionesVuelo.length > 0
      ) {
        var arrayImgCotizaciones = [];

        this.imagenesCotizacionesVuelo.forEach(imgCot => {
          if (
            imgCot.intNoOpcionAutorizador == null ||
            imgCot.intNoOpcionAutorizador == ""
          ) {
            this.alertaPrioridadesAutorizador = true;
            var vm = this;
            setTimeout(() => {
              vm.alertaPrioridadesAutorizador = false;
            }, 3000);
            this.bloquearEnvio = true;
          } else if (
            hasDuplicates(arrayPrioridadesVuelo) ||
            hasDuplicates(arrayPrioridadesHospedaje)
          ) {
            this.alertaPrioridadesRepetidas = true;
            let vm = this;
            setTimeout(() => {
              vm.alertaPrioridadesRepetidas = false;
            }, 3000);
            this.bloquearEnvio = true;
          } else {
            let obj = {
              intIDImagenesCotizar: imgCot.intIDImagenesCotizar,
              intNoOpcionUsuario: imgCot.intNoOpcionAutorizador
            };
            arrayImgCotizaciones.push(obj);
          }
        });
        if (
          arrayImgCotizaciones.length == this.imagenesCotizacionesVuelo.length
        ) {
          this.prioridadCotizacionesUsuario(arrayImgCotizaciones);
          this.bloquearEnvio = false;
        } else {
          this.bloquearEnvio = true;
        }
      }
      if (
        this.imagenesCotizacionesHospedaje != null &&
        this.imagenesCotizacionesHospedaje.length > 0
      ) {
        var arrayImgCotizaciones = [];

        this.imagenesCotizacionesHospedaje.forEach(imgCot => {
          if (
            imgCot.intNoOpcionAutorizador == null ||
            imgCot.intNoOpcionAutorizador == ""
          ) {
            
            this.alertaPrioridadesAutorizador = true;
            var vm = this;
            setTimeout(() => {
              vm.alertaPrioridadesAutorizador = false;
            }, 3000);
            this.bloquearEnvio = true;
          } else if (
            hasDuplicates(arrayPrioridadesVuelo) ||
            hasDuplicates(arrayPrioridadesHospedaje)
          ) {
           
            this.alertaPrioridadesRepetidas = true;
            let vm = this;
            setTimeout(() => {
              vm.alertaPrioridadesRepetidas = false;
            }, 3000);
            this.bloquearEnvio = true;
          } else {
            let obj = {
              intIDImagenesCotizar: imgCot.intIDImagenesCotizar,
              intNoOpcionUsuario: imgCot.intNoOpcionAutorizador
            };
            arrayImgCotizaciones.push(obj);
          }
        });
        if (
          arrayImgCotizaciones.length ==
          this.imagenesCotizacionesHospedaje.length
        ) {
          this.prioridadCotizacionesUsuario(arrayImgCotizaciones);
          this.bloquearEnvio = false;
        } else {
          this.bloquearEnvio = true;
        }
      }
      if (!this.bloquearEnvio) {
        this.enviaSolicitudAuditorizadorAdministrador({
          idSolicitud: this.$route.query.idSolicitud
        });
      }
    },
    prioridadCotizacionesUsuario(obj) {
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath +
            "Api/Solicitud/PrioridadCotizacionesAutorizador/",
          obj,
          { hd }
        )
        .then(response => {})
        .catch(error => {});
    },
    cancelar() {
      this.$router.push({ name: "detalleVueloHospedaje" });
    },
    rechazarSolicitud() {
      this.$bvModal.show("modal-rechazo-cotizacion");
      this.limpiarComentarios();
    },
    limpiarComentarios() {
      this.chrComentariosRechazo = null;
    }
  }
};
function hasDuplicates(array) {

  if (array != undefined) {
    return new Set(array).size !== array.length;
  }
}
</script>

<style>
</style>