<template>
  <b-container>
    <b-row class="my-2">
      <b-col>
        <button-back></button-back>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-card>
          <b-card-title>Estatus de solicitud</b-card-title>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ButtonBack from "@/components/ButtonBack.vue";
export default {
  components: {
    ButtonBack
  }
};
</script>

<style>
</style>
