<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <div
          class="crear-solicitud"
          style="width:100%"
        >{{ $t('autorizadorSolicitudes.lblAutorizadorSolicitudes')}}</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-card>
          <b-card-title>{{ $t('autorizadorSolicitudes.lblSolicitudAutoriza')}}</b-card-title>
          <div style="overflow-x:auto;">
            <b-table
              :fields="fieldsTablaAutorizador"
              :items="itemsFilteredDataAutorizador"
              id="tabla-autorizador"
              :per-page="perPage"
              :current-page="currentPage"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key != 'chrEstado' && field.key != 'actions'"
                    v-model="filters[field.key]"
                    :placeholder="field.label"
                  />
                </td>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  v-if="data.item.chrEstatus == 'En autorización.' || data.item.chrEstatus == 'Autorizado'"
                  href="#"
                  @click.prevent="verSolicitud(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="eye" />
                </a>
              </template>
            </b-table>
          </div>
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="tabla-autorizador"
          ></b-pagination>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from "moment";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("router.lblAutorizadorSolicitudes"),
          active: true
        }
      ],
      dataTablaAutorizador: [],
      fieldsTablaAutorizador: [
        {
          key: "chrNumSolicitud",
          label: this.$t("autorizadorSolicitudes.lblColTablaNumSolicitud"),
          sortable: true
        },
        {
          key: "dtdFechaEnvio",
          label: this.$t("autorizadorSolicitudes.lblColTablaFechaEnvio"),
          sortable: true
        },
        {
          key: "dtdHoraRecepcion",
          label: this.$t("autorizadorSolicitudes.lblColTablaHoraRecepcion"),
          sortable: false
        },
        {
          key: "dtdFechaCotizacion",
          label: this.$t("autorizadorSolicitudes.lblColTablaFechaCotizacion"),
          sortable: true
        },
        {
          key: "dtdHoraCotizacion",
          label: this.$t("autorizadorSolicitudes.lblColTablaHoraCotizacion"),
          sortable: false
        },
        {
          key: "dtdFechaAutorizacion",
          label: this.$t("autorizadorSolicitudes.lblColTablaFechaAutorizacion"),
          sortable: true
        },
        {
          key: "chrSolicitante",
          label: this.$t("autorizadorSolicitudes.lblColTablaSolicitante"),
          sortable: true
        },
        {
          key: "chrTipoSolicitud",
          label: this.$t("autorizadorSolicitudes.lblColTablaTipoSolicitud"),
          sortable: true
        },
        {
          key: "chrEstatus",
          label: this.$t("autorizadorSolicitudes.lblColTablaEstatus"),
          sortable: true
        },
        {
          key: "chrMotivo",
          label: this.$t("autorizadorSolicitudes.lblColTablaMotivoViaje"),
          sortable: false
        },
        {
          key: "chrNumCotizaciones",
          label: this.$t(
            "autorizadorSolicitudes.lblColTablaNumeroCotizaciones"
          ),
          sortable: true
        },
        {
          key: "actions",
          label: this.$t("etiquetaSistema.lblAcciones"),
          sortable: false
        }
      ],
      solicitanteSelected: 0,
      filters: {
        chrNumSolicitud: ""
      },
      intFKIDDetalleSolicitudVuelohotel: 0
    };
  },
  computed: {
    ...mapState(["estatusSolicitud"]),
    rows() {
      return this.itemsFilteredDataAutorizador.length;
    },
    itemsFilteredDataAutorizador() {
      const filtered = this.dataTablaAutorizador.filter(item => {
        return Object.keys(this.filters).every(key =>
          String(item[key]).includes(this.filters[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    }
  },
  created() {
    this.consultaSolicitudesAutorizar(0, 0, 0, 0);
    this.getEstatusSolicitud();
  },
  methods: {
    ...mapActions(["getEstatusSolicitud"]),
    verSolicitud(solicitud) {
      let intFKIDDetalleSolicitudViajeHotel = 0;
      if (solicitud.intFKIDTipoSolicitud == 3) {
        intFKIDDetalleSolicitudViajeHotel =
          solicitud.intFKIDDetalleSolicitudHotel;
      } else if (solicitud.intFKIDTipoSolicitud == 1) {
        intFKIDDetalleSolicitudViajeHotel = 0;
      } else {
        intFKIDDetalleSolicitudViajeHotel =
          solicitud.intFKIDDetalleSolicitudViaje;
      }

      this.$router.push({
        name: "prioridad-autorizador",
        query: {
          idSolicitud: solicitud.chrNumSolicitud,
          idDetalleSolicitud: 0//intFKIDDetalleSolicitudViajeHotel
        }
      });
    },
    consultaSolicitudesAutorizar(
      estatus,
      tipoSolicitud,
      idSolicitante,
      idDetalleSolictudVueloHotel
    ) {
      const hd = this.$store.state.headers;

      let objConsulta = {
        intIDAutorizador: this.$store.state.userLogin.intIDEmpleado,
        intFKIDEstatus: estatus,
        intFKIDTipoSolicitud: tipoSolicitud,
        intFKIDSolicitante: idSolicitante,
        intFKIDDetalleSolicitudVieloHotel: idDetalleSolictudVueloHotel
      };

      axios
        .post(
          this.$store.state.basePath +
            "Api/Solicitud/ConsultaSolicitudesAutorizar/",
          objConsulta,
          { hd }
        )
        .then(response => {
          let arrayDatosTabla = [];
          response.data.result.forEach(cotizacion => {
            let nombreCompleto =
              (cotizacion.chrNombreSolicitante != null
                ? cotizacion.chrNombreSolicitante
                : "") +
              " " +
              (cotizacion.chrApellidoPaternoSolicitante != null
                ? cotizacion.chrApellidoPaternoSolicitante
                : "") +
              " " +
              (cotizacion.chrApellidoMaternoSolicitante != null
                ? cotizacion.chrApellidoMaternoSolicitante
                : "");

            let objData = {
              dtdFechaEnvio: moment(cotizacion.dtdFechaEnvioHora).format(
                "DD-MM-YYYY"
              ),
              dtdHoraRecepcion: moment(cotizacion.dtdFechaEnvioHora).format(
                "HH:mm"
              ),
              dtdFechaCotizacion:
                cotizacion.dtdFechaCotizacion != null
                  ? moment(cotizacion.dtdFechaCotizacion).format("DD-MM-YYYY")
                  : "",
              dtdHoraCotizacion:
                cotizacion.dtdFechaCotizacion != null
                  ? moment(cotizacion.dtdFechaCotizacion).format("HH:mm")
                  : "",
              dtdFechaAutorizacion:
                cotizacion.dtdFechaAutorizacion != "0001-01-01T00:00:00" &&
                cotizacion.dtdFechaAutorizacion != null
                  ? moment(cotizacion.dtdFechaAutorizacion).format("DD-MM-YYYY")
                  : "",
              chrNumSolicitud: cotizacion.intIDSolicitud,
              chrSolicitante: nombreCompleto,
              chrEstatus: cotizacion.chrEstatus,
              chrTipoSolicitud: cotizacion.chrTipoSolicitud,
              chrMotivo:
                cotizacion.chrMotivoViaje != null
                  ? cotizacion.chrMotivoViaje
                  : cotizacion.chrMotivoHotel,
              chrNumCotizaciones: cotizacion.intNoCotizaciones,
              intFKIDDetalleSolicitudViaje:
                cotizacion.intFKIDDetalleSolicitudViaje,
              intFKIDDetalleSolicitudHotel:
                cotizacion.intFKIDDetalleSolicitudHotel,
              intFKIDTipoSolicitud: cotizacion.intFKIDTipoSolicitud
            };
            arrayDatosTabla.push(objData);
          });

          this.dataTablaAutorizador = arrayDatosTabla;
        })
        .catch(error => {});
    }
  }
};
</script>

<style>
</style>