<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <div class="crear-solicitud">{{ $t('menu.solicitudes') }}</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-card>
          <b-card-title>{{ $t('detalleSolicitudes.cotizacion') }}</b-card-title>
          <spinner-custom v-if="spinnerCustom"></spinner-custom>
          <div style="overflow-x:auto;">
            <b-table
              v-if="!spinnerCustom"
              id="tabla-solicitud"
              hover
              :items="itemsVuelofiltered"
              :fields="fieldsTableVuelo"
              :per-page="perPage"
              :current-page="currentPage"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key != 'chrEstado' && field.key != 'actions' && field.key != 'chrEstatus' && field.key != 'intIDTipoSolicitud'"
                    v-model="filters[field.key]"
                    :placeholder="field.label"
                  />
                  <b-select
                    v-if="field.key == 'chrEstado'"
                    v-model="filters[field.key]"
                    :placeholder="field.label"
                    :options="selectEstadoSolicitud"
                  ></b-select>
                  <b-form-select v-if="field.key == 'chrEstatus'" v-model="filters[field.key]">
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.estatusSolicitud"
                      :key="v.intIDEstatus"
                      :value="v.chrEstatus"
                    >{{ v.chrEstatus }}</option>
                  </b-form-select>
                  <b-select
                    v-if="field.key == 'intIDTipoSolicitud'"
                    v-model="filters[field.key]"
                    :placeholder="field.label"
                  >
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.tipoSolicitud"
                      :key="v.intIDTipoSolicitud"
                      :value="v.chrDescripcion"
                    >{{ v.chrDescripcion }}</option>
                  </b-select>
                </td>
              </template>
              <template slot="chrEstado" slot-scope="data">
                <div v-if="data.item.chrEstado == 'success'">
                  <span class="circleSuccess"></span>
                </div>
                <div v-if="data.item.chrEstado == 'warning'">
                  <span class="circleWarning"></span>
                </div>
                <div v-if="data.item.chrEstado == 'danger'">
                  <span class="circleDanger"></span>
                </div>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  v-if="data.item.intIDEstatus != '5' && data.item.intIDEstatus != '7'"
                  href="#"
                  @click.prevent="verSolicitud(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="eye" />
                </a>
                <a
                  v-if="data.item.intIDEstatus == '5'"
                  href="#"
                  @click.prevent="comprarSolicitud(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="money-bill-wave-alt" />
                </a>
                <a
                  v-if="data.item.intIDEstatus == '7'"
                  href="#"
                  @click.prevent="editarSolicitud(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="pencil-alt" />
                </a>
                <a
                  v-if="data.item.intIDEstatus == '7'"
                  href="#"
                  @click.prevent="comprarSolicitud(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="money-bill-wave-alt" />
                </a>
              </template>
            </b-table>
          </div>
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="tabla-solicitud"
          ></b-pagination>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from "moment";
import { mapActions, mapState } from "vuex";
import SpinnerCustom from "@/components/SpinnerCustom.vue";
export default {
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      selectEstadoSolicitud: [
        {
          value: "",
          text: "Todos"
        },
        {
          value: "success",
          text: "Verde"
        },
        {
          value: "danger",
          text: "Rojo"
        },
        {
          value: "warning",
          text: "Amarillo"
        }
      ],
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Administrador de solicitudes",
          to: { name: "administrador-solicitudes" }
        },
        {
          text: this.$t("breadcrumb.solicitudes"),
          active: true
        }
      ],
      itemsTableVuelo: [],
      fieldsTableVuelo: [
        {
          key: "chrEstado",
          label: "Estado",
          sortable: true
        },
        {
          key: "intIDSolicitud",
          label: "Folio de solicitud",
          sortable: true
        },
        {
          key: "dtdFechaRecepcion",
          label: "Fecha de recepción",
          sortable: true
        },
        {
          key: "horaRecepcion",
          label: "Hora de recepción",
          sortable: false
        },
        {
          key: "chrNombreSolicitante",
          label: "Solicitante",
          sortable: true
        },
        {
          key: "intIDTipoSolicitud",
          label: "Tipo de solicitud",
          sortable: true
        },
        {
          key: "chrEstatus",
          label: "Estatus",
          sortable: true
        },
        {
          key: "dtdFechaSalidad",
          label: "Fecha solicitud",
          sortable: true
        },
        {
          key: "chrNumCotizaciones",
          label: "Número de cotización",
          sortable: true
        },
        {
          key: "actions",
          label: "Acciones",
          sortable: false
        }
      ],
      fields: [
        {
          key: "folio_de_solicitud",
          label: this.$t("detalleSolicitudes.headerTabla.folioSolicitud"),
          sortable: true
        },
        {
          key: "fecha_de_recepcion",
          label: this.$t("detalleSolicitudes.headerTabla.fechaRecepcion"),
          sortable: true
        },
        {
          key: "hora_de_recepcion",
          label: this.$t("detalleSolicitudes.headerTabla.horaRecepcion"),
          sortable: true
        },
        {
          key: "chrNombreSolicitante",
          label: this.$t("detalleSolicitudes.headerTabla.solicitante"),
          sortable: true
        },
        {
          key: "tipo_de_solicitud",
          label: this.$t("detalleSolicitudes.headerTabla.tipoSolicitud"),
          sortable: true
        },
        {
          key: "estatus",
          label: this.$t("detalleSolicitudes.headerTabla.estatus"),
          sortable: true
        },
        {
          key: "fechaVueloHospedaje",
          label: "Fecha Vuelo/Hospedaje",
          sortable: true
        },
        {
          key: "estado",
          label: this.$t("detalleSolicitudes.headerTabla.estado"),
          sortable: true,
          variant: "success"
        },
        {
          key: "numCotizacion",
          label: "Número de cotización",
          sortable: true
        },
        {
          key: "actions",
          label: "Ver solicitud",
          sortable: false
        }
      ],
      itemsTable: [],
      filters: {
        folio_de_solicitud: ""
      }
    };
  },
  components: {
    SpinnerCustom
  },
  created() {
    this.$store.state.spinnerCustom = true;
    this.consultaSolicitudesACotizar();
    this.getEstatusSolicitud();
    this.getTipoSolicitud();
  },
  computed: {
    ...mapState(["spinnerCustom", "estatusSolicitud", "tipoSolicitud"]),
    rows() {
      return this.itemsVuelofiltered.length;
    },
    itemsVuelofiltered() {
      const filtered = this.itemsTableVuelo.filter(item => {
        return Object.keys(this.filters).every(key =>
          String(item[key]).includes(this.filters[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    }
  },
  methods: {
    ...mapActions(["getEstatusSolicitud", "getTipoSolicitud"]),
    consultaSolicitudesACotizar() {
      let obj = {
        intIDFolio: 0,
        intFKIDDetalleSolicitudViaje: 0
        // dtdFechaInicio: "2019-08-21",
        // dtdFechaFinal: "2019-08-23"
      };
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath +
            "Api/Solicitud/ConsultaSolicitudesACotizar/",
          obj,
          { hd }
        )
        .then(response => {
          var arrayProvisional = [];

          response.data.result.forEach(solicitud => {
            let fecha = moment(solicitud.dtdFechaSolicitud);
            let fechaRecepcion = moment(fecha).format("DD-MM-YYYY");
            let horaRecepcion = moment(fecha).format("HH:mm");
            let nombreSolicitante =
              (solicitud.chrNombreSolicitante != null
                ? solicitud.chrNombreSolicitante
                : "") +
              " " +
              (solicitud.chrApellidoPaterno != null
                ? solicitud.chrApellidoPaterno
                : "") +
              " " +
              (solicitud.chrApellidoMaterno != null
                ? solicitud.chrApellidoMaterno
                : "");

            let fechaSalida = null;
            let estadoSolicitud = "";

            fechaSalida =
              solicitud.dtdFechaSalidaVuelo != null
                ? moment(solicitud.dtdFechaSalidaVuelo).format("DD-MM-YYYY")
                : moment(solicitud.dtdFechaSalidaHospedaje).format(
                    "DD-MM-YYYY"
                  );
            var maryoAdia = moment()
              .add(1, "d")
              .format("YYYY-MM-DD");
            var menoADia = moment()
              .add(-1, "d")
              .format("YYYY-MM-DD");

            if (moment(fechaSalida).format("YYYY-MM-DD") > maryoAdia) {
              estadoSolicitud = "success";
            } else if (moment(fechaSalida).format("YYYY-MM-DD") < menoADia) {
              estadoSolicitud = "danger";
            } else if (
              moment(fechaSalida).format("YYYY-MM-DD") != menoADia ||
              moment(fechaSalida).format("YYYY-MM-DD") != maryoAdia
            ) {
              estadoSolicitud = "warning";
            }

            let objSolicitud = {
              intIDSolicitud: solicitud.intIDSolicitud,
              dtdFechaRecepcion: fechaRecepcion,
              horaRecepcion: horaRecepcion,
              chrNombreSolicitante: nombreSolicitante,
              intIDTipoSolicitud: solicitud.chrTipoSolicitud,
              chrEstatus: solicitud.chrEstatus,
              intIDEstatus: solicitud.intIDEstatus,
              dtdFechaSalidad: fechaSalida,
              chrEstado: estadoSolicitud,
              chrNumCotizaciones: solicitud.intNumCotizadas,
              intFKIDDetalleSolicitudViaje:
                solicitud.intFKIDDetalleSolicitudViaje,
              intFKIDDetalleSolicitudHospedaje:
                solicitud.intFKIDDetalleSolicitudHospedaje,
              intFKIDTipoSolicitud: solicitud.intFKIDTipoSolicitud
            };
            arrayProvisional.push(objSolicitud);
          });
          this.itemsTableVuelo = arrayProvisional;
          this.$store.state.spinnerCustom = false;
        })
        .catch(error => {
          this.$store.state.spinnerCustom = false;
        });
    },
    verSolicitud(solicitud) {
      let intFKIDDetalleSolicitudViaje = 0;
  
      if (solicitud.intIDTipoSolicitud == "Vuelo + Hotel") {
        this.$router.push({
          name: "detalleSolicitudVueloHospedajeId",
          params: {
            id: solicitud.intIDSolicitud,
            idDetalle: intFKIDDetalleSolicitudViaje
          }
          // query: { isAdmin: true }
        });
      } else if (solicitud.intIDTipoSolicitud == "Vuelo") {
        this.$router.push({
          name: "detalleSolicitudVueloId",
          params: {
            id: solicitud.intIDSolicitud,
            idDetalle: intFKIDDetalleSolicitudViaje
          }
          // query: { isAdmin: true }
        });
      } else {
        this.$router.push({
          name: "detalleSolicitudHospedajeId",
          params: {
            id: solicitud.intIDSolicitud,
            idDetalle: intFKIDDetalleSolicitudViaje
          }
          // query: { isAdmin: true }
        });
      }
    },
    comprarSolicitud(solicitud) {
      this.$router.push({
        name: "compra-cotizacion",
        query: {
          idSolicitud: solicitud.intIDSolicitud,
          idDetalle: 0//solicitud.intFKIDTipoSolicitud
        }
      });
    },
    editarSolicitud(solicitud) {
      switch (solicitud.intIDTipoSolicitud) {
        case "Vuelo + Hotel":
          this.$router.push({
            name: "detalleSolicitudVueloHospedajeId",
            params: {
              id: solicitud.intIDSolicitud,
              idDetalle: solicitud.intFKIDDetalleSolicitudViaje
            }
          });
          break;
        case "Vuelo":
          this.$router.push({
            name: "detalleSolicitudVueloId",
            params: {
              id: solicitud.intIDSolicitud,
              idDetalle: solicitud.intFKIDDetalleSolicitudViaje
            }
          });
          break;
        case "Hospedaje":
          this.$router.push({
            name: "detalleSolicitudHospedajeId",
            params: {
              id: solicitud.intIDSolicitud,
              idDetalle: solicitud.intFKIDDetalleSolicitudHotel
            }
          });
          break;

        default:
          break;
      }
    }
  }
};
</script>

<style>
.page-link {
  color: #000000 !important;
  border: none;
  font-size: 11px;
}
.page-item.active .page-link {
  color: #ffffff !important;
  /*border-radius: 13.8px;
  width: 27.5px;
  height: 27.5px;*/
  background-color: #ed6c1e !important;
  border-color: #ed6c1e !important;
}
.rectangle-5 {
  width: 227.9px;
  background-color: #ffffff;
}

select.selector {
  width: 239px;
  height: 148px;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.circleSuccess {
  background-color: #28a745;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.circleWarning {
  background-color: #ffc107;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
.circleDanger {
  background-color: #dc3545;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}
</style>