<template>
  <b-container>
    <b-row class="my-2">
      <b-col>
        <b-breadcrumb style="background-color:inherit; color:#333333" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-row class="my-2" style="text-align:-webkit-center;">
      <b-col xs="12" lg="4">
        <router-link :to="{name: 'vuelo-hospedaje'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-solicitud-avion-hotel.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:auto;">
            <b-card-text
              style="font-size: 25px;color:#000000"
            >{{ $t('reservaciones.vueloHospedaje') }}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
      <b-col xs="12" lg="4">
        <router-link :to="{name: 'vuelo'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-solicitud-avion.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:auto;">
            <b-card-text style="font-size: 25px;color:#000000">{{ $t('reservaciones.vuelo') }}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
      <b-col xs="12" lg="4">
        <router-link :to="{name: 'hospedaje'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-solicitud-hotel.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:auto;">
            <b-card-text style="font-size: 25px;color:#000000">{{ $t('reservaciones.hospedaje') }}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("breadcrumb.solicitudVueloHospedaje"),
          active: true
        }
      ]
    };
  }
};
</script>

<style>
.breadcrumb-item a {
  color: #333333;
  font-weight: 500;
}
.breadcrumb-item a:hover {
  color: #333333;
  font-weight: bold;
}
.breadcrumb-item.active {
  color: #333333 !important;
  font-weight: bold;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #333333 !important;
  content: "•" !important;
}
</style>
