<template>
  <b-container>
    <b-row class="my-2">
      <b-col>
        <button-back></button-back>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-card>
          <b-card-title>Alta de usuarios</b-card-title>
        </b-card>
        <b-card>
          <b-card-text>
            <b-form @submit.prevent="altaUsuario(objAltaUsuario)" @reset="$v.$reset();">
              <b-row class="my-2">
                <b-col cols="12">
                  <b-form-group label="Perfil" label-for="select-perfil" id="select-perfil-group">
                    <b-form-select id="select-perfil" v-model="objAltaUsuario.perfilSelected">
                      <option :value="null">Selecciona un perfil</option>
                      <option
                        v-for="(perfil, index) in perfiles"
                        :key="index"
                        :value="perfil"
                      >{{ perfil.text }}</option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row class="my-2">
                <b-col cols="6">
                  <b-form-group
                    label="Número usuario"
                    label-for="input-numero-usuario"
                    id="input-numero-usuario-group"
                  >
                    <b-form-input
                      id="input-numero-usuario"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.numeroUsuario.$model"
                      :state="$v.objAltaUsuario.numeroUsuario.$dirty ? !$v.objAltaUsuario.numeroUsuario.$error : null"
                      aria-describedby="input-numero-usuario-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="input-numero-usuario-feedback"
                    >Campo requerido entre 5 y 8 caracteres numéricos.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group
                    label="Autorizador"
                    label-for="input-autorizador"
                    id="input-autorizador-group"
                  >
                    <b-form-input
                      id="input-autorizador"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.autorizador.$model"
                      :state="$v.objAltaUsuario.autorizador.$dirty ? !$v.objAltaUsuario.autorizador.$error : null"
                      aria-describedby="input-autorizador-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="input-autorizador-feedback"
                    >Campo requerido entre 5 y 8 caracteres numéricos.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-row class="my-2">
                <b-col cols="6">
                  <b-form-group
                    label="Contraseña"
                    label-for="input-contrasenia"
                    id="input-contrasenia-group"
                  >
                    <b-form-input
                      id="input-contrasenia"
                      type="password"
                      required
                      v-model="$v.objAltaUsuario.contrasenia.$model"
                      :state="$v.objAltaUsuario.contrasenia.$dirty ? !$v.objAltaUsuario.contrasenia.$error : null"
                      aria-describedby="input-contrasenia-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="input-contrasenia-feedback"
                    >Campo requerido con 8 o más caracteres alfanuméricos (al menos un número y una letra).</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group
                    label="Confirma tu contraseña"
                    label-for="input-confirma-contrasenia"
                    id="input-confirma-contrasenia-group"
                  >
                    <b-form-input
                      id="input-confirma-contrasenia"
                      type="password"
                      required
                      v-model="$v.objAltaUsuario.confirmContrasenia.$model"
                      :state="$v.objAltaUsuario.confirmContrasenia.$dirty ? !$v.objAltaUsuario.confirmContrasenia.$error : null"
                      aria-describedby="input-confirma-contrasenia-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="input-confirma-contrasenia-feedback"
                    >Campo requerido. Debe coincidir con la contraseña.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-row class="my-2">
                <b-col cols="6">
                  <b-form-group
                    label="Correo electrónico"
                    label-for="input-correo"
                    id="input-correo-group"
                  >
                    <b-form-input
                      id="input-correo"
                      type="email"
                      required
                      v-model="$v.objAltaUsuario.correo.$model"
                      :state="$v.objAltaUsuario.correo.$dirty ? !$v.objAltaUsuario.correo.$error : null"
                      aria-describedby="input-correo-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="input-correo-feedback"
                    >Campo requerido. Debe ser un correo válido</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group
                    label="Nombre del empleado"
                    label-for="input-nombre"
                    id="input-nombre-group"
                  >
                    <b-form-input
                      id="input-nombre"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.nombre.$model"
                      :state="$v.objAltaUsuario.nombre.$dirty ? !$v.objAltaUsuario.nombre.$error : null"
                      aria-describedby="input-nombre-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-nombre-feedback">Campo requerido.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-row class="my-2">
                <b-col cols="6">
                  <b-form-group
                    label="Nombre del autorizador"
                    label-for="input-nombre-autorizador"
                    id="input-nombre-autorizador-group"
                  >
                    <b-form-input
                      id="input-nombre-autorizador"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.nombreAutorizador.$model"
                      :state="$v.objAltaUsuario.nombreAutorizador.$dirty ? !$v.objAltaUsuario.nombreAutorizador.$error : null"
                      aria-describedby="input-nombre-autorizador-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-nombre-autorizador-feedback">Campo requerido.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group
                    label="Sociedad a la que pertenece"
                    label-for="input-sociedad"
                    id="input-sociedad-group"
                  >
                    <b-form-select id="select-sociedad" v-model="objAltaUsuario.sociedadSelected">
                      <option :value="null">Selecciona una sociedad</option>
                      <option
                        v-for="(sociedad, index) in sociedades"
                        :key="index"
                        :value="sociedad"
                      >{{ sociedad.text }}</option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-row class="my-2">
                <b-col cols="6">
                  <b-form-group
                    label="Sociedad a la que tendrá acceso"
                    label-for="input-sociedad-acceso"
                    id="input-sociedad-acceso-group"
                  >
                    <b-form-select
                      id="input-sociedad-acceso"
                      v-model="objAltaUsuario.sociedadSelectedAcceso"
                    >
                      <option :value="null">Selecciona las sociedades</option>
                      <option
                        v-for="(sociedad, index) in sociedades"
                        :key="index"
                        :value="sociedad"
                      >{{ sociedad.text }}</option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group
                    label="Puesto del empleado"
                    label-for="input-puesto-empleado"
                    id="input-puesto-empleado-group"
                  >
                    <b-form-input
                      id="input-puesto-empleado"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.puestoEmpleado.$model"
                      :state="$v.objAltaUsuario.puestoEmpleado.$dirty ? !$v.objAltaUsuario.puestoEmpleado.$error : null"
                      aria-describedby="input-puesto-empleado-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-puesto-empleado-feedback">Campo requerido.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-row class="my-2">
                <b-col cols="6">
                  <b-form-group
                    label="Puesto del autorizador"
                    label-for="input-puesto-autorizador"
                    id="input-puesto-autorizador-group"
                  >
                    <b-form-input
                      id="input-puesto-autorizador"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.puestoAutorizador.$model"
                      :state="$v.objAltaUsuario.puestoAutorizador.$dirty ? !$v.objAltaUsuario.puestoAutorizador.$error : null"
                      aria-describedby="input-puesto-autorizador-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-puesto-autorizador-feedback">Campo requerido.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group
                    label="Departamento del empleado"
                    label-for="input-departamento-empleado"
                    id="input-departamento-empleado-group"
                  >
                    <b-form-input
                      id="input-departamento-empleado"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.departamentoEmpleado.$model"
                      :state="$v.objAltaUsuario.departamentoEmpleado.$dirty ? !$v.objAltaUsuario.departamentoEmpleado.$error : null"
                      aria-describedby="input-departamento-empleado-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback
                      id="input-departamento-empleado-feedback"
                    >Campo requerido.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>

              <b-row class="my-2">
                <b-col cols="6">
                  <b-form-group
                    label="Centro de coste"
                    label-for="input-centro-coste"
                    id="input-centro-coste-group"
                  >
                    <b-form-input
                      id="input-centro-coste"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.centroCoste.$model"
                      :state="$v.objAltaUsuario.centroCoste.$dirty ? !$v.objAltaUsuario.centroCoste.$error : null"
                      aria-describedby="input-centro-coste-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-centro-coste-feedback">Campo requerido.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group
                    label="Año de nacimiento"
                    label-for="input-anio-nacimiento"
                    id="input-anio-nacimiento-group"
                  >
                    <b-form-input
                      id="input-anio-nacimiento"
                      type="text"
                      required
                      v-model="$v.objAltaUsuario.anioNacimiento.$model"
                      :state="$v.objAltaUsuario.anioNacimiento.$dirty ? !$v.objAltaUsuario.anioNacimiento.$error : null"
                      aria-describedby="input-anio-nacimiento-feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-anio-nacimiento-feedback">Campo requerido.</b-form-invalid-feedback>
                  </b-form-group>
                </b-col>
              </b-row>

              <!-- 
                Año de nacimiento lo tomara en base al número de empleado 
              -->

              <b-row>
                <b-col cols="6">
                  <b-form-group>
                    <b-button block variant="outline-danger" type="reset">Limpiar</b-button>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group>
                    <b-button
                      block
                      :disabled="$v.objAltaUsuario.$invalid"
                      type="submit"
                      variant="outline-success"
                    >Dar de alta</b-button>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import {
  required,
  minLength,
  maxLength,
  numeric,
  sameAs,
  alphaNum,
  email
} from "vuelidate/lib/validators";
import ButtonBack from "@/components/ButtonBack.vue";

export default {
  data() {
    return {
      objAltaUsuario: {
        perfilSelected: null,
        numeroUsuario: "",
        autorizador: "",
        contrasenia: "",
        confirmContrasenia: "",
        correo: "",
        nombre: "",
        nombreAutorizador: "",
        sociedadSelected: null,
        sociedadSelectedAcceso: null,
        puestoEmpleado: "",
        puestoAutorizador: "",
        departamentoEmpleado: "",
        centroCoste: "",
        anioNacimiento: ""
      },
      perfiles: [
        { value: "1", text: "Usuario" },
        { value: "2", text: "Autorizador" },
        { value: "3", text: "Administrador de reservaciones" },
        { value: "4", text: "Auditor" }
      ],
      sociedades: [
        { value: "1", text: "Del Sol" },
        { value: "2", text: "Locura Boutique" },
        { value: "3", text: "Woolworth" }
      ]
    };
  },
  components: {
    ButtonBack
  },
  validations: {
    objAltaUsuario: {
      perfilSelected: { required },
      numeroUsuario: {
        required,
        numeric,
        minLength: minLength(5),
        maxLength: maxLength(8)
      },
      autorizador: {
        required,
        numeric,
        minLength: minLength(5),
        maxLength: maxLength(8)
      },
      contrasenia: {
        required,
        // minLength: minLength(8),
        // maxLength: maxLength(8),
        alphaNum,
        strongPassword(password1) {
          return (
            /[a-zA-Z]/.test(password1) && // checks for a-z
            /[0-9]/.test(password1) && // checks for 0-9
            password1.length >= 8
          );
        }
      },
      confirmContrasenia: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(8),
        alphaNum,
        sameAsPassword: sameAs("contrasenia")
      },
      correo: { required, email },
      nombre: { required },
      nombreAutorizador: { required },
      puestoEmpleado: { required },
      puestoAutorizador: { required },
      departamentoEmpleado: { required },
      centroCoste: { required },
      anioNacimiento: { required }
    }
  },
  methods: {
    altaUsuario(obj) {
      
    }
  }
};
</script>

<style>
</style>
