<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <div class="crear-solicitud" style="width:100%">Propuestas de vuelo + hospedaje</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-modal id="modal-cotizaciones">
      <template slot="modal-header" slot-scope="{ close }">
        <h5 style="color: #ed6c1e;">Cotizaciones</h5>
        <b-img style="cursor:pointer;" @click="close()" :src="require('@/img/ic-close-modal.svg')"></b-img>
      </template>
      <b-card style="border:none">
        <b-card-text>¡Cotizaciones enviadas con éxito!</b-card-text>
      </b-card>
      <template slot="modal-footer" slot-scope="{ ok }">
        <b-button
          class="button-modal-recupera-pass"
          style="background-color:#ed6c1e;border-color:#ed6c1e;"
          @click="ok()"
        >Ok</b-button>
      </template>
    </b-modal>
    <b-row class="my-2">
      <b-col lg="6" v-if="$route.query.tipoSolicitud == 1 || $route.query.tipoSolicitud == 2">
        <b-card v-for="(vuelos, index) in listaVuelo" :key="index">
          <b-card-title>Propuesta de vuelos</b-card-title>
          <b-card-text>Origen: {{ vuelos.chrClaveOrigen}} - Destino : {{ vuelos.chrClaveDestino}} - Fecha Entrada: {{ vuelos.dtdFechaSalidad}} - Fecha Salidad:{{ vuelos.dtdFechaRegreso}}</b-card-text>
          <b-card-body>
            <carga-imagenes
              tipoSolicitud="2"
              :idDetalleHospedajeVuelo="vuelos.intIDDetalleSolicitudViaje"
            ></carga-imagenes>
          </b-card-body>
          <br />
        </b-card>
      </b-col>

      <b-col lg="6" v-if="$route.query.tipoSolicitud == 1 || $route.query.tipoSolicitud == 3">
        <b-card v-for="(hospedaje, index) in listaHospedajes" :key="index">
          <b-card-title>Propuesta de hospedaje</b-card-title>
          <b-card-text>Origen: {{ hospedaje.chrClaveOrigen}} - Destino : {{ hospedaje.chrClaveDestino}} - Fecha Entrada: {{ hospedaje.dtdFechaSalidad}} - Fecha Salidad:{{ hospedaje.dtdFechaRegreso}}</b-card-text>
          <b-card-body>
            <carga-imagenes
              tipoSolicitud="3"
              :idDetalleHospedajeVuelo="hospedaje.intIDDetalleSolicitudHotel"
            ></carga-imagenes>
          </b-card-body>
          <br />
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-card>
          <b-card-text>
            <b-alert
              show
              variant="warning"
            >Para subir las imágenes cargadas haz click en la flecha de cada imagen en la esquina superior derecha.</b-alert>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
    <b-row class="mt-4">
      <b-col cols="6" v-if="$route.query.tipoSolicitud == 1"></b-col>
      <b-col cols="6">
        <b-row class="my-2">
          <b-col lg="6" class="my-2">
            <b-button class="button-secundario" @click="cancelar()">Cancelar</b-button>
          </b-col>
          <b-col lg="6" class="my-2">
            <b-button class="button-estandar" @click="enviarImagenes()">Enviar notificación</b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row v-if="imagenesCotizacionesVuelo.length > 0">
      <b-col cols="12">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button
              block
              href="#"
              v-b-toggle.accordion-imagenes-vuelo
              variant="secondary"
            >Imágenes de vuelos cargadas</b-button>
          </b-card-header>
          <b-collapse
            id="accordion-imagenes-vuelo"
            visible
            accordion="accordion-img-vuelo"
            role="tabpanel"
          >
            <b-card-body>
              <b-card-text v-for="(imagen, index) in imagenesCotizacionesVuelo" :key="index">
                <img :src="imagen.chrPath" alt style="max-width:100%;" />
                <b-row>
                  <b-col lg="6" class="my-2">
                    <b-button
                      class="button-estandar"
                      @click="eliminaImagenes(imagen.intIDImagenesCotizar)"
                    >Eliminar</b-button>
                  </b-col>
                </b-row>
              </b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>
      </b-col>
    </b-row>
    <b-row v-if="imagenesCotizacionesHospedaje.length > 0">
      <b-col cols="12">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button
              block
              href="#"
              v-b-toggle.accordion-2
              variant="secondary"
            >Imágenes de hospedaje cargadas</b-button>
          </b-card-header>
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text v-for="(imagen, index) in imagenesCotizacionesHospedaje" :key="index">
                <img :src="imagen.chrPath" alt style="max-width:100%;" />
                <b-button
                  class="button-estandar"
                  @click="eliminaImagenes(imagen.intIDImagenesCotizar)"
                >Eliminar</b-button>
              </b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from "moment";
import CargaImagenes from "@/components/CargaImagenes.vue";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Propuestas vuelo + hospedaje",
          active: true
        }
      ],
      listaHospedajes: [],
      listaVuelo: [],
      intIDDetalleSolicitudHotel: "",
      intIDDetalleSolicitudViaje: 0
    };
  },
  computed: {
    ...mapState(["imagenesCotizacionesVuelo", "imagenesCotizacionesHospedaje"])
  },
  components: {
    CargaImagenes
  },
  created() {
    this.consultarCotizaciones({
      idSolicitud: this.$route.query.solicitud,
      idDetalleSolicitud: 0
    });
    this.consultaDetalleVueloHospedaje();
  },
  methods: {
    ...mapActions(["enviarCotizacionUsuario", "consultarCotizaciones"]),
    cancelar() {
      this.$router.push({ name: "detalleSolicitudes" });
    },
    enviarImagenes() {
      this.enviarCotizacionUsuario(this.$route.query.solicitud);
      this.$bvModal.show("modal-cotizaciones");
      let vm = this;
      setTimeout(() => {
        vm.$router.push({ name: "detalleSolicitudes" });
        vm.$bvModal.hide("modal-cotizaciones");
      }, 3000);
    },
    eliminaImagenes(idImagen) {
      let objIdImage = {
        intIDImagen: idImagen
      };

      let hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/EliminaImagenes/",
          objIdImage,
          { hd }
        )
        .then(response => {
          this.consultarCotizaciones({
            idSolicitud: this.$route.query.solicitud,
            idDetalleSolicitud: 0
          });
        })
        .catch(error => {});
    },
    consultaDetalleVueloHospedaje() {
      let objSolicitud = {
        intIDSolicitud: this.$route.query.solicitud,
        intFKIDDetalleSolicitudViaje: 0
      };

      let hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          response.data.result.detalleSolicitudViaje.forEach(detalleViaje => {
            this.intIDDetalleSolicitudViaje =
              detalleViaje.intIDDetalleSolicitudViaje;
            let objViaje = {
              intIDDetalleSolicitudViaje:
                detalleViaje.intIDDetalleSolicitudViaje,
              intFKIDSolicitud: detalleViaje.intFKIDSolicitud,
              intFKIDTipoVuelo: detalleViaje.intFKIDTipoVuelo,
              chrClaveOrigen: detalleViaje.chrClaveOrigen,
              chrClaveDestino: detalleViaje.chrClaveDestino,
              dtdFechaSalidad:
                detalleViaje.dtdFechaSalidad != null
                  ? moment(detalleViaje.dtdFechaSalidad).format("DD-MM-YYYY")
                  : "",
              dtdFechaRegreso:
                detalleViaje.dtdFechaRegreso != null
                  ? moment(detalleViaje.dtdFechaRegreso).format("DD-MM-YYYY")
                  : "",
              chrPresupuesto: detalleViaje.chrPresupuesto,
              chrComentarios: detalleViaje.chrComentarios,
              intFKIDTipoViaje: detalleViaje.intFKIDTipoViaje,
              chrCentroCostoViaje: detalleViaje.chrCentroCostoViaje,
              chrAerolinea: detalleViaje.chrAerolinea,
              chrMotivoViaje: detalleViaje.chrMotivoViaje,
              chrColaboradorSelect: detalleViaje.chrColaboradorSelect
            };
            this.listaVuelo.push(objViaje);
          });

          response.data.result.detalleSolicitudHotel.forEach(
            detalleHospedaje => {
              this.intIDDetalleSolicitudHotel =
                detalleHospedaje.intIDDetalleSolicitudHotel;
              let objHospedaje = {
                intIDDetalleSolicitudHotel:
                  detalleHospedaje.intIDDetalleSolicitudHotel,
                intFKIDSolicitud: detalleHospedaje.intFKIDSolicitud,
                chrClaveDestino: detalleHospedaje.chrClaveDestino,
                chrClaveOrigen: detalleHospedaje.chrClaveOrigen,
                dtdFechaSalidad:
                  detalleHospedaje.dtdFechaSalidad != null
                    ? moment(detalleHospedaje.dtdFechaSalidad).format(
                        "DD-MM-YYYY"
                      )
                    : "",
                dtdFechaRegreso:
                  detalleHospedaje.dtdFechaRegreso != null
                    ? moment(detalleHospedaje.dtdFechaRegreso).format(
                        "DD-MM-YYYY"
                      )
                    : "",
                chrPresuspuesto: detalleHospedaje.chrPresuspuesto,
                chrComentarios: detalleHospedaje.chrComentarios,
                intFKIDTipoHabitacion: detalleHospedaje.intFKIDTipoHabitacion,
                chrEsHotel: detalleHospedaje.chrEsHotel,
                intNoHabitaciones: detalleHospedaje.intNoHabitaciones,
                chrCentroCostoHospedaje:
                  detalleHospedaje.chrCentroCostoHospedaje,
                chrNochesReservadas: detalleHospedaje.chrNochesReservadas,
                intFKIDTipoVuelo: detalleHospedaje.intFKIDTipoVuelo,
                intFKIDTipoViaje: detalleHospedaje.intFKIDTipoViaje
              };
              this.listaHospedajes.push(objHospedaje);
            }
          );
        })
        .catch(error => {});
    }
  }
};
</script>

<style>
</style>