<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <b-card>
          <b-card-title>Configuración</b-card-title>
        </b-card>
      </b-col>
    </b-row>
    <b-row class="my-2">
      <b-col>
        <b-breadcrumb style="background-color:inherit; color:#333333" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-modal id="modal-eliminar-valor-catalogo">
      <template slot="modal-header" slot-scope="{ close }">
        <h5 style="color: #ed6c1e;">Eliminar</h5>
        <b-img style="cursor:pointer;" @click="close()" :src="require('@/img/ic-close-modal.svg')"></b-img>
      </template>
      <b-card style="border:none">
        <b-card-text>¿Seguro que deseas eliminar la entrada?</b-card-text>
      </b-card>
      <template slot="modal-footer" slot-scope="{ close }">
        <b-button class="button-secundario" @click="close()">No</b-button>
        <b-button class="button-estandar" @click="eliminarDato()">Sí</b-button>
      </template>
    </b-modal>
    <b-row class="my-2">
      <b-col lg="6">
        <b-card>
          <b-card-title>Tipo de vuelo</b-card-title>
          <div style="overflow-x: auto;">
            <b-table
              class="scrollableTable"
              striped
              hover
              :items="itemsVuelofiltered"
              :fields="camposTipoVuelo"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key!='actions'"
                    v-model="filtersVuelo[field.key]"
                    :placeholder="field.label"
                  />
                </td>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  href="#"
                  v-on:click.prevent="editTipoVuelo(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="edit" />
                </a>
                <a href="#" v-on:click.prevent="confirmDelete(data.item,1)" class="icon">
                  <font-awesome-icon color="#333333" icon="trash" />
                </a>
              </template>
            </b-table>
          </div>
          <hr />
          <spinner-custom v-if="spinnerCustomVuelo"></spinner-custom>
          <b-alert
            style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
            :show="alertaCreatedVuelo"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Campo añadido al catálogo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-alert
            style="border-radius: 6px;background-color:#ff3a3a;color:#ffffff"
            :show="alertaErrorVuelo"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Hubo algún error, inténtalo de nuevo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-form-group
            v-if="!alertaCreatedVuelo && !editadoVuelo"
            label="Agrega un nuevo campo"
            label-for="input-campo-tipo-vuelo"
          >
            <b-form-input id="input-campo-tipo-vuelo" v-model="tipoVueloNuevo"></b-form-input>
          </b-form-group>
          <b-button
            v-if="!alertaCreatedVuelo && !editadoVuelo"
            class="button-estandar"
            @click="saveTipoVuelo(tipoVueloNuevo)"
            :disabled="!tipoVueloNuevo"
          >Agregar</b-button>
          <b-form-group
            v-if="!alertaCreatedVuelo && editadoVuelo"
            label="Edita el campo"
            label-for="input-campo-tipo-vuelo-edit"
          >
            <b-form-input
              id="input-campo-tipo-vuelo-edit"
              v-model="vueloSeleccionado.chrDescripcion"
            ></b-form-input>
          </b-form-group>
          <b-row>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedVuelo && editadoVuelo"
                class="button-estandar"
                @click="saveTipoVuelo(vueloSeleccionado)"
                :disabled="!vueloSeleccionado.chrDescripcion"
              >Editar</b-button>
            </b-col>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedVuelo && editadoVuelo"
                class="button-secundario"
                @click="cancelarEditado(1)"
              >Cancelar</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <b-col lg="6">
        <b-card>
          <b-card-title>Tipo de habitación</b-card-title>
          <div style="overflow-x: auto;">
            <b-table
              class="scrollableTable"
              striped
              hover
              :items="itemsHabitacionfiltered"
              :fields="camposTipoHabitacion"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key!='actions'"
                    v-model="filtersHabitacion[field.key]"
                    :placeholder="field.label"
                  />
                </td>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  href="#"
                  v-on:click.prevent="editTipoHabitacion(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="edit" />
                </a>
                <a href="#" v-on:click.prevent="confirmDelete(data.item,2)" class="icon">
                  <font-awesome-icon color="#333333" icon="trash" />
                </a>
              </template>
            </b-table>
          </div>
          <hr />
          <spinner-custom v-if="spinnerCustomHabitacion"></spinner-custom>
          <b-alert
            style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
            :show="alertaCreatedHabitacion"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Campo añadido al catálogo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-alert
            style="border-radius: 6px;background-color:#ff3a3a;color:#ffffff"
            :show="alertaErrorHabitacion"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Hubo algún error, inténtalo de nuevo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-form-group
            v-if="!alertaCreatedHabitacion && !editadoHabitacion"
            label="Agrega un nuevo campo"
            label-for="input-campo-tipo-habitacion"
          >
            <b-form-input id="input-campo-tipo-habitacion" v-model="tipoHabitacionNuevo"></b-form-input>
          </b-form-group>
          <b-button
            v-if="!alertaCreatedHabitacion && !editadoHabitacion"
            class="button-estandar"
            @click="saveTipoHabitacion(tipoHabitacionNuevo)"
            :disabled="!tipoHabitacionNuevo"
          >Agregar</b-button>
          <b-form-group
            v-if="!alertaCreatedHabitacion && editadoHabitacion"
            label="Edita el campo"
            label-for="input-campo-tipo-habitacion-edit"
          >
            <b-form-input
              id="input-campo-tipo-habitacion-edit"
              v-model="habitacionSeleccionada.chrDescripcion"
            ></b-form-input>
          </b-form-group>
          <b-row>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedHabitacion && editadoHabitacion"
                class="button-estandar"
                @click="saveTipoHabitacion(habitacionSeleccionada)"
                :disabled="!habitacionSeleccionada.chrDescripcion"
              >Editar</b-button>
            </b-col>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedHabitacion && editadoHabitacion"
                class="button-secundario"
                @click="cancelarEditado(2)"
              >Cancelar</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-row class="my-5">
      <b-col lg="6">
        <b-card>
          <b-card-title>Tipo de viaje</b-card-title>
          <div stlye="overflow-x: auto;">
            <b-table
              class="scrollableTable"
              striped
              hover
              :items="itemsViajefiltered"
              :fields="camposTipoViaje"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key!='actions'"
                    v-model="filtersViaje[field.key]"
                    :placeholder="field.label"
                  />
                </td>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  href="#"
                  v-on:click.prevent="editTipoViaje(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="edit" />
                </a>
                <a href="#" v-on:click.prevent="confirmDelete(data.item,3)" class="icon">
                  <font-awesome-icon color="#333333" icon="trash" />
                </a>
              </template>
            </b-table>
          </div>
          <hr />
          <spinner-custom v-if="spinnerCustomViaje"></spinner-custom>
          <b-alert
            style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
            :show="alertaCreatedViaje"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Campo añadido al catálogo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-alert
            style="border-radius: 6px;background-color:#ff3a3a;color:#ffffff"
            :show="alertaErrorViaje"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Hubo algún error, inténtalo de nuevo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-form-group
            v-if="!alertaCreatedViaje && !editadoViaje"
            label="Agrega un nuevo campo"
            label-for="input-campo-tipo-viaje"
          >
            <b-form-input id="input-campo-tipo-viaje" v-model="tipoViajeNuevo"></b-form-input>
          </b-form-group>
          <b-button
            v-if="!alertaCreatedViaje && !editadoViaje"
            class="button-estandar"
            @click="saveTipoViaje(tipoViajeNuevo)"
            :disabled="!tipoViajeNuevo"
          >Agregar</b-button>
          <b-form-group
            v-if="!alertaCreatedViaje && editadoViaje"
            label="Agrega un nuevo campo"
            label-for="input-campo-tipo-viaje"
          >
            <b-form-input id="input-campo-tipo-viaje" v-model="viajeSeleccionado.chrDescripcion"></b-form-input>
          </b-form-group>
          <b-row>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedViaje && editadoViaje"
                class="button-estandar"
                @click="saveTipoViaje(viajeSeleccionado)"
                :disabled="!viajeSeleccionado.chrDescripcion"
              >Editar</b-button>
            </b-col>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedViaje && editadoViaje"
                class="button-secundario"
                @click="cancelarEditado(3)"
              >Cancelar</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <b-col lg="6">
        <b-card>
          <b-card-title>Estatus de la solicitud</b-card-title>
          <div style="overflow-x: auto;">
            <b-table
              class="tableCatalogos scrollableTable"
              striped
              hover
              :items="itemsEstatusfiltered"
              :fields="camposEstatus"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key!='actions' && field.key!='chrColor'"
                    v-model="filtersEstatus[field.key]"
                    :placeholder="field.label"
                  />
                </td>
              </template>
              <template slot="chrColor" slot-scope="data">
                <div :style="{color: data.item.chrColor}">•</div>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  href="#"
                  v-on:click.prevent="editEstatus(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="edit" />
                </a>
                <a href="#" v-on:click.prevent="confirmDelete(data.item,4)" class="icon">
                  <font-awesome-icon color="#333333" icon="trash" />
                </a>
              </template>
            </b-table>
          </div>
          <hr />
          <spinner-custom v-if="spinnerCustomEstatus"></spinner-custom>
          <b-alert
            style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
            :show="alertaCreatedEstatus"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Campo añadido al catálogo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-alert
            style="border-radius: 6px;background-color:#ff3a3a;color:#ffffff"
            :show="alertaErrorEstatus"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Hubo algún error, inténtalo de nuevo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-form-group
            v-if="!alertaCreatedEstatus && !editadoEstatus"
            label="Agrega un nuevo campo"
            label-for="input-campo-tipo-estatus"
          >
            <b-form-input id="input-campo-tipo-estatus" type="text" v-model="tipoEstatusNuevo"></b-form-input>
            <br />
            <b-form-input
              id="input-campo-tipo-estatus"
              type="text"
              v-model="tipoEstatusNuevoDescripcion"
            ></b-form-input>
            <br />
            <b-form-input
              id="input-campo-tipo-estatus"
              type="color"
              v-model="tipoEstatusNuevoColor"
            ></b-form-input>
          </b-form-group>
          <b-button
            v-if="!alertaCreatedEstatus && !editadoEstatus"
            class="button-estandar"
            @click="saveEstatusSolicitud(tipoEstatusNuevo,tipoEstatusNuevoDescripcion,tipoEstatusNuevoColor)"
            :disabled="!tipoEstatusNuevo || !tipoEstatusNuevoDescripcion || !tipoEstatusNuevoColor"
          >Agregar</b-button>
          <b-form-group
            v-if="!alertaCreatedEstatus && editadoEstatus"
            label="Agrega un nuevo campo"
            label-for="input-campo-tipo-estatus"
          >
            <b-form-input id="input-campo-tipo-estatus" v-model="estatusSeleccionado.chrEstatus"></b-form-input>
            <br />
            <b-form-input
              id="input-campo-tipo-estatus"
              v-model="estatusSeleccionado.chrDescripcion"
            ></b-form-input>
            <br />
            <b-form-input
              id="input-campo-tipo-estatus"
              type="color"
              v-model="estatusSeleccionado.chrColor"
            ></b-form-input>
          </b-form-group>
          <b-row>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedEstatus && editadoEstatus"
                class="button-estandar"
                @click="saveEstatusSolicitud(estatusSeleccionado)"
                :disabled="!estatusSeleccionado.chrEstatus || !estatusSeleccionado.chrDescripcion || !estatusSeleccionado.chrColor"
              >Editar</b-button>
            </b-col>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedEstatus && editadoEstatus"
                class="button-secundario"
                @click="cancelarEditado(4)"
              >Cancelar</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-row class="my-5">
      <b-col lg="6">
        <b-card>
          <b-card-title>Tarjetas de crédito</b-card-title>
          <b-form>
            <b-form-group label="Número de la tarjeta" label-for="input-campo-tipo-tarjeta">
              <b-form-input
                placeholder="Número de tarjeta"
                id="input-campo-tipo-tarjeta"
                v-model="datosBancarios.chrCuenta"
              ></b-form-input>
            </b-form-group>
            <b-form-group label="Nombre del titular" label-for="input-campo-tipo-tarjeta">
              <b-form-input
                placeholder="Titular de la tarjeta"
                id="input-campo-tipo-tarjeta"
                v-model="datosBancarios.chrNombreBeneficiario"
              ></b-form-input>
            </b-form-group>
            <b-row>
              <b-col cols="6">
                <b-form-group label="Nombre del banco" label-for="input-campo-tipo-tarjeta">
                  <b-form-input
                    placeholder="Nombre del banco"
                    id="input-campo-tipo-tarjeta"
                    v-model="datosBancarios.chrNombreBanco"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group label="Caducidad de tarjeta">
                  <datepicker
                    minimum-view="month"
                    format="MM/yy"
                    v-model="datosBancarios.chrAnioMesVencimiento"
                  ></datepicker>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form>
          <b-button class="button-estandar" @click="saveTarjetaNueva(datosBancarios)">Agregar</b-button>
        </b-card>
      </b-col>
      <b-col lg="6">
        <b-card>
          <b-card-title>Datos fiscales</b-card-title>
          <b-form @ok.prevent="saveDatosFiscales(datosFiscales)">
            <b-form-group>
              <b-input placeholder="Razón social" v-model="datosFiscales.chrRazonSocial"></b-input>
            </b-form-group>
            <b-form-group>
              <b-input placeholder="RFC" v-model="datosFiscales.chrRFC"></b-input>
            </b-form-group>
            <b-form-group>
              <b-input placeholder="Dirección" v-model="datosFiscales.chrDireccion"></b-input>
            </b-form-group>
            <b-form-group>
              <b-input placeholder="Ciudad" v-model="datosFiscales.chrCiudad"></b-input>
            </b-form-group>
            <b-row>
              <b-col cols="6">
                <b-button @click="cancelarDatosFiscales()" class="button-secundario">Cancelar</b-button>
              </b-col>
              <b-col cols="6">
                <b-button @click="saveDatosFiscales(datosFiscales)" class="button-estandar">Guardar</b-button>
              </b-col>
            </b-row>
          </b-form>
          <hr />
          <spinner-custom v-if="spinnerCustomDatoFiscal"></spinner-custom>
          <b-alert
            style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
            :show="alertaDatoFiscalCreated"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Tarjeta añadida al catálogo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-alert
            style="border-radius: 6px;background-color:#ff3a3a;color:#ffffff"
            :show="alertaErrorDatoFiscal"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Hubo algún error, inténtalo de nuevo.</span>
              </b-col>
            </b-row>
          </b-alert>
        </b-card>
      </b-col>
    </b-row>
    <b-row class="my-5">
      <b-col lg="6">
        <b-card>
          <b-card-title>Texto Login</b-card-title>
          <b-form-group>
            <b-form-input v-model="$store.state.mensajeLoginConfig.chrTitulo"></b-form-input>
          </b-form-group>
          <b-form-group label="Configura el texto a mostrar en la pantalla de login">
            <b-form-textarea
              id="textarea"
              v-model="$store.state.mensajeLoginConfig.chrSubtitulo"
              placeholder="Introduce tu texto"
              rows="6"
              max-rows="10"
            ></b-form-textarea>
          </b-form-group>
          <b-row>
            <b-col cols="6"></b-col>
            <b-col cols="6">
              <b-button
                @click="guardarMensajeLoginConfig($store.state.mensajeLoginConfig)"
                class="button-estandar"
              >Editar</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <b-col lg="6">
        <b-card>
          <b-card-title>Configuración semaforo</b-card-title>
          <div style="overflow-x: auto;">
            <b-table
              class="tableCatalogos scrollableTable"
              striped
              hover
              :items="itemSemaforofiltered"
              :fields="camposSemaforo"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <input
                    v-if="field.key!='actions'"
                    v-model="filterSemaforo[field.key]"
                    :placeholder="field.label"
                  />
                </td>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  href="#"
                  v-on:click.prevent="editSemaforo(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="edit" />
                </a>
                <a href="#" v-on:click.prevent="confirmDelete(data.item,7)" class="icon">
                  <font-awesome-icon color="#333333" icon="trash" />
                </a>
              </template>
            </b-table>
          </div>
          <hr />
          <spinner-custom v-if="spinnerCustomSemaforo"></spinner-custom>
          <b-alert
            style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
            :show="alertaCreatedSemaforo"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Campo añadido al catálogo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-alert
            style="border-radius: 6px;background-color:#ff3a3a;color:#ffffff"
            :show="alertaErrorSemaforo"
          >
            <b-row>
              <b-col cols="2">
                <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
              </b-col>
              <b-col cols="10">
                <span>Hubo algún error, inténtalo de nuevo.</span>
              </b-col>
            </b-row>
          </b-alert>
          <b-form-group
            v-if="!alertaCreatedSemaforo && !editadoSemaforo"
            label="Agrega un nuevo campo"
            label-for="input-campo-tiempo"
          >
            <b-form-input placeholder="Tiempo (Dias)" id="input-campo-tiempo" v-model="tiempoNuevo"></b-form-input>

            <b-form-select id="select-operador" v-model="operadorNuevo">
              <option :value="null" disabled>{{ $t('reservaciones.seleccionar') }}</option>
              <option
                v-for="th in this.selectOperador"
                :key="th.value"
                :value="th.value"
              >{{ th.text }}</option>
            </b-form-select>

            <b-form-select id="select-color" v-model="colorNuevo">
              <option :value="null" disabled>{{ $t('reservaciones.seleccionar') }}</option>
              <option
                v-for="th in this.selectEstadoSolicitud"
                :key="th.value"
                :value="th.value"
              >{{ th.text }}</option>
            </b-form-select>
          </b-form-group>

          <b-button
            v-if="!alertaCreatedSemaforo && !editadoSemaforo"
            class="button-estandar"
            @click="saveSemaforo(tiempoNuevo,operadorNuevo,colorNuevo)"
            :disabled="!tiempoNuevo || !operadorNuevo || !colorNuevo"
          >Agregar</b-button>
          <b-form-group
            v-if="!alertaCreatedSemaforo && editadoSemaforo"
            label="Agrega un nuevo campo"
            label-for="input-campo-tipo-estatus"
          >
            <b-form-input
              placeholder="Tiempo (Dias)"
              id="input-campo-tiempo"
              v-model="semaforoSeleccionada.chrTiempo"
            ></b-form-input>

            <b-form-select id="select-operador" v-model="semaforoSeleccionada.chrOperador">
              <option :value="null" disabled>{{ $t('reservaciones.seleccionar') }}</option>
              <option
                v-for="th in this.selectOperador"
                :key="th.value"
                :value="th.value"
              >{{ th.text }}</option>
            </b-form-select>

            <b-form-select id="select-color" v-model="semaforoSeleccionada.chrColor">
              <option :value="null" disabled>{{ $t('reservaciones.seleccionar') }}</option>
              <option
                v-for="th in this.selectEstadoSolicitud"
                :key="th.value"
                :value="th.value"
              >{{ th.text }}</option>
            </b-form-select>
          
          </b-form-group>
          <b-row>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedSemaforo && editadoSemaforo"
                class="button-estandar"
                @click="saveSemaforo(semaforoSeleccionada)"
                :disabled="!semaforoSeleccionada.chrTiempo || !semaforoSeleccionada.chrColor || !semaforoSeleccionada.chrOperador"
              >Editar</b-button>
            </b-col>
            <b-col cols="6">
              <b-button
                v-if="!alertaCreatedSemaforo && editadoSemaforo"
                class="button-secundario"
                @click="cancelarEditado(7)"
              >Cancelar</b-button>
            </b-col>
          </b-row>
        </b-card>
     
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
import SpinnerCustom from "@/components/SpinnerCustom.vue";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
export default {
  data() {
    return {
      spinnerCustomVuelo: false,
      spinnerCustomHabitacion: false,
      spinnerCustomViaje: false,
      spinnerCustomEstatus: false,

      spinnerCustomDatoFiscal: false,
      spinnerCustomSemaforo: false,
      alertaCreatedVuelo: false,
      alertaCreatedHabitacion: false,
      alertaCreatedViaje: false,
      alertaCreatedEstatus: false,
      alertaCreatedSemaforo: false,
      alertaTarjetaCreated: false,
      alertaDatoFiscalCreated: false,
      alertaErrorVuelo: false,
      alertaErrorHabitacion: false,
      alertaErrorViaje: false,
      alertaErrorEstatus: false,
      alertaErrorSemaforo: false,
      alertaErrorTarjeta: false,
      alertaErrorDatoFiscal: false,
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Administrador de solicitudes",
          to: { name: "administrador-solicitudes" }
        },
        {
          text: "Configuración",
          active: true
        }
      ],
      camposTipoVuelo: [
        {
          key: "chrDescripcion",
          label: "Tipo de vuelo",
          sortable: false
        },
        {
          key: "actions",
          label: "Eliminar",
          thStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      camposTipoHabitacion: [
        {
          key: "chrDescripcion",
          label: "Tipo de habitación",
          sortable: false
        },
        {
          key: "actions",
          label: "Eliminar",
          thStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      camposTipoViaje: [
        {
          key: "chrDescripcion",
          label: "Tipo de viaje",
          sortable: false
        },
        {
          key: "actions",
          label: "Eliminar",
          thStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      camposEstatus: [
        {
          key: "chrEstatus",
          label: "Estatus",
          sortable: false
        },
        {
          key: "chrDescripcion",
          label: "Descripción",
          sortable: false
        },
        {
          key: "chrColor",
          label: "Color",
          sortable: false
        },
        {
          key: "actions",
          label: "Eliminar",
          thStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      camposSemaforo: [
        {
          key: "chrTiempo",
          label: "Tiempo (Dias)",
          sortable: false
        },
        {
          key: "chrColor",
          label: "Color",
          sortable: false
        },
        {
          key: "chrOperador",
          label: "Operador",
          sortable: false
        },
        {
          key: "actions",
          label: "Eliminar",
          thStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      itemsDatosFiscales: [],
      itemsTarjeta: [],
      tipoVueloNuevo: null,
      tipoHabitacionNuevo: null,
      tipoViajeNuevo: null,
      tipoEstatusNuevo: null,
      tipoEstatusNuevoDescripcion: null,
      tipoEstatusNuevoColor: null,
      colorNuevo: null,
      operadorNuevo: null,
      tiempoNuevo: null,
      editadoVuelo: false,
      editadoHabitacion: false,
      editadoViaje: false,
      editadoEstatus: false,
      editadoTarjeta: false,
      editadoSemaforo: false,
      vueloSeleccionado: {},
      habitacionSeleccionada: {},
      viajeSeleccionado: {},
      estatusSeleccionado: {},
      tarjtaSeleccionada: {},
      semaforoSeleccionada: {},
      datosAEliminar: null,
      filtersVuelo: {
        chrDescripcion: ""
      },
      filtersHabitacion: {
        chrDescripcion: ""
      },
      filtersViaje: {
        chrDescripcion: ""
      },
      filtersEstatus: {
        chrDescripcion: ""
      },
      filterSemaforo: {
        chrTiempo: "",
        chrColor: "",
        chrOperador: ""
      },
      selectOperador: [
        {
          value: ">",
          text: ">"
        },
        {
          value: "<",
          text: "<"
        },
        {
          value: ">=",
          text: ">="
        },
        {
          value: "<=",
          text: "<="
        }
      ],
      selectEstadoSolicitud: [
        {
          value: "success",
          text: "Verde"
        },
        {
          value: "danger",
          text: "Rojo"
        },
        {
          value: "warning",
          text: "Amarillo"
        }
      ]
    };
  },
  components: {
    SpinnerCustom,
    Datepicker
  },
  computed: {
    ...mapState(["datosBancarios", "datosFiscales"]),
    itemsVuelofiltered() {
      const filtered = this.$store.state.tipoVuelo.filter(item => {
        return Object.keys(this.filtersVuelo).every(key =>
          String(item[key]).includes(this.filtersVuelo[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    },
    itemsHabitacionfiltered() {
      const filtered = this.$store.state.tipoHabitacion.filter(item => {
        return Object.keys(this.filtersHabitacion).every(key =>
          String(item[key]).includes(this.filtersHabitacion[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    },
    itemsViajefiltered() {
      const filtered = this.$store.state.tipoViaje.filter(item => {
        return Object.keys(this.filtersViaje).every(key =>
          String(item[key]).includes(this.filtersViaje[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    },
    itemsEstatusfiltered() {
      const filtered = this.$store.state.estatusSolicitud.filter(item => {
        return Object.keys(this.filtersEstatus).every(key =>
          String(item[key]).includes(this.filtersEstatus[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    },
    itemSemaforofiltered() {
      const filtered = this.$store.state.semaforo.filter(item => {
        return Object.keys(this.filterSemaforo).every(key =>
          String(item[key]).includes(this.filterSemaforo[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    }
  },
  created() {
    this.getTipoVuelo();
    this.getTipoHabitacion();
    this.getTipoViaje();
    this.getEstatusSolicitud();
    this.getDatosBancarios();
    this.getDatosFiscales();
    this.getMensajeLoginConfig();
    this.getSemaforo();
  },
  methods: {
    ...mapActions([
      "getTipoVuelo",
      "getTipoHabitacion",
      "getTipoViaje",
      "getEstatusSolicitud",
      "getDatosBancarios",
      "getDatosFiscales",
      "getMensajeLoginConfig",
      "getSemaforo"
    ]),
    saveTipoVuelo(vuelo) {
      let obj = {};

      if (vuelo.intIDTipoVuelo != null) {
        obj = {
          chrDescripcion: vuelo.chrDescripcion,
          intIDTipoVuelo: vuelo.intIDTipoVuelo
        };
      } else {
        obj = {
          chrDescripcion: vuelo
        };
      }

      const hd = this.$store.state.headers;
      this.spinnerCustomVuelo = true;
      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/SaveTipoVuelo/",
          obj,
          { hd }
        )
        .then(response => {
          this.alertaCreatedVuelo = true;
          this.spinnerCustomVuelo = false;
          var vm = this;
          this.getTipoVuelo();
          setTimeout(() => {
            vm.alertaCreatedVuelo = false;
            vm.tipoVueloNuevo = null;
            vm.editadoVuelo = false;
          }, 2000);
        })
        .catch(error => {
          this.spinnerCustomVuelo = false;
          this.alertaErrorVuelo = true;
          var vm = this;
          this.getTipoVuelo();
          setTimeout(() => {
            vm.alertaErrorVuelo = false;
            vm.tipoVueloNuevo = null;
            vm.editadoVuelo = false;
          }, 2000);
        });
    },
    saveTipoHabitacion(habitacion) {
      let obj = {};
      if (habitacion.intIDTipoHabitacion != null) {
        obj = {
          chrDescripcion: habitacion.chrDescripcion,
          intIDTipoHabitacion: habitacion.intIDTipoHabitacion
        };
      } else {
        obj = {
          chrDescripcion: habitacion
        };
      }
      this.spinnerCustomHabitacion = true;
      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/SaveTipoHabitacion/",
          obj
        )
        .then(response => {
          this.alertaCreatedHabitacion = true;
          this.spinnerCustomHabitacion = false;
          this.getTipoHabitacion();
          var vm = this;
          setTimeout(() => {
            vm.alertaCreatedHabitacion = false;
            vm.tipoHabitacionNuevo = null;
            vm.editadoHabitacion = false;
          }, 2000);
        })
        .catch(error => {
          this.spinnerCustomHabitacion = false;
          this.alertaErrorHabitacion = true;
          var vm = this;
          this.getTipoHabitacion();
          setTimeout(() => {
            vm.alertaErrorHabitacion = false;
            vm.tipoHabitacionNuevo = null;
            vm.editadoHabitacion = false;
          }, 2000);
        });
    },
    saveTipoViaje(viaje) {
      let obj = {};
      if (viaje.intIDTipoViajes != null) {
        obj = {
          chrDescripcion: viaje.chrDescripcion,
          intIDTipoViajes: viaje.intIDTipoViajes
        };
      } else {
        obj = {
          chrDescripcion: viaje
        };
      }
      this.spinnerCustomViaje = true;
      axios
        .post(this.$store.state.basePath + "Api/Catalogos/SaveTipoViaje/", obj)
        .then(response => {
          this.alertaCreatedViaje = true;
          this.spinnerCustomViaje = false;
          this.getTipoViaje();
          var vm = this;
          setTimeout(() => {
            vm.alertaCreatedViaje = false;
            vm.tipoViajeNuevo = null;
            vm.editadoViaje = false;
          }, 2000);
        })
        .catch(error => {
          this.spinnerCustomViaje = false;
          this.alertaErrorViaje = true;
          var vm = this;
          this.getTipoViaje();
          setTimeout(() => {
            vm.alertaErrorViaje = false;
            vm.tipoViajeNuevo = null;
            vm.editadoViaje = false;
          }, 2000);
        });
    },
    saveSemaforo(tiempo, operador, color) {
      let obj = { };
      if (tiempo.intIDSemaforo != null) {
        obj = {
          chrTiempo: tiempo.chrTiempo,
          chrColor: tiempo.chrColor,
          chrOperador: tiempo.chrOperador ,
          intIDSemaforo : tiempo.intIDSemaforo
        };
      } else {
        obj = {
          chrTiempo: tiempo,
          chrColor: color,
          chrOperador: operador
        };
      }
      this.spinnerCustomSemaforo = true;
      axios
        .post(this.$store.state.basePath + "Api/Catalogos/SaveSemaforo/", obj)
        .then(response => {
          this.alertaCreatedSemaforo = true;
          this.spinnerCustomSemaforo = false;
          this.getSemaforo();
          var vm = this;
          setTimeout(() => {
            vm.alertaCreatedSemaforo = false;
            vm.colorNuevo = null;
            vm.operadorNuevo = null;
            vm.colorNuevo = null;
            vm.editadoSemaforo = false;
          }, 2000);
        })
        .catch(error => {
          this.spinnerCustomSemaforo = false;
          this.alertaErrorSemaforo = true;
          var vm = this;
          this.getSemaforo();
          setTimeout(() => {
            vm.alertaCreatedSemaforo = false;
            vm.colorNuevo = null;
            vm.tiempoNuevo = null;
            vm.operadorNuevo = null;
            vm.editadoSemaforo = false;
          }, 2000);
        });
    },
    saveEstatusSolicitud(estatus, descripcion, color) {
      let obj = {};

      if (estatus.intIDEstatus != null) {
        obj = {
          chrEstatus: estatus.chrEstatus,
          chrDescripcion: estatus.chrDescripcion,
          chrColor: estatus.chrColor,
          intIDEstatus: estatus.intIDEstatus
        };
      } else {
        obj = {
          chrEstatus: estatus,
          chrDescripcion: descripcion,
          chrColor: color
        };
      }
      this.spinnerCustomEstatus = true;
      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/SaveEstatusSolicitud/",
          obj
        )
        .then(response => {
          this.alertaCreatedEstatus = true;
          this.spinnerCustomEstatus = false;
          this.getEstatusSolicitud();
          var vm = this;
          setTimeout(() => {
            vm.alertaCreatedEstatus = false;
            vm.tipoEstatusNuevo = null;
            vm.editadoEstatus = false;
          }, 2000);
        })
        .catch(error => {
          this.spinnerCustomEstatus = false;
          this.alertaErrorEstatus = true;
          var vm = this;
          this.getTipoViaje();
          setTimeout(() => {
            vm.alertaErrorEstatus = false;
            vm.tipoEstatusNuevo = null;
            vm.editadoEstatus = false;
          }, 2000);
        });
    },
    saveTarjetaNueva(tarjeta) {
      let obj = {
        intIDDatosBancarios: 5,
        chrNombreBanco: tarjeta.chrNombreBanco,
        chrCuenta: tarjeta.chrCuenta,
        chrNombreBeneficiario: tarjeta.chrNombreBeneficiario,
        chrAnioMesVencimiento: moment(tarjeta.chrAnioMesVencimiento).format(
          "MM/YY"
        )
      };

      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/SaveCuentaBancaria/",
          obj,
          { hd }
        )
        .then(response => {})
        .catch(error => {});
    },
    saveDatosFiscales(datosFiscales) {
      let obj = {
        intIDDatosFiscales: 1,
        chrRazonSocial: datosFiscales.chrRazonSocial,
        chrRFC: datosFiscales.chrRFC,
        chrDireccion: datosFiscales.chrDireccion,
        chrCiudad: datosFiscales.chrCiudad
      };
      const hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/SaveDatosFiscales/",
          obj,
          { hd }
        )
        .then(response => {})
        .catch(error => {});
    },
    cancelarDatosFiscales() {
      this.datosFiscales = {};
    },
    cancelarEditado(tipo) {
      switch (tipo) {
        case 1:
          this.editadoVuelo = false;
          this.getTipoVuelo();
          break;
        case 2:
          this.editadoHabitacion = false;
          this.getTipoHabitacion();
          break;
        case 3:
          this.editadoViaje = false;
          this.getTipoViaje();
          break;
        case 4:
          this.editadoEstatus = false;
          this.getEstatusSolicitud();
          break;
        case 5:
          this.editadoTarjeta = false;
          this.getDatosBancarios();
          break;
        case 6:
          this.editadoDatosFiscales = false;
          // llamado al método
          break;
        case 7:
          this.editadoSemaforo = false;
          this.getSemaforo();
          break;

        default:
          break;
      }
    },
    editTipoVuelo(vuelo) {
      this.vueloSeleccionado = vuelo;
      this.editadoVuelo = true;
    },
    editTipoHabitacion(habitacion) {
      this.habitacionSeleccionada = habitacion;
      this.editadoHabitacion = true;
    },
    editTipoViaje(viaje) {
      this.viajeSeleccionado = viaje;
      this.editadoViaje = true;
    },
    editEstatus(estatus) {
      this.estatusSeleccionado = estatus;
      this.editadoEstatus = true;
    },
    editTarjetaCredito(tarjeta) {
      this.tarjetaSeleccionada = tarjeta;
      this.editadoTarjeta = true;
    },
    editDatoFiscal(datosFiscales) {
      this.datosFiscalesSeleccionados = datosFiscales;
      this.editadoDatosFiscales = true;
    },
    editSemaforo(semaforo) {
      this.semaforoSeleccionada = semaforo;
      this.editadoSemaforo = true;
      
    },
    confirmDelete(datos, tipo) {
      this.$bvModal.show("modal-eliminar-valor-catalogo");
      this.datosAEliminar = {
        dato: datos,
        tipo: tipo
      };
    },
    eliminarDato() {
      if (this.datosAEliminar != null) {
        switch (this.datosAEliminar.tipo) {
          case 1:
            this.deleteTipoVuelo(this.datosAEliminar.dato);
            break;
          case 2:
            this.deleteTipoHabitacion(this.datosAEliminar.dato);
            break;
          case 3:
            this.deleteTipoViaje(this.datosAEliminar.dato);
            break;
          case 4:
            this.deleteEstatus(this.datosAEliminar.dato);
            break;
          case 5:
            // llamado al servicio de borrar tarjeta
          case 6:
            // llamado al servicio de borrar dato fiscal
            break;
             case 7:
            this.deleteSemaforo(this.datosAEliminar.dato);
            break;
          default:
            break;
        }
      }
    },
    deleteTipoVuelo(vuelo) {
      let obj = {
        intIDVuelo: vuelo.intIDTipoVuelo
      };
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/DeleteTipovuelo/",
          obj,
          { hd }
        )
        .then(response => {
          this.getTipoVuelo();
          this.$bvModal.hide("modal-eliminar-valor-catalogo");
        })
        .catch(error => {});
    },
    deleteTipoHabitacion(habitacion) {
      let obj = {
        intIDTipoHabitacion: habitacion.intIDTipoHabitacion
      };
      const hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/DeleteTipoHabitacion/",
          obj,
          { hd }
        )
        .then(response => {
          this.getTipoHabitacion();
          this.$bvModal.hide("modal-eliminar-valor-catalogo");
        })
        .catch(error => {});
    },
    deleteTipoViaje(viaje) {
      let obj = {
        intIDTipoViaje: viaje.intIDTipoViajes
      };
      const hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/DeleteTipoviaje/",
          obj,
          { hd }
        )
        .then(response => {
          this.getTipoViaje();
          this.$bvModal.hide("modal-eliminar-valor-catalogo");
        })
        .catch(error => {});
    },
    deleteEstatus(estatus) {
      let obj = {
        intIDEstatusSolicitud: estatus.intIDEstatus
      };
      const hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Catalogos/DeleteEstatusSolicitud/",
          obj,
          { hd }
        )
        .then(response => {
          this.getEstatusSolicitud();
          this.$bvModal.hide("modal-eliminar-valor-catalogo");
        })
        .catch(error => {});
    },
    deleteSemaforo(semaforo){
      let obj ={
        intIDSemaforo : semaforo.intIDSemaforo
      }
      const hd = this.$store.state.headers;
      axios
      .post(
        this.$store.state.basePath + "Api/Catalogo/DeleteSemaforo/",
        obj,
          { hd}
        
      )
      .then( response =>{
        this.getSemaforo();
        this.$bvModal.hide("modal-eliminar-valor-catalogo");
      })
      .catch(error=>{

      });
    },
    guardarMensajeLoginConfig(mensaje) {
      let objMensaje = {
        chrTitulo: mensaje.chrTitulo,
        chrSubtitulo: mensaje.chrSubtitulo,
        intIDConfiguracion: this.$store.state.mensajeLoginConfig
          .intIDConfiguracion
      };
      let hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "/Api/Catalogos/SaveConfiguracion/",
          objMensaje,
          { hd }
        )
        .then(response => {
          this.getMensajeLoginConfig();
        })
        .catch(error => {});
    }
  }
};
</script>

<style>
.table > tbody > tr > td {
  text-align: center;
}
.scrollableTable {
  width: 100%;
}
.scrollableTable tbody {
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 200px;
}
</style>