<template>
  <b-row>
    <b-col>
      <b-list-group horizontal="md">
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.numEmpleado') }}:
            <span
              class="fontOscuro"
            >{{ $store.state.userLogin.chrCodigoEmpleado }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.nombre') }}:
            <span
              class="fontOscuro"
            >{{ $store.state.userLogin.chrNombre }} {{ ($store.state.userLogin.chrApellidoPaterno != null ? $store.state.userLogin.chrApellidoPaterno: '') }} {{ ($store.state.userLogin.chrApellidoMaterno != null ? $store.state.userLogin.chrApellidoMaterno:'') }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.puesto') }}:
            <span class="fontOscuro">{{ chrPuesto }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.departamento') }}:
            <span class="fontOscuro">{{ chrDepartamento }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.centroCosto') }}:
            <span class="fontOscuro">{{ chrCentroCosto }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.autorizador') }}:
            <span
              class="fontOscuro"
            >{{$store.state.userLogin.empledoAutorizador[0].chrNombre}} {{($store.state.userLogin.empledoAutorizador[0].chrApellidoPaterno != null ? $store.state.userLogin.empledoAutorizador[0].chrApellidoPaterno:'')}} {{($store.state.userLogin.empledoAutorizador[0].chrApellidoMaterno != null ? $store.state.userLogin.empledoAutorizador[0].chrApellidoMaterno: '')}}</span>
          </b-card-text>
        </b-list-group-item>
      </b-list-group>
    </b-col>
  </b-row>
</template>

<script>
import { CoolSelect } from "vue-cool-select";
import { mapState } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
    
    };
  },
  computed: {
    ...mapState(["autorizadorSuplenteSelected"])
  },
  created() {
     const currentCookieUser = JSON.parse(
      this.$cookie.get("cookieControlViajesUser")
    );
    this.chrDepartamento = currentCookieUser.departamento;
    this.chrPuesto = currentCookieUser.puesto;
    this.chrCentroCosto = currentCookieUser.centrocosto;
  },
  components: {
    
  },
  methods: {
  
  }
};
</script>