<template>
  <b-card>
    <b-card-title>{{ $t('datosUsuario.titulo') }}</b-card-title>
    <hr />
    <b-row>
      <b-col cols="6">
        <b-card-text>{{ $t('datosUsuario.numEmpleado') }}</b-card-text>
      </b-col>
      <b-col cols="6">
        <b-card-text class="card-text-datos-usuario">{{ $store.state.userLogin.chrCodigoEmpleado }}</b-card-text>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col cols="6">
        <b-card-text>{{ $t('datosUsuario.nombre') }}</b-card-text>
      </b-col>
      <b-col cols="6">
        <b-card-text
          class="card-text-datos-usuario"
        >{{ $store.state.userLogin.chrNombre }} {{ ($store.state.userLogin.chrApellidoPaterno != null ? $store.state.userLogin.chrApellidoPaterno : '' ) }} {{ ($store.state.userLogin.chrApellidoMaterno != null ? $store.state.userLogin.chrApellidoMaterno : '') }}</b-card-text>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col cols="6">
        <b-card-text>{{ $t('datosUsuario.puesto') }}</b-card-text>
      </b-col>
      <b-col cols="6">
        <b-card-text class="card-text-datos-usuario">{{ chrPuesto }}</b-card-text>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col cols="6">
        <b-card-text>{{ $t('datosUsuario.departamento') }}</b-card-text>
      </b-col>
      <b-col cols="6">
        <b-card-text class="card-text-datos-usuario">{{ chrDepartamento }}</b-card-text>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col cols="6">
        <b-card-text>{{ $t('datosUsuario.centroCosto') }}</b-card-text>
      </b-col>
      <b-col cols="6">
        <b-card-text class="card-text-datos-usuario">{{ chrCentroCosto }}</b-card-text>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col cols="6">
        <b-card-text>{{ $t('datosUsuario.autorizador') }}</b-card-text>
      </b-col>
      <b-col cols="6" v-if="$store.state.userLogin != null">
        <b-card-text
          class="card-text-datos-usuario"
        >{{($store.state.userLogin.empledoAutorizador[0].chrNombre != null ?$store.state.userLogin.empledoAutorizador[0].chrNombre : 'No tiene autorizador')}} {{($store.state.userLogin.empledoAutorizador[0].chrApellidoPaterno != null ? $store.state.userLogin.empledoAutorizador[0].chrApellidoPaterno :' ')}} {{($store.state.userLogin.empledoAutorizador[0].chrApellidoMaterno != null ? $store.state.userLogin.empledoAutorizador[0].chrApellidoMaterno: ' ')}}</b-card-text>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col cols="6">
        <b-card-text>{{ $t('datosUsuario.departamento') }}</b-card-text>
      </b-col>
      <b-col cols="6" v-if="$store.state.userLogin != null">
        <b-card-text
          class="card-text-datos-usuario"
        >{{($store.state.userLogin.empledoAutorizador[0].chrDepartamento != null ? $store.state.userLogin.empledoAutorizador[0].chrDepartamento :' ')}}</b-card-text>
      </b-col>
    </b-row>
    <b-row class="my-2" v-if="$route.name != 'perfil'">
      <b-col>
        <b-form-group>
          <b-form-checkbox v-model="autorizadorSuplente">Autorizador suplente</b-form-checkbox>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row class="my-2" v-if="autorizadorSuplente">
      <b-col>
        <b-form-group label="Autorizador suplente" label-for="select-autorizador-suplente">
          <cool-select
            id="select-autorizador-suplente"
            v-model="$store.state.autorizadorSuplenteSelected"
            :items="listaAutorizadores"
            item-text="nombreCompleto"
          ></cool-select>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row
      class="my-2"
      v-if="$store.state.autorizadorSuplenteSelected != null && autorizadorSuplente"
    >
      <b-col cols="6">
        <b-card-text>{{ $t('datosUsuario.departamento') }}</b-card-text>
      </b-col>
      <b-col cols="6">
        <b-card-text
          class="card-text-datos-usuario"
        >{{ $store.state.autorizadorSuplenteSelected.chrDepartamento }}</b-card-text>
      </b-col>
      <b-col></b-col>
    </b-row>
  </b-card>
</template>

<script>
import { CoolSelect } from "vue-cool-select";
import { mapState } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      autorizadorSuplente: false,
      listaAutorizadores: [],
      chrDepartamento: "",
      chrPuesto: "",
      chrCentroCosto: ""
    };
  },
  computed: {
    ...mapState(["autorizadorSuplenteSelected"])
  },
  created() {
    const currentCookie = JSON.parse(
      this.$cookie.get("cookieControlViajesUser")
    );
    this.chrDepartamento = currentCookie.departamento;
    this.chrPuesto = currentCookie.puesto;
    this.chrCentroCosto = currentCookie.centrocosto;

    this.consultarAutorizadores();
    if (this.$route.params.id != null) {
      if (this.$store.state.objVueloHotel.intIDAutorizadorSuplente != null) {
        this.autorizadorSuplente = true;
        this.$store.state.autorizadorSuplenteSelected = this.$store.state.objVueloHotel.intIDAutorizadorSuplente;
        this.$store.state.empleados.forEach(emp => {
          if (
            emp.chrCodigoEmpleado ==
            this.$store.state.objVueloHotel.intIDAutorizadorSuplente
          ) {
            this.$store.state.autorizadorSuplenteSelected = emp;
          }
        });
      }
    } else {
      this.$store.state.autorizadorSuplenteSelected = null;
    }
  },
  components: {
    CoolSelect
  },
  methods: {
    consultarAutorizadores() {
      let objPerfil = {
        intIDPerfil: 3
      };

      const hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Empleados/UsuariosAutorizador/",
          objPerfil,
          { hd }
        )
        .then(response => {
          var arrayAutorizadores = [];

          response.data.result.forEach(aut => {
            if (
              aut.chrCodigoEmpleado !=
              this.$store.state.userLogin.intFKIDEmpleadoAutorizador
            ) {
              let nombreCompleto =
                (aut.chrNombre != null ? aut.chrNombre : "") +
                " " +
                (aut.chrApellidoPaterno != null ? aut.chrApellidoPaterno : "") +
                " " +
                (aut.chrApellidoMaterno != null ? aut.chrApellidoMaterno : "");

              let objAutorizador = {
                chrCodigoEmpleado: aut.chrCodigoEmpleado,
                chrDepartamento: aut.chrDepartamento,
                nombreCompleto: nombreCompleto
                // fechaNacimiento: moment(aut.dtdFechaNacimiento).format(
                //   "DD-MM-YYYY"
                // )
              };
              arrayAutorizadores.push(objAutorizador);
            }
          });

          this.listaAutorizadores = arrayAutorizadores;
        })
        .catch(error => {
          
        });
    }
  }
};
</script>

<style>
.card-text-datos-usuario {
  color: rgb(237, 108, 30);
  text-align: right;
  font-weight: bold;
}
</style>