<template>
  <b-container style="text-align: -webkit-center;">
    <b-row class="my-2">
      <b-col>
        <div class="bienvenido">{{ $t('menu.bienvenido') }}</div>
      </b-col>
    </b-row>
    <b-row class="my-2">
      <b-col lg="4">
        <router-link :to="{name: 'solicitud-de-reservaciones'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-solicitud-avion-hotel.svg')"></b-card-img>
            <!-- <b-card-footer>Solicitudes de vuelo y hospedaje</b-card-footer> -->
          </b-card>
          <b-card class="text-card-menu mask" style="height:inherit;">
            <b-card-text
              style="font-size: 25px;color:#000000"
            >{{ $t('menu.solicitudVueloHospedaje') }}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
      <b-col lg="4">
        <router-link :to="{name: 'detalleVueloHospedaje'}">
          <!-- <router-link :to="{name: 'estatus-de-solicitud'}"> -->
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-estatus-solicitud.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:inherit;">
            <b-card-text style="font-size: 25px;color:#000000">{{ $t('menu.estatus') }}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
      <b-col lg="4">
        <router-link :to="{name: 'reportes'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-itinerario.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:inherit;">
            <b-card-text style="font-size: 25px;color:#000000">{{ $t('menu.reportes') }}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
    </b-row>
    <b-row
      class="my-2"
      v-if="$store.state.userLogin.intIDPerfil != 1"
      style="justify-content: center;"
    >
      <b-col
        lg="6"
        v-if="$store.state.userLogin.intIDPerfil == 2 || $store.state.userLogin.intIDPerfil == 5"
      >
        <router-link :to="{name: 'administrador-solicitudes'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-itinerario.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:inherit;">
            <b-card-text style="font-size: 25px;color:#000000">{{ $t('menu.adminSolicitudes') }}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
      <b-col
        lg="6"
        v-if="$store.state.userLogin.intIDPerfil == 3 || $store.state.userLogin.intIDPerfil == 5"
      >
        <router-link :to="{name: 'autorizadorSolicitudes'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-itinerario.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:inherit;">
            <b-card-text
              style="font-size: 25px;color:#000000"
            >{{ $t('menu.autorizadorSolicitudes') }}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      urlCardHome: require("@/img/menu-bg-on.svg"),
      urlCardHomeHover: require("@/img/menu-bg-on-hover.svg")
    };
  }
};
</script>

<style>
.bienvenido {
  width: 100%;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.inicio-usuario {
  width: 1440px;
  height: 1024px;
  background-color: #ffffff;
}

.mask {
  /* width: 369px;
  height: 250px; */
  border-radius: 5.4px;
  box-shadow: -10px 8px 19px 0 rgba(173, 182, 217, 0.17);
  background-color: #ffffff;
}

.card-menu {
  background: url("../img/menu-bg-on.svg");
  background-repeat: no-repeat !important;
}
.card-menu:hover {
  background: url("../img/menu-bg-on-hover.svg");
  background-repeat: no-repeat;
}
.text-card-menu {
  border: none !important;
  text-align: center !important;
}
a:hover {
  text-decoration: none !important;
}

@media (min-width: 1199px) {
  .mask {
    width: 291px;
    height: 220px;
  }
}
@media (min-width: 991px) {
  .mask {
    width: 369px;
    height: 250px;
    border-radius: 5.4px;
    box-shadow: -10px 8px 19px 0 rgba(173, 182, 217, 0.17);
    background-color: #ffffff;
  }
}
@media (max-width: 600px) {
  .mask {
    width: 300px;
    height: 220px;
    border-radius: 5.4px;
    box-shadow: -10px 8px 19px 0 rgba(173, 182, 217, 0.17);
    background-color: #ffffff;
  }
}
</style>
