<template>
  <b-container fluid>
    <b-row no-gutters>
      <b-col lg="6">
        <b-card style="width: 100%;border: none;margin-top:20%">
          <div style="width: 100%;text-align: center;">
            <b-card-img style="width:50%" :src="require('@/img/grupo-comercial-control.png')"></b-card-img>
          </div>
          <br />
          <br />
          <b-card-title style="text-align:center">{{ $t('login.title') }}</b-card-title>
          <br />
          <b-card-text style="margin-left: 20%;margin-right: 20%;">
            <b-form @submit.prevent="entrar(user)">
              <b-form-group
                class="my-3"
                :label="$t('login.correo')"
                label-for="input-usuario"
                id="input-group-usuario"
              >
                <b-form-input
                  class="input-login"
                  id="input-usuario"
                  type="text"
                  :placeholder="$t('login.correo')"
                  v-model="$v.user.login.$model"
                  required
                  :state="$v.user.login.$dirty ? !$v.user.login.$error : null"
                  aria-describedby="input-numero-usuario-feedback"
                ></b-form-input>
                <b-form-invalid-feedback
                  id="input-user-login-feedback"
                >{{ $t('validaciones.login') }}</b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                class="my-3"
                :label="$t('login.password')"
                label-for="input-password"
                id="input-group-password"
              >
                <b-form-input
                  class="input-login"
                  id="input-password"
                  type="password"
                  :placeholder="$t('login.password')"
                  v-model="$v.user.password.$model"
                  required
                  :state="$v.user.password.$dirty ? !$v.user.password.$error : null"
                  aria-describedby="input-user-password-feedback"
                ></b-form-input>
                <b-form-invalid-feedback
                  id="input-user-password-feedback"
                >{{ $t('validaciones.password') }}</b-form-invalid-feedback>
              </b-form-group>
              <b-row class="my-3">
                <b-col md="6">
                  <b-card-text>
                    <b-form-checkbox
                      v-model="$store.state.rememberMe"
                      @change="recordarme()"
                    >{{ $t('login.recordarme') }}</b-form-checkbox>
                  </b-card-text>
                </b-col>
                <b-col md="6">
                  <b-card-text class="recuperaPass">
                    <b-link @click="openModalRecuperaPass">{{ $t('login.olvidoPass') }}</b-link>
                  </b-card-text>
                </b-col>
              </b-row>
              <spinner-custom v-if="spinnerCustom"></spinner-custom>
              <b-alert
                style="border-radius: 6px;background-color:#ff3a3a;color:#ffffff"
                :show="alertaLogin"
              >
                <b-row>
                  <b-col cols="2">
                    <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
                  </b-col>
                  <b-col cols="10">
                    <span>Hubo algún error en tu usuario y/o contraseña. Inténtelo de nuevo</span>
                  </b-col>
                </b-row>
              </b-alert>
              <b-form-group class="my-3">
                <b-button type="submit" class="button-login">{{ $t('login.entrar') }}</b-button>
              </b-form-group>
            </b-form>
          </b-card-text>
        </b-card>
        <b-modal
          id="modal-recupera-pass"
          @ok.prevent="recuperarConstrasenia({email: recuperaPass})"
        >
          <template slot="modal-header" slot-scope="{ close }">
            <h5 style="color: #ed6c1e;">Recupera tu contraseña</h5>
            <b-img
              style="cursor:pointer;"
              @click="close()"
              :src="require('@/img/ic-close-modal.svg')"
            ></b-img>
          </template>
          <b-card style="border:none">
            <b-form>
              <b-form-group label="Correo electrónico" label-for="input-pass-recupera">
                <b-form-input id="input-pass-recupera" type="email" v-model="recuperaPass"></b-form-input>
              </b-form-group>
            </b-form>
          </b-card>
          <template slot="modal-footer" slot-scope="{ ok, cancel }">
            <b-button
              class="button-modal-recupera-pass"
              style="background-color:#ffffff;border: solid 1px #878889;color:#878889;"
              @click="cancel()"
            >Cancelar</b-button>
            <b-button
              class="button-modal-recupera-pass"
              style="background-color:#ed6c1e;border-color:#ed6c1e;"
              @click="ok()"
            >Enviar</b-button>
          </template>
        </b-modal>
      </b-col>
      <b-col lg="6" class="d-none d-lg-block d-xl-block">
        <b-card
          class="sistema-de-reservacion"
          overlay
          :img-src="require('../img/bg-login.png')"
          img-alt="Card Image"
          text-variant="white"
          :title="$store.state.mensajeLoginConfig.chrTitulo"
        >
          <b-card-text>{{ $store.state.mensajeLoginConfig.chrSubtitulo }}</b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
import SpinnerCustom from "@/components/SpinnerCustom.vue";
import {
  required,
  minLength,
  maxLength,
  numeric
} from "vuelidate/lib/validators";
export default {
  data() {
    return {
      recuperaPass: ""
    };
  },
  validations: {
    user: {
      login: {
        required,
        numeric,
        minLength: minLength(5),
        maxLength: maxLength(8)
      },
      password: {
        required,
        strongPassword(password1) {
          return (
            /[a-zA-Z]/.test(password1) &&
            /[0-9]/.test(password1) &&
            password1.length >= 8
          );
        }
      }
    }
  },
  created() {
    this.getMensajeLoginConfig();
    this.$store.state.userLogged = false;
    const currentSessionStorage = JSON.parse(
      sessionStorage.getItem("gte_control")
    );
    if (
      sessionStorage.getItem("gte_control") != null &&
      (currentSessionStorage.login != "" ||
        currentSessionStorage.password != "")
    ) {
      this.$store.state.user = {
        login: currentSessionStorage.login,
        password: currentSessionStorage.password
      };
      this.$store.state.rememberMe = true;
    } else {
      sessionStorage.removeItem("gte_control");
      this.$store.state.rememberMe = false;
    }
  },
  computed: {
    ...mapState(["user", "spinnerCustom", "alertaLogin"])
  },
  methods: {
    ...mapActions(["entrar", "recuperarPassword", "getMensajeLoginConfig"]),
    openModalRecuperaPass() {
      this.$bvModal.show("modal-recupera-pass");
    },
    recuperarConstrasenia(email) {
      this.recuperarPassword(email);
      var vm = this;

      setTimeout(() => {
        vm.recuperaPass = "";
        vm.$bvModal.hide("modal-recupera-pass");
      }, 3000);
    },
    recordarme() {
      if (!this.$store.state.rememberMe) {
        sessionStorage.setItem("gte_control", JSON.stringify(this.user));
      } else {
        sessionStorage.removeItem("gte_control");
      }
    }
  },
  components: {
    SpinnerCustom
  }
};
</script>

<style scoped>
/* .recuperaPass {
  text-align: right;
} */
.recuperaPass a {
  color: #ed6c1e !important;
}
.sistema-de-reservacion {
  width: 100%;
  height: 100%;
  text-align: center;
  /* font-family: Poppins; */
  /* font-size: 36px; */
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ffffff;
}
.card-img-overlay {
  margin-left: 20%;
  margin-right: 20%;
  height: fit-content;
  top: 40% !important;
  bottom: 50% !important;
}
.input-login {
  /* width: 284.9px !important; */
  height: 31.8px !important;
  border-radius: 3.4px !important;
  border: solid 0.9px #cbcbcb !important;
  background-color: #ffffff !important;
}
.button-login {
  width: 100% !important;
  height: 41px !important;
  border-radius: 9px !important;
  background-color: #ed6c1e !important;
  border-color: #ed6c1e !important;
}
.button-modal-recupera-pass {
  width: 207px;
  height: 47px;
}
</style>
