<template>
  <b-container>
    <b-row class="my-2">
      <b-col>
        <b-card>
          <b-card-title>{{ mensajeLogout }}</b-card-title>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import router from "../router.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      mensajeLogout:
        "Te has desconectado. Serás redirigido a la pantalla de login."
    };
  },
  created() {
    this.timeOutLogout();
  },
  methods: {
    ...mapActions(["timeOutLogout"])

  }
};
</script>

<style>
</style>
