<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col cols="8">
        <div class="crear-solicitud">Mi perfil</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <datos-usuario></datos-usuario>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ButtonBack from "@/components/ButtonBack.vue";
import DatosUsuario from "@/views/DatosUsuario.vue";
import moment from "moment";
import { mapState } from "vuex";
export default {
  components: {
    ButtonBack,
    DatosUsuario
  },
  data() {
    return {
      moment: moment,
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Mi perfil",
          active: true
        }
      ],
      datosUsuarioPerfil: {}
    };
  },
  computed: {
    ...mapState(["userLogin"])
  },
  created() {
    this.datosUsuarioPerfil = this.userLogin;
    
  }
};
</script>

<style>
</style>
