<template>
  <b-container>
    <b-row class="my-2">
      <b-col>
        <b-breadcrumb style="background-color:inherit; color:#333333" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-row class="my-2" style="text-align:-webkit-center;">
      <b-col xs="12" lg="6">
        <router-link :to="{name: 'detalleSolicitudes'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-solicitud-avion-hotel.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:auto;">
            <b-card-text style="font-size: 25px;color:#000000">{{ $t('detalleSolicitudes.cotizacion')}}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
      <b-col xs="12" lg="6">
        <router-link :to="{name: 'configuracion'}">
          <b-card
            class="mask card-menu"
            overlay
            img-alt="Card Image"
            style="text-align: center;border:none"
          >
            <b-card-img style="width:auto;" :src="require('@/img/ic-solicitud-avion.svg')"></b-card-img>
          </b-card>
          <b-card class="text-card-menu mask" style="height:auto;">
            <b-card-text
              style="font-size: 25px;color:#000000"
            >{{ $t('detalleSolicitudes.lblMantenimientoVueloHotel')}}</b-card-text>
          </b-card>
        </router-link>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t('router.lblAdministradorSolicitudes'),
          active: true
        }
      ]
    };
  }
};
</script>