<template>
  <b-container>
    <b-card>
      <b-row>
        <b-col cols="6">
          <b-card-text>Número del solicitante: {{numSolicitante}}</b-card-text>
          <b-card-text>Nombre: {{nombre}}</b-card-text>
          <b-card-text>Puesto:</b-card-text>
          <b-card-text>Departamento:</b-card-text>
          <b-card-text>Centro Costo:</b-card-text>
        </b-col>
        <b-col cols="6">
          <b-card-text>Fecha de solicitud:</b-card-text>
          <b-card-text>Autorizador:</b-card-text>
          <b-card-text>Puesto del autorizador:</b-card-text>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
export default {
  props: [
    "numSolicitante",
    "nombre",
    "puesto",
    "departamento",
    "centroCosto",
    "fechaSolicitud",
    "autorizador",
    "puestoAutorizador"
  ]
};
</script>

<style>
</style>