<template>
  <b-container>
    <file-pond
      name="test"
      ref="pond"
      label-idle="Arrastra tus imágenes o haz click aquí"
      allow-multiple="true"
      accepted-file-types="image/jpeg, image/png"
      :server="server"
      max-files="8"
      :files="myFiles"
      :instantUpload="false"
      @init="handleFilePondInit"
      @addfile="handleFilePondAddFile"
    />
  </b-container>
</template>

<script>
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";

// Create component
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImagePreview
);


export default {
  name: "app",
  data: function() {
    return {
      myFiles: [],
      server: {
        url: this.$store.state.basePath,
        process: {
          url: "Api/Solicitud/CargaImagenes/",
          method: "POST",
          withCredentials: false,
          headers: {},
          timeout: 7000,
          onload: null,
          onerror: null,
          ondata: formData => {
            formData.append("intFKIDSolicitud", this.$route.query.solicitud);
            formData.append("intFKIDTipoSolicitud", this.tipoSolicitud);
            formData.append("intFKIDDetalleSolicitudVueloHotel", this.idDetalleHospedajeVuelo)
            return formData;
          }
        }
        // revert: {
        //   url: "Api/Solicitud/EliminaImagenes/",
        //   method: "POST",
        //   withCredentials: false,
        //   headers: {},
        //   timeout: 7000,
        //   onload: null,
        //   onerror: null
        // }
      }
    };
  },
  props: {
    tipoSolicitud: String,
    idDetalleHospedajeVuelo: Number
  },
  methods: {
    handleFilePondInit: function() {},
    handleFilePondAddFile: function(error, file) {
      
    },
    handleFilePondRemoveFile: function(error, file) {
    
    },
    eliminarImagenDelServidor(id) {
      const hd = this.$store.state.headers;
      let idImagenEliminar = {
        intIDImagen: id
      };

      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/EliminaImagenes/",
          idImagenEliminar,
          { hd }
        )
        .then(response => {
          
        })
        .catch(error => {
          
        });
    }
  },
  components: {
    FilePond
  }
};
</script>

<style>
</style>