<template>
  <div id="app">
    <b-navbar
      toggleable="lg"
      type="dark"
      :class="classNavbar"
      style="align-items:baseline;"
      v-if="$store.state.userLogged"
    >
      <b-navbar-brand class="noDecoration" :to="{name: 'home'}">
        <img style="width:100%" :src="require('@/img/grupo-comercial-control.png')" alt />
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <div v-for="(pantalla, index) in $store.state.pantallasUsuarios" :key="index">
            <b-nav-item :to="{path: pantalla.path}" v-if="pantalla.path != 'configuracion'">
              <span style="text-transform: uppercase;">{{ pantalla.descripcion }}</span>
            </b-nav-item>
            <b-nav-item-dropdown v-if="pantalla.path == 'configuracion'">
              <template slot="button-content">
                <b-img :src="require('@/img/ic-config.svg')" alt></b-img>
              </template>
              <b-dropdown-item>
                <router-link :to="{path: pantalla.path}">
                  <span style="color:#333333">Catálogos</span>
                </router-link>
              </b-dropdown-item>
            </b-nav-item-dropdown>
          </div>
          <b-nav-item-dropdown right v-if="$store.state.notificacion.length > 0">
            <template slot="button-content">
              <font-awesome-icon color="#ffffff" icon="bell" />
            </template>
            <b-card no-body text-variant="white" class="lista-notificacion">
              <b-card-title class="p-2">Notificaciones</b-card-title>
            </b-card>
            <b-dropdown-item-button v-if="$store.state.notificacion.length > 0">
              <b-list-group
                v-for="(item, index) in $store.state.notificacion"
                :key="index"
                style="width: 100%"
              >
                <b-card no-body style="border:none">
                  <b-card-text>
                    <b-row>
                      <b-col cols="2">
                        <b-button
                          @click="marcarSolicitudVisto(item.idSolicitud)"
                          size="sm"
                          variant="outline"
                        >
                          <font-awesome-icon color="#ed6c1e" icon="times-circle" />
                        </b-button>
                      </b-col>
                      <b-col cols="10">
                        <router-link :to="item.ruta">
                          <b-row>
                            <b-col>
                              <div>Solicitud: {{ item.idSolicitud }} - {{ item.nombre }}</div>
                            </b-col>
                          </b-row>
                          <b-row>
                            <b-col>
                              <div>Estatus: {{ item.chrEstatus }}</div>
                            </b-col>
                          </b-row>
                        </router-link>
                      </b-col>
                    </b-row>
                  </b-card-text>
                </b-card>
              </b-list-group>
            </b-dropdown-item-button>
          </b-nav-item-dropdown>
          <a :href="enlaceHome" target="_blank">
            <font-awesome-icon
              class="fa-3x"
              style="margin-top: -10px !important;width:20px;"
              color="#333333"
              icon="home"
            />
          </a>

          <b-nav-item-dropdown right v-if="$store.state.userLogged">
            <template slot="button-content">
              <em class="px-2">{{ $t('menu.hola') }} {{ $store.state.userLogin.chrNombre }}</em>
              <font-awesome-icon color="#333333" icon="user" />
            </template>

            <b-dropdown-item class="bg_popup_perfil">
              <b-row style="margin:11% 0;">
                <b-col cols="2">
                  <font-awesome-icon class="fa-3x" color="#333333" icon="user" />
                </b-col>
                <b-col cols="10">
                  <b-row>
                    <b-col>
                      <span
                        style="color:white;white-space:initial !important;"
                      >{{ $store.state.userLogin.chrNombre }} {{ $store.state.userLogin.chrApellidoPaterno }} {{ $store.state.userLogin.chrApellidoMaterno }}</span>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <span style="color:white">{{ $store.state.userLogin.chrCorreo }}</span>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-dropdown-item>
            <b-dropdown-item :to="{name: 'perfil'}">{{ $t('menu.editPerfil') }}</b-dropdown-item>
            <b-dropdown-item :to="{name: 'logout'}">
              <b-button class="btn-cerrar-sesion">
                <span class="txt-cerrar-sesion">{{ $t('menu.cerrarSesion') }}</span>
              </b-button>
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view id="router" />
  </div>
</template>

<script>
import Vue from "vue";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      mainProps: {
        blank: true,
        blankColor: "#777",
        width: 41,
        height: 41,
        class: "m1"
      },
      classNavbar: "navbar-small",
      windowWidth: 0
    };
  },
  methods: {
    ...mapActions([
      "getEmpleados",
      "getResumenVueloPorEmpleado",
      "getResumenHotelPorEmpleado",
      "notificacionesSolicitudes",
      "marcarSolicitudVisto",
      "cortarcaracteres",
      "consultaRutaHome"
    ])
  },
  updated() {
    if (
      this.$route.name == "vuelo-hospedaje" ||
      this.$route.name == "vuelo-hospedajeId" ||
      this.$route.name == "detalleSolicitudes" ||
      this.$route.name == "vuelo" ||
      this.$route.name == "vueloId" ||
      this.$route.name == "hospedaje" ||
      this.$route.name == "hospedajeId" ||
      this.$route.name == "detalleVueloHospedaje" ||
      this.$route.name == "detalleVuelo" ||
      this.$route.name == "detalleHospedaje" ||
      this.$route.name == "cargaImagenes" ||
      this.$route.name == "perfil" ||
      this.$route.name == "seleccionHospedaje" ||
      this.$route.name == "autorizadorSolicitudes" ||
      this.$route.name == "reportes" ||
      this.$route.name == "prioridad-autorizador" ||
      this.$route.name == "compra-cotizacion"
    ) {
      this.classNavbar = "navbar-big";
    } else {
      this.classNavbar = "navbar-small";
    }
  },
  created() {
    const currentCookie = JSON.parse(this.$cookie.get("cookieControlViajes"));
    this.enlaceHome = this.$cookie.get("cookieControlViajesPantallaHome");
    if (currentCookie == null) {
      this.$router.push({ name: "login" });
    } else {
      this.getEmpleados();

      if (this.$store.state.userLogged || this.$store.state.userLogin != null) {
        this.$store.state.userLogin = JSON.parse(
          this.$cookie.get("cookieControlViajes")
        );
        if (this.$store.state.userLogged) {
          this.notificacionesSolicitudes(
            this.$store.state.userLogin.intIDEmpleado
          );
          this.getResumenVueloPorEmpleado(
            this.$store.state.userLogin.intIDEmpleado
          );
          this.getResumenHotelPorEmpleado(
            this.$store.state.userLogin.intIDEmpleado
          );
        }
        var arrayPantallas = [];
        const currentCookie = JSON.parse(
          Vue.cookie.get("cookieControlViajesPantallas")
        );

        this.$store.state.userLogin.pantallasUsuarios = currentCookie;
        this.$store.state.userLogin.pantallasUsuarios.forEach(pantalla => {
          let objPantalla = {
            id: pantalla.intIDPantallas,
            path: pantalla.chrUrl,
            descripcion: pantalla.chrDescripcionModulo,
            isMenu: pantalla.chrMenuPrincipal == "SI" ? true : false
          };
          arrayPantallas.push(objPantalla);
        });
        this.$store.state.pantallasUsuarios = arrayPantallas;
      
      } else {
        this.$router.push({ name: "login" });
      }
    }
    if (
      this.$route.name == "vuelo-hospedaje" ||
      this.$route.name == "vuelo-hospedajeId" ||
      this.$route.name == "detalleSolicitudes" ||
      this.$route.name == "vuelo" ||
      this.$route.name == "vueloId" ||
      this.$route.name == "hospedaje" ||
      this.$route.name == "hospedajeId" ||
      this.$route.name == "detalleVueloHospedaje" ||
      this.$route.name == "detalleVuelo" ||
      this.$route.name == "detalleHospedaje" ||
      this.$route.name == "cargaImagenes" ||
      this.$route.name == "perfil" ||
      this.$route.name == "seleccionHospedaje" ||
      this.$route.name == "autorizadorSolicitudes" ||
      this.$route.name == "reportes" ||
      this.$route.name == "prioridad-autorizador" ||
      this.$route.name == "compra-cotizacion"
    ) {
      this.classNavbar = "navbar-big";
    } else {
      this.classNavbar = "navbar-small";
    }
  },
  mounted() {}
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.noDecoration {
  color: white;
  background-color: inherit !important;
}
.noDecoration:hover {
  color: white;
}

.nav-link {
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: center; */
  color: #333333;
}
.navbar-dark .navbar-toggler :focus {
  outline: 5px auto white !important;
}

.nav-item a {
  color: #333333 !important;
  font-size: 12px;
  font-weight: 500;
}

.router-link-exact-active {
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
}

.router-link-exact-active > span {
  color: #ffffff;
  z-index: 1000000;
}

.bg_popup_perfil {
  width: 325px;
  height: 120px;
  object-fit: contain;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #ed6c1e, #f7a540);
}

.dropdown-item:hover {
  background-color: unset !important;
}

.dropdown-menu {
  padding: 0 !important;
}

.txt-cerrar-sesion {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #878889;
}
.btn-cerrar-sesion {
  width: 150px;
  height: 39px;
  border-radius: 9px;
  border: solid 1px #878889 !important;
  background-color: #ffffff !important;
}
.navbar-small {
  width: 100%;
  background-image: linear-gradient(to bottom, #ed6c1e, #f7a540);
}
.navbar-big {
  width: 100%;
  height: 348px;
  background-image: linear-gradient(to bottom, #ed6c1e, #f7a540);
}
.button-estandar {
  width: 239px;
  height: 56px;
  border-radius: 9px;
  background-color: #ed6c1e !important;
  border-color: #ed6c1e !important;
}
.button-estandar:hover {
  background-color: #ce5811 !important;
}
.button-danger {
  width: 239px;
  height: 56px;
  border-radius: 9px;
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
.button-secundario {
  width: 239px;
  height: 56px;
  border-radius: 9px;
  background-color: #ffffff !important;
  border-color: #878889 !important;
  color: #878889 !important;
  font-weight: bold !important;
}
.button-secundario:hover {
  background-color: #f1f1f1 !important;
}
.containerSolicitud {
  position: absolute;
  top: 120px;
}
.dropdown-notificaciones {
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #ebedf2, #ffffff);
}

select {
  background-image: linear-gradient(45deg, transparent 50%, black 60%),
    linear-gradient(135deg, black 40%, transparent 50%) !important;
  background-position: calc(100% - 27px) 14px, calc(100% - 20px) 14px, 100% 0 !important;
  background-size: 7.5px 7.5px, 7.5px 7.5px !important;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (max-width: 991px) {
  .navbar-big {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #ed6c1e, #f7a540);
  }
  .containerSolicitud {
    position: relative;
    top: auto;
  }
}
.form-group.required label:after {
  content: "*";
  color: #dc3545;
}

body {
  --table-width: 100%; /* Or any value, this will change dinamically */
}
thead {
  font-size: 12px;
}
tbody {
  display: block;
  /* max-height:500px; */
  /* overflow-y: auto; */
  font-size: 12px;
}
thead,
tbody tr {
  display: table;
  width: var(--table-width);
  table-layout: fixed;
}

tbody tr td input {
  width: 100%;
}

nav a {
  max-width: 300px;
}
.tabla-detalle-solicitud {
  font-size: 12px;
}
.tabla-detalle-solicitud td,
th {
  width: 150px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.vdpTable thead {
  width: auto;
}
/* .listaNotificaciones.router-link-exact-active > span {
  color: #ed6c1e;
} */
.lista-notificacion {
  background-image: linear-gradient(to bottom, #ed6c1e, #f7a540);
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  width: max-content;
}
@media (max-width: 600px) {
  .button-estandar {
    width: 150px;
    height: 40px;
  }
  .button-danger {
    width: 150px;
    height: 40px;
  }
  .button-secundario {
    width: 150px;
    height: 40px;
  }
}
@media (max-width: 1100px) {
  .button-estandar {
    width: 169px;
    height: 50px;
  }
  .button-danger {
    width: 169px;
    height: 50px;
  }
  .button-secundario {
    width: 169px;
    height: 50px;
  }
}
/* .lista-notificacion :hover {
  background: rgba(237, 108, 30, 0.3);
} */
</style>