<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <div
          class="crear-solicitud"
          style="width:100%"
        >{{ $t('solicitud.lblDetalleSolicitudHospedeje')}}</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-card>
          <b-card-title>{{ $t('detalleSolicitudes.cotizacion') }}</b-card-title>
          <hr />
          <b-row>
            <b-form-group
              class="mx-4 rectangle-5"
              :label="$t('detalleSolicitudes.solicitudes')"
              label-for="id-select-tabla"
            >
              <b-select id="id-select-tabla"></b-select>
            </b-form-group>
            <b-form-group
              class="mx-4 rectangle-5"
              :label="$t('detalleSolicitudes.fechaInicio')"
              label-for="id-fecha-inicio-tabla"
            >
              <b-input id="id-fecha-inicio-tabla" type="date"></b-input>
            </b-form-group>
            <b-form-group
              class="mx-4 rectangle-5"
              :label="$t('detalleSolicitudes.fechaFinal')"
              label-for="id-fecha-final-tabla"
            >
              <b-input id="id-fecha-final-tabla" type="date"></b-input>
            </b-form-group>
          </b-row>
          <div style="overflow-x:auto;">
            <b-table
              id="tabla-solicitud"
              hover
              :items="itemsTable"
              :fields="fields"
              :per-page="perPage"
              :current-page="currentPage"
            ></b-table>
          </div>
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="tabla-solicitud"
          ></b-pagination>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("breadcrumb.lblDetalleSolicitudVueloHospedaje"),
          active: true
        }
      ],
      fields: {
        folio_de_solicitud: {
          label: this.$t("detalleSolicitudes.headerTabla.folioSolicitud"),
          sortable: true
        },
        fecha_de_recepción: {
          label: this.$t("detalleSolicitudes.headerTabla.fechaRecepcion"),
          sortable: true
        },
        hora_de_recepción: {
          label: this.$t("detalleSolicitudes.headerTabla.horaRecepcion"),
          sortable: true
        },
        solicitante: {
          label: this.$t("detalleSolicitudes.headerTabla.solicitante"),
          sortable: true
        },
        tipo_de_solicitud: {
          label: this.$t("detalleSolicitudes.headerTabla.tipoSolicitud"),
          sortable: true
        },
        estatus: {
          label: this.$t("detalleSolicitudes.headerTabla.estatus"),
          sortable: true
        },
        estado: {
          label: this.$t("detalleSolicitudes.headerTabla.estado"),
          sortable: true
        }
      },
      itemsTable: []
    };
  },
  computed: {
    rows() {
      return this.itemsTable.length;
    }
  }
};
</script>

<style>
</style>