<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <b-breadcrumb
          v-if="$store.state.userLogin.intIDPerfil != 2"
          style="background-color:inherit"
          :items="itemsRoute"
        ></b-breadcrumb>
        <b-breadcrumb
          v-if="$store.state.userLogin.intIDPerfil == 2"
          style="background-color:inherit"
          :items="itemsRouteAdmin"
        ></b-breadcrumb>
      </b-col>
    </b-row>
    <datos-usuario-horizontal></datos-usuario-horizontal>
    <b-row class="my-2">
      <b-col>
        <b-card>
          <b-card-title>{{ $t('reporteDetalleSolicitudVueloHospedaje.lblDetalleSolicitudVuelo')}} {{numFolio}}</b-card-title>
          <spinner-custom v-if="spinnerCustom"></spinner-custom>
          <div style="overflow-x:auto;">
            <b-table
              v-if="!spinnerCustom"
              class="tabla-detalle-solicitud"
              id="tabla-solicitud-vuelo"
              hover
              :items="itemsTableVuelo"
              :fields="fieldsVuelo"
            ></b-table>
          </div>
          <b-row v-if="$store.state.alertaEnviadaSolicitud">
            <b-alert
              style="width:100%; text-align:center"
              show
              variant="success"
            >{{ $t('reporteDetalleSolicitudVueloHospedaje.lblMensajeSolicitudEnviada')}}</b-alert>
          </b-row>
          <b-row class="my-2" v-if="$store.state.userLogin.intIDPerfil != 2 && !spinnerCustom">
            <b-col lg="6" class="my-2">
              <b-button
                class="button-secundario"
                @click="editarVuelo()"
              >{{$t('etiquetaSistema.lblEditar')}}</b-button>
            </b-col>
            <b-col lg="6" class="my-2">
              <b-button
                class="button-estandar"
                @click="enviarSolicitud()"
              >{{$t('reporteDetalleSolicitudVueloHospedaje.lblEnviarAdministrador')}}</b-button>
            </b-col>
          </b-row>
          <b-row class="my-2" v-if="$store.state.userLogin.intIDPerfil == 2 && !spinnerCustom">
            <b-col lg="6" class="my-2" v-if="objCabecera.intFKIDEstatus != 7">
              <b-button
                class="button-secundario"
                @click="rechazarSolicitud()"
              >{{$t('etiquetaSistema.lblRechazar')}}</b-button>
            </b-col>
            <b-col lg="6" class="my-2" v-if="objCabecera.intFKIDEstatus != '7'">
              <b-button
                class="button-estandar"
                @click="cotizarSolicitud({id: $route.params.id, tipoSolicitud: 2,  idDetalle: $route.params.idDetalle})"
              >Cotizar</b-button>
            </b-col>
            <b-col lg="6" class="my-2" v-if="objCabecera.intFKIDEstatus == '7'">
              <b-button
                class="button-estandar"
                @click="editarSolicitudAdmin({id: $route.params.id, tipoSolicitud: 3})"
              >{{$t('reporteDetalleSolicitudVueloHospedaje.lblEditarComoAdministrador')}}</b-button>
            </b-col>
          </b-row>
          <b-modal
            id="modal-rechazo-solicitud"
            @ok="rechazaPropuesta({id: $route.params.id, comentario: chrComentariosRechazo})"
            @cancel="limpiarComentarios()"
          >
            <template slot="modal-header" slot-scope="{ close }">
              <!-- Emulate built in modal header close button action -->
              <h5
                style="color: #ed6c1e;"
              >{{ $t('reporteDetalleSolicitudVueloHospedaje.lblRechazarSolicitud')}}</h5>
              <b-img
                style="cursor:pointer;"
                @click="close()"
                :src="require('@/img/ic-close-modal.svg')"
              ></b-img>
            </template>
            <b-card style="border:none">
              <b-form>
                <b-form-group label="Comentarios">
                  <b-form-textarea
                    rows="6"
                    max-rows="6"
                    v-model="chrComentariosRechazo"
                    placeholder="Escribe un comentario con el motivo del rechazo"
                  ></b-form-textarea>
                </b-form-group>
              </b-form>
            </b-card>
            <template slot="modal-footer" slot-scope="{ ok, cancel }">
              <!-- Emulate built in modal footer ok and cancel button actions -->
              <b-button
                class="button-secundario"
                @click="cancel()"
              >{{ $t('etiquetaSistema.lblCancelar')}}</b-button>
              <b-button class="button-estandar" @click="ok()">{{ $t('etiquetaSistema.lblRechazar')}}</b-button>
            </template>
          </b-modal>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from "moment";
import { mapActions, mapState } from "vuex";
import SpinnerCustom from "@/components/SpinnerCustom.vue";
import DatosUsuarioHorizontal from "@/views/DatosUsuarioHorizontal.vue";
export default {
  data() {
    return {
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Detalle solicitudes",
          to: { name: "detalleVueloHospedaje" }
        },
        {
          text: "Detalle solicitud vuelo",
          active: true
        }
      ],
      itemsRouteAdmin: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Administrador de solicitudes",
          to: { name: "administrador-solicitudes" }
        },
        {
          text: this.$t("breadcrumb.solicitudes"),
          to: { name: "detalleSolicitudes" }
        },

        {
          text: "Detalle solicitud vuelo",
          active: true
        }
      ],
      numFolio: this.$route.params.id,
      fieldsVuelo: {
        intIDSolicitud: {
          label: "Número de solicitud",
          sortable: true
        },
        chrNoEmpleado: {
          label: "Número de colaborador",
          sortable: true
        },
        chrNombreEmpleado: {
          label: "Nombre colaborador",
          sortable: true
        },
        chrCentroCosto: {
          label: "Centro costo vuelo",
          sortable: true
        },
        chrTipoViaje: {
          label: "Tipo de viaje",
          sortable: true
        },
        chrTipoVuelo: {
          label: "Tipo de vuelo",
          sortable: true
        },
        chrAerolinea: {
          label: "Aerolínea de preferencia",
          sortable: true
        },
        dtdFechaNacimiento: {
          label: "Fecha nacimiento",
          sortable: true
        },
        chrOrigen: {
          label: "Origen",
          sortable: true
        },
        chrDestino: {
          label: "Destino",
          sortable: true
        },
        dtdFechaSalidad: {
          label: "Fecha de salida",
          sortable: true
        },
        dtdFechaRegreso: {
          label: "Fecha de regreso",
          sortable: true
        }
      },
      itemsTableVuelo: [],
      objCabecera: {},
      chrComentariosRechazo: null,
      intIDDetalleSolicitudViaje: null
    };
  },
  created() {
    this.$store.state.spinnerCustom = true;
    this.muestraDatosVueloHotel();
  },
  computed: {
    ...mapState(["spinnerCustom"])
  },
  components: {
    SpinnerCustom,
    DatosUsuarioHorizontal
  },
  methods: {
    ...mapActions([
      "enviarSolicitudAdministrador",
      "rechazaPropuesta",
      "cotizarSolicitud"
    ]),
    muestraDatosVueloHotel() {
  
      let objSolicitud = {
        intIDSolicitud: this.$route.params.id,
        intFKIDDetalleSolicitudViaje: 0,//this.$route.params.idDetalle
      };
  
      const hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          this.objCabecera = {
            chrComentarios: response.data.result.chrComentarios,
            dtdFechaNacimiento: response.data.result.dtdFechaNacimiento,
            dtdFechaSolicitud: response.data.result.dtdFechaSolicitud,
            intFKIDEstatus: response.data.result.intFKIDEstatus,
            intFKIDTipoSolicitud: response.data.result.intFKIDTipoSolicitud,
            intFolio: response.data.result.intFolio,
            intIDAutorizadorSuplente:
              response.data.result.intIDAutorizadorSuplente,
            intIDSolicitud: response.data.result.intIDSolicitud,
            intNoEmpleadoCreador: response.data.result.intNoEmpleadoCreador,
            intNoSolicitante: response.data.result.intNoSolicitante
          };
          this.armarTablaDetalleVuelo(response.data.result);
          this.$store.state.spinnerCustom = false;
        })
        .catch(error => {
          this.$store.state.spinnerCustom = false;
        });
    },
    armarTablaDetalleVuelo(objVuelo) {
      var arrayTabla = [];

      objVuelo.detalleSolicitudViaje.forEach(detalleSolicitudViaje => {
        
        detalleSolicitudViaje.listaEmpleados.forEach(emp => {
          let tipoViaje = "";
          let tipoVuelo = "";

          switch (detalleSolicitudViaje.intFKIDTipoViaje) {
            case 1:
              tipoViaje = "Nacional";
              break;
            case 2:
              tipoViaje = "Internacional";
              break;
            default:
              break;
          }

          switch (detalleSolicitudViaje.intFKIDTipoVuelo) {
            case 1:
              tipoVuelo = "Sencillo";
              break;
            case 2:
              tipoVuelo = "Redondo";
              break;
            default:
              break;
          }

          let nombreCompleto =
            emp.chrNombre +
            " " +
            (emp.chrApellidoPaterno != null ? emp.chrApellidoPaterno : "") +
            " " +
            (emp.chrApellidoMaterno != null ? emp.chrApellidoMaterno : "");

          var fechaRegreso = "";
          if (detalleSolicitudViaje.dtdFechaRegreso != null) {
            fechaRegreso = moment(detalleSolicitudViaje.dtdFechaRegreso).format(
              "DD-MM-YYYY"
            );
          } else {
            fechaRegreso = "";
          }
          let objRow = {
            intIDSolicitud: this.$route.params.id,
            chrNoEmpleado: emp.chrCodigoEmpleado,
            chrNombreEmpleado: nombreCompleto,
            chrCentroCosto: detalleSolicitudViaje.chrCentroCostoViaje,
            chrTipoViaje: tipoViaje,
            chrTipoVuelo: tipoVuelo,
            chrAerolinea: detalleSolicitudViaje.chrAerolinea,
            dtdFechaNacimiento: moment(emp.dtdFechaNacimiento).format(
              "DD-MM-YYYY"
            ),
            chrOrigen: detalleSolicitudViaje.chrClaveOrigen,
            chrDestino: detalleSolicitudViaje.chrClaveDestino,
            dtdFechaSalidad: moment(
              detalleSolicitudViaje.dtdFechaSalidad
            ).format("DD-MM-YYYY"),
            dtdFechaRegreso: fechaRegreso
          };
      
          arrayTabla.push(objRow);
        });
      });

      /*
      objVuelo.detalleSolicitudViaje[0].listaEmpleados.forEach(emp => {
        let tipoViaje = "";
        let tipoVuelo = "";

        switch (objVuelo.detalleSolicitudViaje[0].intFKIDTipoViaje) {
          case 1:
            tipoViaje = "Nacional";
            break;
          case 2:
            tipoViaje = "Internacional";
            break;
          default:
            break;
        }

        switch (objVuelo.detalleSolicitudViaje[0].intFKIDTipoVuelo) {
          case 1:
            tipoVuelo = "Sencillo";
            break;
          case 2:
            tipoVuelo = "Redondo";
            break;
          default:
            break;
        }

        let nombreCompleto =
          emp.chrNombre +
          " " +
          (emp.chrApellidoPaterno != null ? emp.chrApellidoPaterno : "") +
          " " +
          (emp.chrApellidoMaterno != null ? emp.chrApellidoMaterno : "");

        var fechaRegreso = "";
        if (objVuelo.detalleSolicitudViaje[0].dtdFechaRegreso != null) {
          fechaRegreso = moment(
            objVuelo.detalleSolicitudViaje[0].dtdFechaRegreso
          ).format("DD-MM-YYYY");
        } else {
          fechaRegreso = "";
        }
        let objRow = {
          intIDSolicitud: this.$route.params.id,
          chrNoEmpleado: emp.chrCodigoEmpleado,
          chrNombreEmpleado: nombreCompleto,
          chrCentroCosto: objVuelo.detalleSolicitudViaje[0].chrCentroCostoViaje,
          chrTipoViaje: tipoViaje,
          chrTipoVuelo: tipoVuelo,
          chrAerolinea: objVuelo.detalleSolicitudViaje[0].chrAerolinea,
          dtdFechaNacimiento: moment(emp.dtdFechaNacimiento).format(
            "DD-MM-YYYY"
          ),
          chrOrigen: objVuelo.detalleSolicitudViaje[0].chrClaveOrigen,
          chrDestino: objVuelo.detalleSolicitudViaje[0].chrClaveDestino,
          dtdFechaSalidad: moment(
            objVuelo.detalleSolicitudViaje[0].dtdFechaSalidad
          ).format("DD-MM-YYYY"),
          dtdFechaRegreso: fechaRegreso
        };
        arrayTabla.push(objRow);
      });*/
      this.itemsTableVuelo = arrayTabla;
     
    },
    enviarSolicitud() {
      this.enviarSolicitudAdministrador(this.$route.params.id);
    },
    editarVuelo() {
      this.$router.push({
        name: "vueloId",
        params: { id: this.$route.params.id }
      });
    },
    editarSolicitudAdmin() {
      const hd = this.$store.state.headers;
  
      let objSolicitud = {
        intIDSolicitud: this.$route.params.id,
        intFKIDDetalleSolicitudViaje:0 //this.$route.params.idDetalle
      };
      let vm = this;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          vm.$store.state.objVueloHotel = response.data.result;
          this.$router.push({
            name: "vueloId",
            params: { id: this.$route.params.id }
          });
        })
        .catch(error => {});
    },
    rechazarSolicitud() {
      this.$bvModal.show("modal-rechazo-solicitud");
      this.limpiarComentarios();
    },
    limpiarComentarios() {
      this.chrComentariosRechazo = null;
    }
  }
};
</script>

<style>
</style>