<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <div class="crear-solicitud" style="width:100%">Resumen solicitudes</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
    </b-row>
    <div>
      <b-list-group horizontal="md">
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.numEmpleado') }}:
            <span
              class="fontOscuro"
            >{{ $store.state.userLogin.chrCodigoEmpleado }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.nombre') }}:
            <span
              class="fontOscuro"
            >{{ $store.state.userLogin.chrNombre }} {{ ($store.state.userLogin.chrApellidoPaterno != null ? $store.state.userLogin.chrApellidoPaterno: '') }} {{ ($store.state.userLogin.chrApellidoMaterno != null ? $store.state.userLogin.chrApellidoMaterno:'') }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.puesto') }}:
            <span class="fontOscuro">{{ chrPuesto }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.departamento') }}:
            <span class="fontOscuro">{{ chrDepartamento }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.centroCosto') }}:
            <span class="fontOscuro">{{ chrCentroCosto }}</span>
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item>
          <b-card-text>
            {{ $t('datosUsuario.autorizador') }}:
            <span
              class="fontOscuro"
            >{{$store.state.userLogin.empledoAutorizador[0].chrNombre}} {{($store.state.userLogin.empledoAutorizador[0].chrApellidoPaterno != null ? $store.state.userLogin.empledoAutorizador[0].chrApellidoPaterno:'')}} {{($store.state.userLogin.empledoAutorizador[0].chrApellidoMaterno != null ? $store.state.userLogin.empledoAutorizador[0].chrApellidoMaterno: '')}}</span>
          </b-card-text>
        </b-list-group-item>
      </b-list-group>
    </div>
    <br />
    <b-row>
      <b-col>
        <b-card>
          <b-card-title>Resumen de vuelo</b-card-title>
          <b-row></b-row>
          <b-modal id="modal-confirma-borrar">
            <template slot="modal-header" slot-scope="{ close }">
              <h5 style="color: #ed6c1e;">Eliminar solicitud</h5>
              <b-img
                style="cursor:pointer;"
                @click="close()"
                :src="require('@/img/ic-close-modal.svg')"
              ></b-img>
            </template>
            <b-card style="border:none">
              <div class="d-block text-center">
                <h5>¿Estás seguro que deseas eliminar la solicitud?</h5>
              </div>
            </b-card>
            <template slot="modal-footer">
              <b-button
                class="button-modal-recupera-pass"
                style="background-color:#ffffff;border: solid 1px #878889;color:#878889;"
                @click="$bvModal.hide('modal-confirma-borrar')"
              >Cancelar</b-button>
              <b-button
                class="button-modal-recupera-pass"
                style="background-color:#ed6c1e;border-color:#ed6c1e;"
                @click="deleteSolicitudById()"
              >Eliminar</b-button>
            </template>
          </b-modal>
          <spinner-custom v-if="spinnerCustom"></spinner-custom>
          <div style="overflow-x:auto;">
            <b-table
              v-if="!spinnerCustom"
              class="tabla-detalle-solicitud"
              id="tabla-solicitud-vuelo"
              hover
              :items="itemsVuelofiltered"
              :fields="fieldsVuelo"
              :per-page="perPageVuelo"
              :current-page="currentPageVuelo"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <b-form-select v-if="field.key == 'chrTipoViaje'" v-model="filters[field.key]">
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.tipoViaje"
                      :key="v.intIDTipoViaje"
                      :value="v.chrDescripcion"
                    >{{ v.chrDescripcion }}</option>
                  </b-form-select>
                  <b-form-select v-if="field.key == 'chrTipoVuelo'" v-model="filters[field.key]">
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.tipoVuelo"
                      :key="v.intIDTipoVuelo"
                      :value="v.chrDescripcion"
                    >{{ v.chrDescripcion }}</option>
                  </b-form-select>
                  <!-- dtdFechaSalidad -->
                  <!-- <b-input
                    type="date"
                    v-if="field.key == 'dtdFechaSalidad'"
                    v-model="filters[field.key]"
                  ></b-input>-->
                  <b-form-select v-if="field.key == 'chrEstatus'" v-model="filters[field.key]">
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.estatusSolicitud"
                      :key="v.intIDEstatus"
                      :value="v.chrEstatus"
                    >{{ v.chrEstatus }}</option>
                  </b-form-select>
                  <input
                    v-if="field.key != 'actions' && field.key != 'chrTipoViaje' && field.key != 'chrTipoVuelo' && field.key != 'chrEstatus'"
                    v-model="filters[field.key]"
                    :placeholder="field.label"
                  />
                </td>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  v-if="data.item.chrEstatus == 'Pendiente' || data.item.chrEstatus == 'Rechazada'"
                  href="#"
                  v-on:click="editSolicitud(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="eye" />
                </a>
                <a
                  v-else-if="data.item.chrEstatus == 'Cotizada' || data.item.chrEstatus == 'En autorización.'"
                  href="#"
                  v-on:click="verCotizaciones(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="plane" />
                </a>
                <a href="#" v-on:click="deleteSolicitud(data.item)" class="icon">
                  <font-awesome-icon color="#333333" icon="trash" />
                </a>
              </template>
            </b-table>
          </div>
          <b-pagination
            v-if="rowsVuelo > 0"
            v-model="currentPageVuelo"
            :total-rows="rowsVuelo"
            :per-page="perPageVuelo"
            aria-controls="tabla-solicitud-vuelo"
          ></b-pagination>

          <b-row class="mt-5 mb-2"></b-row>
          <b-card-title>Resumen de hospedaje</b-card-title>
          <div style="overflow-x:auto;">
            <b-table
              v-if="!spinnerCustom"
              class="tabla-detalle-solicitud"
              id="tabla-solicitud-hospedaje"
              hover
              :items="itemsHospedajefiltered"
              :fields="fieldsHospedaje"
              :per-page="perPageHospedaje"
              :current-page="currentPageHospedaje"
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td v-for="field in fields" :key="field.key">
                  <b-form-select v-if="field.key == 'chrEstatus'" v-model="filters[field.key]">
                    <option value>Todos</option>
                    <option
                      v-for="v in $store.state.estatusSolicitud"
                      :key="v.intIDEstatus"
                      :value="v.chrEstatus"
                    >{{ v.chrEstatus }}</option>
                  </b-form-select>
                  <input
                    v-if="field.key != 'actions' && field.key != 'chrEstatus'"
                    v-model="filters[field.key]"
                    :placeholder="field.label"
                  />
                </td>
              </template>
              <template slot="actions" slot-scope="data">
                <a
                  v-if="data.item.chrEstatus == 'Pendiente'"
                  href="#"
                  v-on:click="editSolicitud(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="eye" />
                </a>
                <a
                  v-else-if="data.item.chrEstatus == 'Cotizada' || data.item.chrEstatus == 'En autorización.'"
                  href="#"
                  v-on:click="verCotizaciones(data.item)"
                  class="icon"
                  style="margin-right:10px"
                >
                  <font-awesome-icon color="#333333" icon="hotel" />
                </a>
                <a href="#" v-on:click="deleteSolicitud(data.item)" class="icon">
                  <font-awesome-icon color="#333333" icon="trash" />
                </a>
              </template>
            </b-table>
          </div>
          <b-pagination
            v-if="rowsHospedaje > 0"
            v-model="currentPageHospedaje"
            :total-rows="rowsHospedaje"
            :per-page="perPageHospedaje"
            aria-controls="tabla-solicitud-hospedaje"
          ></b-pagination>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from "moment";
import { mapActions, mapState } from "vuex";
import SpinnerCustom from "@/components/SpinnerCustom.vue";
import { CoolSelect } from "vue-cool-select";
import DatePick from "vue-date-pick";
//import DatosUsuario from "@/views/DatosUsuario.vue";

export default {
  data() {
    return {
      perPageVuelo: 10,
      currentPageVuelo: 1,
      perPageHospedaje: 10,
      currentPageHospedaje: 1,
      solicitudActual: null,
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: "Detalle solicitudes",
          active: true
        }
      ],
      fieldsVuelo: {
        intIDSolicitud: {
          label: "Número de solicitud",
          sortable: true
        },
        chrNoEmpleado: {
          label: "Número de colaborador",
          sortable: true
        },
        nombreCompleto: {
          label: "Nombre colaborador",
          sortable: true
        },
        chrCentroCosto: {
          label: "Centro costo vuelo",
          sortable: true
        },
        chrTipoViaje: {
          label: "Tipo de viaje",
          sortable: true
        },
        chrTipoVuelo: {
          label: "Tipo de vuelo",
          sortable: true
        },
        chrAerolinea: {
          label: "Aerolínea de preferencia",
          sortable: true
        },
        chrOrigen: {
          label: "Origen",
          sortable: true
        },
        chrDestino: {
          label: "Destino",
          sortable: true
        },
        dtdFechaSalidad: {
          label: "Fecha de salida",
          sortable: true
        },
        dtdFechaRegreso: {
          label: "Fecha de regreso",
          sortable: true
        },
        chrEstatus: {
          label: "Estatus",
          sortable: false
        },
        actions: {
          label: "Acciones",
          sortable: false
        }
      },
      fieldsHospedaje: {
        intIDSolicitud: {
          label: "Número de solicitud",
          sortable: true
        },
        chrNoEmpleado: {
          label: "Número de colaborador",
          sortable: true
        },
        nombreCompleto: {
          label: "Nombre colaborador",
          sortable: true
        },
        chrCentroCostoHotel: {
          label: "Centro costo hospedaje",
          sortable: true
        },
        chrHotel: {
          label: "Hotel",
          sortable: true
        },
        chrHabitaciones: {
          label: "Habitaciones",
          sortable: true
        },
        chrTipoHabitacion: {
          label: "Tipo de habitación",
          sortable: true
        },
        chrOrigen: {
          label: "Origen",
          sortable: true
        },
        chrDestino: {
          label: "Destino",
          sortable: true
        },
        dtdFechaSalidad: {
          label: "Fecha entrada",
          sortable: true
        },
        dtdFechaRegreso: {
          label: "Fecha de salida",
          sortable: true
        },
        chrNochesReservadas: {
          label: "Noches reservadas",
          sortable: true
        },
        chrEstatus: {
          label: "Estatus",
          sortable: false
        },
        actions: {
          label: "Acciones",
          sortable: false
        }
      },
      filters: {
        intIDSolicitud: ""
      },
      chrPuesto: "",
      chrDepartamento: "",
      chrCentroCosto: ""
    };
  },
  computed: {
    ...mapState(["itemsTableVuelo", "itemsTableHospedaje", "spinnerCustom"]),
    rowsVuelo() {
      return this.itemsVuelofiltered.length;
    },
    rowsHospedaje() {
      return this.itemsHospedajefiltered.length;
    },
    itemsVuelofiltered() {
      const filtered = this.itemsTableVuelo.filter(item => {
        return Object.keys(this.filters).every(key =>
          String(item[key]).includes(this.filters[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    },
    itemsHospedajefiltered() {
      const filtered = this.itemsTableHospedaje.filter(item => {
        return Object.keys(this.filters).every(key =>
          String(item[key]).includes(this.filters[key])
        );
      });
      return filtered.length > 0 ? filtered : [];
    }
  },
  created() {
    this.getTipoVuelo();
    this.getTipoViaje();
    this.getEstatusSolicitud();
    this.$store.state.spinnerCustom = true;
    const currentCookie = JSON.parse(this.$cookie.get("cookieControlViajes"));
    this.getResumenVueloPorEmpleado(currentCookie.intIDEmpleado);
    this.getResumenHotelPorEmpleado(currentCookie.intIDEmpleado);

    const currentCookieUser = JSON.parse(
      this.$cookie.get("cookieControlViajesUser")
    );
    this.chrDepartamento = currentCookieUser.departamento;
    this.chrPuesto = currentCookieUser.puesto;
    this.chrCentroCosto = currentCookieUser.centrocosto;
  },
  components: {
    SpinnerCustom,
    CoolSelect,
    DatePick
    //DatosUsuario,
  },
  methods: {
    ...mapActions([
      "muestraDatosVueloHotel",
      "getResumenVueloPorEmpleado",
      "getResumenHotelPorEmpleado",
      "getTipoVuelo",
      "getTipoViaje",
      "getEstatusSolicitud",
      "obtieneIDsDetalleViajeHospedaje"
    ]),

    editSolicitud(solicitud) {
      this.obtieneIDsDetalleViajeHospedaje(solicitud);
      this.muestraDatosVueloHotel({
        intIDSolicitud: solicitud.intIDSolicitud,
        intFKIDDetalleSolicitudViaje: 0
      });
      // Agregar servicio de editado de solicitud
    },
    verCotizaciones(solicitud) {
      let intFKIDDetalleSolicitudViaje = 0;
      if (solicitud.intFKIDTipoSolicitud == 3) {
        intFKIDDetalleSolicitudViaje = solicitud.intFKIDDetalleSolicitudHotel;
      } else {
        intFKIDDetalleSolicitudViaje = solicitud.intFKIDDetalleSolicitudViaje;
      }

      this.$router.push({
        name: "seleccionHospedaje",
        query: {
          idSolicitud: solicitud.intIDSolicitud,
          idDetalleSolicitud: intFKIDDetalleSolicitudViaje
        }
      });
    },
    deleteSolicitud(solicitud) {
      this.$bvModal.show("modal-confirma-borrar");
      this.solicitudActual = solicitud;
    },
    deleteSolicitudById() {
      this.$bvModal.hide("modal-confirma-borrar");

      const currentCookie = JSON.parse(this.$cookie.get("cookieControlViajes"));
      let idSolicitud = {
        intIDSolicitud: this.solicitudActual.intIDSolicitud
      };
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/DeleteSolicitud/",
          idSolicitud,
          {
            hd
          }
        )
        .then(response => {
          this.getResumenVueloPorEmpleado(currentCookie.intIDEmpleado);
          this.getResumenHotelPorEmpleado(currentCookie.intIDEmpleado);
        })
        .catch(error => {});
    }
  }
};
</script>

<style>
.fontOscuro {
  color: rgb(237, 108, 30);
  font-weight: bold;
}
</style>