<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col>
        <b-breadcrumb
          v-if="$store.state.userLogin.intIDPerfil != 2"
          style="background-color:inherit"
          :items="itemsRoute"
        ></b-breadcrumb>
        <b-breadcrumb
          v-if="$store.state.userLogin.intIDPerfil == 2"
          style="background-color:inherit"
          :items="itemsRouteAdmin"
        ></b-breadcrumb>
      </b-col>
    </b-row>
    <datos-usuario-horizontal></datos-usuario-horizontal>
    <b-row class="my-2">
      <b-col>
        <b-card>
          <b-card-title>{{ $t('reporteDetalleSolicitudVueloHospedaje.lblDetalleSolicitud') }}{{numFolio}}</b-card-title>
          <spinner-custom v-if="spinnerCustom"></spinner-custom>
          <div style="overflow-x:auto;">
            <b-table
              v-if="!spinnerCustom"
              class="tabla-detalle-solicitud"
              id="tabla-solicitud-hospedaje"
              hover
              :items="itemsTableHospedaje"
              :fields="fieldsHospedaje"
            ></b-table>
          </div>
          <b-row v-if="$store.state.alertaEnviadaSolicitud">
            <b-alert
              style="width:100%; text-align:center"
              show
              variant="success"
            >{{ $t('reporteDetalleSolicitudVueloHospedaje.lblMensajeSolicitudEnviada')}}</b-alert>
          </b-row>
          <b-row class="my-2" v-if="$store.state.userLogin.intIDPerfil != 2 && !spinnerCustom">
            <b-col lg="6" class="my-2">
              <b-button
                :disabled="$store.state.alertaEnviadaSolicitud"
                class="button-secundario"
                @click="editarHospedaje()"
              >{{ $t('etiquetaSistema.lblEditar')}}</b-button>
            </b-col>
            <b-col lg="6" class="my-2">
              <b-button
                :disabled="$store.state.alertaEnviadaSolicitud"
                class="button-estandar"
                @click="enviarSolicitud()"
              >{{ $t('reporteDetalleSolicitudVueloHospedaje.lblEnviarAdministrador')}}</b-button>
            </b-col>
          </b-row>
          <b-row class="my-2" v-if="$store.state.userLogin.intIDPerfil == 2 && !spinnerCustom">
            <b-col lg="6" class="my-2" v-if="objCabecera.intFKIDEstatus != 7">
              <b-button class="button-secundario" @click="rechazarSolicitud()">Rechazar</b-button>
            </b-col>
            <b-col lg="6" class="my-2" v-if="objCabecera.intFKIDEstatus != '7'">
              <b-button
                class="button-estandar"
                @click="cotizarSolicitud({id: $route.params.id, tipoSolicitud: 3, idDetalle:$route.params.idDetalle })"
              >{{ $t('etiquetaSistema.lblCotizar')}}</b-button>
            </b-col>
            <b-col lg="6" class="my-2" v-if="objCabecera.intFKIDEstatus == '7'">
              <b-button
                class="button-estandar"
                @click="editarSolicitudAdmin({id: $route.params.id, tipoSolicitud: 3})"
              >{{ $t('reporteDetalleSolicitudVueloHospedaje.lblEditarComoAdministrador')}}</b-button>
            </b-col>
          </b-row>
          <b-modal
            id="modal-rechazo-solicitud"
            @ok="rechazaPropuesta({id: $route.params.id, comentario: chrComentariosRechazo})"
            @cancel="limpiarComentarios()"
          >
            <template slot="modal-header" slot-scope="{ close }">
              <!-- Emulate built in modal header close button action -->
              <h5
                style="color: #ed6c1e;"
              >{{ $t('reporteDetalleSolicitudVueloHospedaje.lblRechazarSolicitud')}}</h5>
              <b-img
                style="cursor:pointer;"
                @click="close()"
                :src="require('@/img/ic-close-modal.svg')"
              ></b-img>
            </template>
            <b-card style="border:none">
              <b-form>
                <b-form-group label="Comentarios">
                  <b-form-textarea
                    rows="6"
                    max-rows="6"
                    v-model="chrComentariosRechazo"
                    placeholder="Escribe un comentario con el motivo del rechazo"
                  ></b-form-textarea>
                </b-form-group>
              </b-form>
            </b-card>
            <template slot="modal-footer" slot-scope="{ ok, cancel }">
              <!-- Emulate built in modal footer ok and cancel button actions -->
              <b-button
                class="button-secundario"
                @click="cancel()"
              >{{ $t('etiquetaSistema.lblCancelar')}}</b-button>
              <b-button class="button-estandar" @click="ok()">{{ $t('etiquetaSistema.lblRechazar')}}</b-button>
            </template>
          </b-modal>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from "moment";
import { mapActions, mapState } from "vuex";
import SpinnerCustom from "@/components/SpinnerCustom.vue";
import DatosUsuarioHorizontal from "@/views/DatosUsuarioHorizontal.vue";
export default {
  data() {
    return {
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("breadcrumb.lblDetalleSolicitudes"),
          to: { name: "detalleVueloHospedaje" }
        },
        {
          text: this.$t("breadcrumb.lblDetalleSolicitudHospedaje"),
          active: true
        }
      ],
      itemsRouteAdmin: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("breadcrumb.lblAdministradorSolcitudes"),
          to: { name: "administrador-solicitudes" }
        },
        {
          text: this.$t("breadcrumb.solicitudes"),
          to: { name: "detalleSolicitudes" }
        },

        {
          text: this.$t("breadcrumb.lblDetalleSolicitudHospedaje"),
          active: true
        }
      ],
      numFolio: this.$route.params.id,
      fieldsHospedaje: {
        intIDSolicitud: {
          label: this.$t("solicitud.lblColTablaNumSolicitud"),
          sortable: true
        },
        chrNoEmpleado: {
          label: this.$t("solicitud.lblColTablaNumColaborador"),
          sortable: true
        },
        chrNombreEmpleado: {
          label: this.$t("solicitud.lblColTablaNomColaborador"),
          sortable: true
        },
        chrCentroCosto: {
          label: this.$t("solicitud.lblColTablaCentroCosto"),
          sortable: true
        },
        chrHotel: {
          label: this.$t("solicitud.lblColTablaHotel"),
          sortable: true
        },
        chrHabitaciones: {
          label: this.$t("solicitud.lblColTablaHabitaciones"),
          sortable: true
        },
        chrTipoHabitacion: {
          label: this.$t("solicitud.lblColTablaTipoHabitacion"),
          sortable: true
        },
        chrOrigen: {
          label: this.$t("solicitud.lblColTablaOrigen"),
          sortable: true
        },
        chrDestino: {
          label: this.$t("solicitud.lblColTablaDestino"),
          sortable: true
        },
        dtdFechaSalidad: {
          label: this.$t("solicitud.lblColTablaFechaEntrada"),
          sortable: true
        },
        dtdFechaRegreso: {
          label: this.$t("solicitud.lblColTablaFechaSalida"),
          sortable: true
        },
        chrNochesReservadas: {
          label: this.$t("solicitud.lblColTablaNocheReservadas"),
          sortable: true
        }
      },
      itemsTableHospedaje: [],
      objCabecera: {},
      chrComentariosRechazo: null
    };
  },
  created() {
    this.$store.state.spinnerCustom = true;
    this.muestraDatosVueloHotel();
  },
  components: {
    SpinnerCustom,
    DatosUsuarioHorizontal
  },
  computed: {
    ...mapState(["spinnerCustom", "alertaEnviadaSolicitud"])
  },
  methods: {
    ...mapActions([
      "enviarSolicitudAdministrador",
      "rechazaPropuesta",
      "cotizarSolicitud"
    ]),
    muestraDatosVueloHotel() {
     
      let objSolicitud = {
        intIDSolicitud: this.$route.params.id,
        intFKIDDetalleSolicitudViaje: 0 //this.$route.params.idDetalle,
      };

      const hd = this.$store.state.headers;

      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          this.objCabecera = {
            chrComentarios: response.data.result.chrComentarios,
            dtdFechaNacimiento: response.data.result.dtdFechaNacimiento,
            dtdFechaSolicitud: response.data.result.dtdFechaSolicitud,
            intFKIDEstatus: response.data.result.intFKIDEstatus,
            intFKIDTipoSolicitud: response.data.result.intFKIDTipoSolicitud,
            intFolio: response.data.result.intFolio,
            intIDAutorizadorSuplente:
              response.data.result.intIDAutorizadorSuplente,
            intIDSolicitud: response.data.result.intIDSolicitud,
            intNoEmpleadoCreador: response.data.result.intNoEmpleadoCreador,
            intNoSolicitante: response.data.result.intNoSolicitante
          };
          this.armarTablaDetalleHospedaje(response.data.result);
          this.$store.state.spinnerCustom = false;
        })
        .catch(error => {
          this.$store.state.spinnerCustom = false;
        });
    },
    armarTablaDetalleHospedaje(objHospedaje) {
      var arrayTabla = [];
      
      objHospedaje.detalleSolicitudHotel[0].lstDtEmpleadoHuespedes.forEach(
        emp => {
          let tipoHabitacion = "";

          switch (objHospedaje.detalleSolicitudHotel[0].intFKIDTipoHabitacion) {
            case 1:
              tipoHabitacion = "Sencilla";
              break;
            case 2:
              tipoHabitacion = "Doble";
              break;
            default:
              break;
          }

          let nombreCompleto =
            emp.chrNombre +
            " " +
            (emp.chrApellidoPaterno != null ? emp.chrApellidoPaterno : "") +
            " " +
            (emp.chrApellidoMaterno != null ? emp.chrApellidoMaterno : "");

          let objRow = {
            intIDSolicitud: this.$route.params.id,
            chrNoEmpleado: emp.chrCodigoEmpleado,
            chrNombreEmpleado: nombreCompleto,
            chrHotel: objHospedaje.detalleSolicitudHotel[0].chrEsHotel,
            chrCentroCosto:
              objHospedaje.detalleSolicitudHotel[0].chrCentroCostoHospedaje,
            chrTipoHabitacion: tipoHabitacion,
            chrHabitaciones:
              objHospedaje.detalleSolicitudHotel[0].intNoHabitaciones,
            dtdFechaNacimiento: moment(emp.dtdFechaNacimiento).format(
              "DD-MM-YYYY"
            ),
            chrOrigen: objHospedaje.detalleSolicitudHotel[0].chrClaveOrigen,
            chrDestino: objHospedaje.detalleSolicitudHotel[0].chrClaveDestino,
            dtdFechaSalidad: moment(
              objHospedaje.detalleSolicitudHotel[0].dtdFechaSalidad
            ).format("DD-MM-YYYY"),
            dtdFechaRegreso: moment(
              objHospedaje.detalleSolicitudHotel[0].dtdFechaRegreso
            ).format("DD-MM-YYYY"),
            chrNochesReservadas:
              objHospedaje.detalleSolicitudHotel[0].chrNochesReservadas
          };
          arrayTabla.push(objRow);
        }
      ); 
      this.itemsTableHospedaje = arrayTabla;
    },
    enviarSolicitud() {
      this.enviarSolicitudAdministrador(this.$route.params.id);
    },
    editarHospedaje() {
      this.$router.push({
        name: "hospedajeId",
        params: { id: this.$route.params.id }
      });
    },
    editarSolicitudAdmin() {
      const hd = this.$store.state.headers;
      let objSolicitud = {
          intIDSolicitud: this.$route.params.id,
          intFKIDDetalleSolicitudViaje: 0 };
      let vm = this;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/MuestraDatosVueloHotel/",
          objSolicitud,
          { hd }
        )
        .then(response => {
          vm.$store.state.objVueloHotel = response.data.result;
          this.$router.push({
            name: "hospedajeId",
            params: { id: this.$route.params.id }
          });
        })
        .catch(error => {});
    },
    rechazarSolicitud() {
      this.$bvModal.show("modal-rechazo-solicitud");
      this.limpiarComentarios();
    },
    limpiarComentarios() {
      this.chrComentariosRechazo = null;
    }
  }
};
</script>

<style>
</style>