<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col cols="8">
        <div class="crear-solicitud">{{ $t('reservaciones.crearSolicitud') }}</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
      <b-col cols="4">
        <div class="txt-navbar-fecha">{{ $t('reservaciones.fechaSolicitud') }}</div>
        <br />
        <br />
        <div class="txt-navbar-fecha" style="font-weight: bold;">{{ moment().format('DD/MM/YYYY') }}</div>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="4">
        <datos-usuario></datos-usuario>
        <br />
      </b-col>
      <b-col lg="8">
        <b-card>
          <b-form @submit.prevent="altaVueloHospedaje" @reset="$v.$reset()">
            <b-row>
              <b-col cols="12">
                <b-card-title>Solicitud</b-card-title>
                <b-row class="my-2">
                  <b-col lg="6" v-if="$route.params.id != null">
                    <b-form-group label="Número de folio" label-for="input-numero-folio">
                      <b-form-input
                        disabled
                        id="input-numero-folio"
                        v-model="$v.formEmpleado.numFolio.$model"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      label="Comentarios de la solicitud"
                      label-for="input-comentario-solicitud"
                    >
                      <b-form-input
                        id="input-comentario-solicitud"
                        v-model="$v.formEmpleado.comentarioSolicitud.$model"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.numEmpleado')"
                      label-for="input-numero-empleado"
                    >
                      <b-input v-model="codigoEmpleado"></b-input>
                      <br />
                      <b-button @click.prevent="getEmpleadoStore(codigoEmpleado)">Consultar</b-button>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6" v-if="$store.state.empleadoSelected != null">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.nomEmpleado')"
                      label-for="input-nombre-empleado"
                    >
                      <b-form-input disabled v-model="$store.state.empleadoSelected.nombre"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6" v-if="$store.state.empleadoSelected != null">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaNacimiento')"
                      label-for="input-fecha-nacimiento"
                    >
                      <b-form-input disabled v-model="$store.state.empleadoSelected.fechanac"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6" v-if="empleadoSelected != null">
                    <b-button
                      class="button-estandar"
                      style="width:100%;height:auto;margin-top:32px;"
                      @click="agregarUsuario()"
                    >Agregar</b-button>
                  </b-col>
                </b-row>
                <b-row class="my-2" v-if="listaEmpleados.length > 0">
                  <b-col cols="12">
                    <div style="overflow-x:auto">
                      <b-table striped hover :items="listaEmpleados" :fields="camposTablaEmpleados">
                        <template slot="actions" slot-scope="data">
                          <a href="#" v-on:click="deleteEmpleadoTable(data.item)" class="icon">
                            <font-awesome-icon color="#333333" icon="trash" />
                          </a>
                        </template>
                      </b-table>
                    </div>
                  </b-col>
                </b-row>
                <b-card-title>{{ $t('reservaciones.tituloHospedaje') }}</b-card-title>
                <b-row class="my-2">
                  <b-col lg="6" v-if="listaEmpleados.length > 0">
                    <b-form-group
                      class="requiered"
                      label="Colaborador"
                      label-for="select-colaborador"
                    >
                      <b-form-select
                        id="select-colaborador"
                        v-model="$v.formHospedaje.colaboradorSelected.$model"
                      >
                        <option v-if="listaEmpleados.length > 1" value="Todos" selected>Todos</option>
                        <option
                          v-for="th in this.listaEmpleados"
                          :key="th.numero"
                          :value="th.numero"
                        >{{ th.numero }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.hotel')"
                      label-for="select-hotel"
                    >
                      <b-form-select id="select-hotel" v-model="formHospedaje.hotelSelected">
                        <option :value="null" disabled>¿El hospedaje será hotel?</option>
                        <option v-for="h in hotel" :key="h.value" :value="h.value">{{ h.text }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.numHabitaciones')"
                      label-for="input-numero-habitaciones"
                    >
                      <b-form-input
                        id="input-numero-habitaciones"
                        type="number"
                        v-model="$v.formHospedaje.habitaciones.$model"
                        :state="$v.formHospedaje.habitaciones.$dirty ? !$v.formHospedaje.habitaciones.$error : null"
                        aria-describedby="input-habitaciones-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback id="input-habitaciones-feedback">Campo requerido.</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group class="required" label="Origen" label-for="input-origen-hotel">
                      <b-form-input
                        id="input-origen-hotel"
                        type="text"
                        v-model="$v.formHospedaje.origen.$model"
                        :state="$v.formHospedaje.origen.$dirty ? !$v.formHospedaje.origen.$error : null"
                        aria-describedby="input-origen-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback id="input-origen-feedback">Campo requerido.</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group class="required" label="Destino" label-for="input-destino-hotel">
                      <b-form-input
                        id="input-destino-hotel"
                        type="text"
                        v-model="$v.formHospedaje.destino.$model"
                        :state="$v.formHospedaje.destino.$dirty ? !$v.formHospedaje.destino.$error : null"
                        aria-describedby="input-destino-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback id="input-destino-feedback">Campo requerido.</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaEntrada')"
                      label-for="input-fecha-entrada-hotel"
                    >
                      <date-pick
                        v-model="$v.formHospedaje.fechaEntradaHotel.$model"
                        :displayFormat="'DD-MM-YYYY'"
                        :isDateDisabled="isPastDate"
                        :inputAttributes="{readonly: true}"
                        :weekdays="$store.state.diasSemana"
                        :months="$store.state.meses"
                      ></date-pick>
                      <b-form-invalid-feedback
                        id="input-fechaEntradaHotel-feedback"
                      >Campo requerido.</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaSalida')"
                      label-for="input-fecha-salida-hotel"
                    >
                      <date-pick
                        v-model="$v.formHospedaje.fechaSalidaHotel.$model"
                        :displayFormat="'DD-MM-YYYY'"
                        :isDateDisabled="isPastDateSalida"
                        :inputAttributes="{readonly: true}"
                        :weekdays="$store.state.diasSemana"
                        :months="$store.state.meses"
                      ></date-pick>
                      <b-form-invalid-feedback id="input-fechaSalidaHotel-feedback">Campo requerido.</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.tipoHabitacion')"
                      label-for="select-tipo-habitacion"
                    >
                      <b-form-select
                        id="select-tipo-habitacion"
                        v-model="formHospedaje.tipoHabitacionSelected"
                      >
                        <option :value="null" disabled>Seleccionar</option>
                        <option
                          v-for="th in $store.state.tipoHabitacion"
                          :key="th.intIDTipoHabitacion"
                          :value="th.intIDTipoHabitacion"
                        >{{ th.chrDescripcion }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.nochesReservadas')"
                      label-for="input-noches-reservadas"
                    >
                      <b-form-input
                        id="input-noches-reservadas"
                        type="number"
                        v-model="$v.formHospedaje.nochesReservadas.$model"
                        disabled
                        :state="$v.formHospedaje.nochesReservadas.$dirty ? !$v.formHospedaje.nochesReservadas.$error : null"
                        aria-describedby="input-nochesReservadas-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback id="input-nochesReservadas-feedback">Campo requerido.</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.centroCosteHospedaje')"
                      label-for="input-centro-coste-vuelo"
                    >
                      <b-row>
                        <b-col cols="12">
                          <cool-select
                            @search="onSearch"
                            v-model="$v.formHospedaje.centroCosteHospedaje.$model"
                            :items="$store.state.centroCosteVuelo"
                            item-text="KOSTL"
                            :loading="$store.state.loadingSelect"
                          >
                            <template slot="no-data">
                              {{
                              noData
                              ? "Información no encontrada"
                              : "Escribe al menos 4 caracteres para iniciar la búsqueda"
                              }}
                            </template>
                          </cool-select>
                        </b-col>
                      </b-row>
                    </b-form-group>
                  </b-col>

                  <b-col lg="6">
                    <b-form-group
                      label="Comentario sobre el hospedaje"
                      label-for="input-comentario-hospedaje"
                    >
                      <b-form-input
                        id="input-comentario-hospedaje"
                        v-model="formHospedaje.comentarioHospedaje"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6" v-if="$store.state.userLogin.intIDPerfil == 2">
                    <b-form-group label="Costo Extra" label-for="input-costo-extra-hotel">
                      <b-form-input
                        id="input-costo-extra-hotel"
                        v-model="formHospedaje.costoExtaHotel"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <b-row>
              <b-col lg="6" v-if="empleadoSelected != null">
                <b-button
                  v-if="!editadoHospedaje"
                  :disabled="listaEmpleados.length == 0 "
                  class="button-estandar"
                  style="width:100%;height:auto;margin-top:32px;"
                  @click="agregarHospedaje()"
                >Agregar</b-button>
              </b-col>
              <b-col lg="6">
                <b-button
                  v-if="editadoHospedaje"
                  class="button-estandar"
                  @click="saveDetalleSolicitudViaje(hospedajeSeleccionado)"
                  style="width:100%;height:auto;margin-top:32px;"
                  :disabled="!this.formHospedaje.colaboradorSelected && !this.formHospedaje.centroCosteHospedaje"
                >Guardar</b-button>
              </b-col>
            </b-row>
            <b-row class="my-2" v-if="listaHospedaje.length > 0">
              <b-col cols="12">
                <div style="overflow-x:auto">
                  <b-table striped hover :items="listaHospedaje" :fields="camposTablaHusepede">
                    <template slot="actions" slot-scope="data">
                      <a
                        href="#"
                        v-on:click.prevent="editDetalleHospedaje(data.item)"
                        class="icon"
                        style="margin-right:10px"
                      >
                        <font-awesome-icon color="#333333" icon="edit" />
                      </a>
                    </template>
                  </b-table>
                </div>
              </b-col>
            </b-row>

            <b-row style="justify-content: center;" v-if="$store.state.spinnerCustom">
              <spinner-custom></spinner-custom>
            </b-row>
            <b-alert
              style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
              :show="$store.state.alertaSolicitud"
            >
              <b-row>
                <b-col cols="2">
                  <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
                </b-col>
                <b-col cols="10">
                  <span>¡Solicitud creada con éxito!</span>
                </b-col>
              </b-row>
            </b-alert>
            <b-row v-if="!$store.state.spinnerCustom || !$store.state.alertaSolicitud">
              <b-col>
                <b-form-group>
                  <b-button
                    class="button-secundario"
                    type="reset"
                    @click="cancelarSolicitud()"
                  >Cancelar</b-button>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group>
                  <!-- $v.formHospedaje.$invalid ||-->
                  <b-button
                    :disabled="listaEmpleados.length == 0 "
                    class="button-estandar"
                    type="submit"
                  >{{ $t('reservaciones.btnEnviarSolicitud') }}</b-button>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import DatosUsuario from "@/views/DatosUsuario.vue";

import moment from "moment";
import { required, numeric } from "vuelidate/lib/validators";
import DatePick from "vue-date-pick";
import "vue-date-pick/dist/vueDatePick.css";
import { CoolSelect } from "vue-cool-select";
import SpinnerCustom from "@/components/SpinnerCustom.vue";

import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      codigoEmpleado: "",
      moment: moment,
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("breadcrumb.solicitudVueloHospedaje"),
          to: { name: "solicitud-de-reservaciones" }
        },
        {
          text: this.$t("breadcrumb.hospedaje"),
          active: true
        }
      ],
      camposTablaEmpleados: [
        {
          key: "numero",
          label: "Número del colaborador",
          sortable: false
        },
        {
          key: "nombre",
          label: "Nombre del colaborador",
          sortable: false
        },
        {
          key: "anioNacimiento",
          label: "Fecha de nacimiento",
          sortable: false
        },
        {
          key: "chrClaveDestino",
          label: "Destino",
          sortable: false
        },
        {
          key: "chrClaveOrigen",
          label: "Origen",
          sortable: false
        },
        {
          key: "chrTipo",
          label: "Tipo",
          sortable: false
        },
        {
          key: "actions",
          label: "Eliminar",
          tdStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      camposTablaHusepede: [
        {
          key: "colaboradorSelected",
          label: "Número del colaborado",
          sortable: false
        },
        {
          key: "hotelSi",
          label: "Es Hotel",
          sortable: false
        },
        {
          key: "habitaciones",
          label: "Número de Habitaciones",
          sortable: false
        },
        {
          key: "origen",
          label: "Origen",
          sortable: false
        },
        {
          key: "destino",
          label: "Destino",
          sortable: false
        },
        {
          key: "fechaEntradaHotel",
          label: "Fecha Entrada",
          sortable: false
        },
        {
          key: "fechaSalidaHotel",
          label: "Fecha Salida",
          sortable: false
        },
        {
          key: "tipohabitacion",
          label: "Tipo habitación",
          sortable: false
        },
        {
          key: "nochesReservadas",
          label: "Noches Reservadas",
          sortable: false
        },
        {
          key: "centroCosteHospedaje",
          label: "Centro Costo",
          sortable: false
        },
        {
          key: "comentarioHospedaje",
          label: "Comentarios",
          sortable: false
        },
        {
          key: "actions",
          label: "Editar",
          tdStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      hotel: [
        { value: "1", text: "Sí" },
        { value: "2", text: "No" }
      ],
      formHospedaje: {
        colaboradorSelected: null,
        hotelSelected: null,
        habitaciones: 1,
        origen: "",
        destino: "",
        tipoHabitacionSelected: null,
        fechaEntradaHotel: moment().format("YYYY-MM-DD"),
        fechaSalidaHotel: moment().format("YYYY-MM-DD"),
        nochesReservadas: 0,
        centroCosteHospedaje: "",
        comentarioHospedaje: "",
        costoExtaHotel: 0
      },
      formEmpleado: {
        chrNumEmpleado: "",
        chrNomEmpleado: "",
        chrFechaNacimiento: "",
        numFolio: "",
        comentarioSolicitud: ""
      },
      empleadoSelected: {
        nombreCompleto: "",
        fechaNacimiento: ""
      },
      listaEmpleados: [],
      intIDDetalleSolicitudHotel: "",
      listaDetalleHuespedes: [],
      // mostrarSelectCentroCosto: false,
      noData: false,

      listaHospedaje: [],
      editadoHospedaje: false,
      hospedajeSeleccionado: {},
      intIDDetalleSolicitudHotel: ""
    };
  },
  components: {
    DatosUsuario,
    DatePick,
    CoolSelect,
    SpinnerCustom
  },
  validations: {
    formHospedaje: {
      colaboradorSelected: { required },
      hotelSelected: { required },
      habitaciones: { required },
      origen: { required },
      destino: { required },
      tipoHabitacionSelected: { required },
      fechaEntradaHotel: { required },
      fechaSalidaHotel: { required },
      nochesReservadas: { required },
      centroCosteHospedaje: { required }
    },
    formEmpleado: {
      chrNumEmpleado: { required, numeric },
      chrNomEmpleado: { required },
      chrFechaNacimiento: { required },
      numFolio: { required },
      comentarioSolicitud: { required }
    }
  },
  computed: {
    ...mapState([
      "diasSemana",
      "meses",
      "spinnerCustom",
      "alertaSolicitud",
      "centroCostoCargados"
    ])
  },
  created() {
    this.getTipoHabitacion();
    this.$store.state.empleadoSelected = null;

    if (this.$route.params.id != null) {
      var arrayhospedaje = [];
      this.$store.state.objVueloHotel.detalleSolicitudHotel.forEach(
        hospedaje => {
          let codigoEmpleadoSeleccionado = "";
          if (hospedaje.lstDtEmpleadoHuespedes.length > 1) {
            codigoEmpleadoSeleccionado = "Todos";
          } else {
            codigoEmpleadoSeleccionado =
              hospedaje.lstDtEmpleadoHuespedes[0].chrCodigoEmpleado;
          }

          let objListajHospedaje = {
            intIDDetalleSolicitudHotel: hospedaje.intIDDetalleSolicitudHotel,
            colaboradorSelected: codigoEmpleadoSeleccionado,
            origen: hospedaje.chrClaveOrigen,
            destino: hospedaje.chrClaveDestino,

            hotelSelected: hospedaje.chrEsHotel == "SI" ? 1 : 2,
            hotelSi: hospedaje.chrEsHotel == "SI" ? "SI" : "NO",
            habitaciones: hospedaje.intNoHabitaciones,
            tipoHabitacionSelected: hospedaje.intFKIDTipoHabitacion,
            tipohabitacion: this.getSelectTipoHabitacion(
              hospedaje.intFKIDTipoHabitacion
            ),
            fechaEntradaHotel: moment(hospedaje.dtdFechaSalidad).format(
              "YYYY-MM-DD"
            ),
            fechaSalidaHotel: moment(hospedaje.dtdFechaRegreso).format(
              "YYYY-MM-DD"
            ),
            nochesReservadas: hospedaje.chrNochesReservadas,
            comentarioHospedaje: hospedaje.chrComentarios,
            centroCosteHospedaje: hospedaje.chrCentroCostoHospedaje
          };
          arrayhospedaje.push(objListajHospedaje);
        }
      );

      this.listaHospedaje = arrayhospedaje;

      this.getCentroCosto(
        this.$store.state.objVueloHotel.detalleSolicitudHotel[0]
          .chrCentroCostoHospedaje
      );

      this.formEmpleado = {
        comentarioSolicitud: this.$store.state.objVueloHotel.chrComentarios,
        numFolio: this.$store.state.objVueloHotel.intIDSolicitud
      };
      var arrayEmpleados = [];
      var detalleHuespedes = [];

      this.$store.state.objVueloHotel.detalleSolicitudHotel.forEach(
        detalleSolicitudHotel => {
          detalleSolicitudHotel.lstDtEmpleadoHuespedes.forEach(emp => {
            let nombreCompleto =
              emp.chrNombre +
              " " +
              (emp.chrApellidoPaterno != null ? emp.chrApellidoPaterno : "") +
              " " +
              (emp.chrApellidoMaterno != null ? emp.chrApellidoMaterno : "");
            let objEmpleado = {
              numero: emp.chrCodigoEmpleado,
              nombre: nombreCompleto,
              anioNacimiento: moment(emp.dtdFechaNacimiento).format(
                "DD-MM-YYYY"
              ),
              intIDDetalleHuespedes: emp.intIDDetalleHuespedes,
              intIDDetalleSolicitudHotel:
                detalleSolicitudHotel.intIDDetalleSolicitudHotel,
              chrClaveDestino: detalleSolicitudHotel.chrClaveDestino,
              chrClaveOrigen: detalleSolicitudHotel.chrClaveOrigen,
              chrTipo: "Hotel"
            };
            arrayEmpleados.push(objEmpleado);
          });
          this.listaEmpleados = arrayEmpleados;
          this.listaDetalleHuespedes = detalleHuespedes;
        }
      );
    }
  },
  updated() {
    this.updateNochesReservadas();
  },
  methods: {
    ...mapActions([
      "getTipoHabitacion",
      "saveSolicitud",
      "muestraDatosVueloHotel",
      "getEmpleados",
      "getCentroCosto"
    ]),
    updateNochesReservadas() {
      if (
        moment(this.formHospedaje.fechaSalidaHotel) >
        moment(this.formHospedaje.fechaEntradaHotel)
      ) {
        this.formHospedaje.nochesReservadas = moment(
          this.formHospedaje.fechaSalidaHotel
        ).diff(moment(this.formHospedaje.fechaEntradaHotel), "days");
      } else {
        this.formHospedaje.nochesReservadas == 0;
      }
    },
    agregarUsuario() {
      this.listaEmpleados.push({
        numero: this.$store.state.empleadoSelected.empleado,
        nombre: this.$store.state.empleadoSelected.nombre,
        anioNacimiento: this.$store.state.empleadoSelected.fechanac
      });

      this.$store.state.empleadoSelected = {};
      this.codigoEmpleado = "";
      this.$v.$reset();
    },
    agregarHospedaje() {
      this.listaHospedaje.push({
        intIDDetalleSolicitudHotel: "",
        colaboradorSelected: this.formHospedaje.colaboradorSelected,
        centroCosteHospedaje: this.formHospedaje.centroCosteHospedaje.KOSTL,
        destino: this.formHospedaje.destino,
        fechaEntradaHotel: this.formHospedaje.fechaEntradaHotel,
        fechaSalidaHotel: this.formHospedaje.fechaSalidaHotel,
        habitaciones: this.formHospedaje.habitaciones,
        hotelSelected: this.formHospedaje.hotelSelected,

        hotelSi: this.formHospedaje.hotelSelected == 1 ? "SI" : "NO",
        nochesReservadas: this.formHospedaje.nochesReservadas,
        origen: this.formHospedaje.origen,
        tipohabitacion: this.getSelectTipoHabitacion(
          this.formHospedaje.tipoHabitacionSelected
        ),
        tipoHabitacionSelected: this.formHospedaje.tipoHabitacionSelected,
        comentarioHospedaje: this.formHospedaje.comentarioHospedaje,
        listaEmpleados: this.listaEmpleados
      });

      this.formHospedaje.colaboradorSelected = "";
      this.formHospedaje.destino = "";
      this.formHospedaje.origen = "";
      this.formHospedaje.habitaciones = "";
      this.formHospedaje.hotelSelected = "";
      this.formHospedaje.nochesReservadas = "";
      this.formHospedaje.tipoHabitacionSelected = "";
      this.formHospedaje.comentarioHospedaje = "";
      this.formHospedaje.fechaEntradaHotel = moment().format("YYYY-MM-DD");
      this.formHospedaje.fechaSalidaHotel = moment().format("YYYY-MM-DD");

      this.$v.$reset();
    },
    deleteEmpleadoTable(numEmpleado) {
      this.intIDDetalleSolicitudHotel = this.$store.state.objVueloHotel.detalleSolicitudHotel[0].intIDDetalleSolicitudHotel;
      let arrayEmpleados = this.listaEmpleados;
      this.listaEmpleados = [];
      this.deteleDetalleHuespedesHotel(
        this.intIDDetalleSolicitudHotel,
        numEmpleado.numero
      );
      arrayEmpleados.forEach(emp => {
        if (emp.numero != numEmpleado.numero) {
          this.listaEmpleados.push(emp);
        }
      });
    },
    deteleDetalleHuespedesHotel(intDetalleHotel, intCodigoEmpleado) {
      let idDetalleHotel = {
        intFKIDDetalleSolicitudHotel: intDetalleHotel,
        chrCodigoEmpleado: intCodigoEmpleado
      };
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/DeleteDetalleHuespedes/",
          idDetalleHotel,
          {
            hd
          }
        )
        .then(response => {})
        .catch(error => {});
    },
    altaVueloHospedaje() {
      let objFormHospedaje = [];
      this.listaHospedaje.forEach(hospedaje => {
        objFormHospedaje = {
          intIDDetalleSolicitudHotel: this.intIDDetalleSolicitudHotel,
          centroCosteHospedaje: hospedaje.centroCosteHospedaje,
          destino: hospedaje.destino,
          fechaEntradaHotel: hospedaje.fechaEntradaHotel,
          fechaSalidaHotel: hospedaje.fechaSalidaHotel,
          habitaciones: hospedaje.habitaciones,
          hotelSelected: hospedaje.hotelSelected,
          nochesReservadas: hospedaje.nochesReservadas,
          origen: hospedaje.origen,
          tipoHabitacionSelected: hospedaje.tipoHabitacionSelected,
          comentarioHospedaje: hospedaje.comentarioHospedaje,
          listaEmpleados: this.listaEmpleados
        };
      });

      let intIDSolicitud =
        this.$route.params.id != null ? this.$route.params.id : "";

      this.saveSolicitud({
        intIDSolicitud: intIDSolicitud,
        //intIDDetalleSolicitudHotel: this.intIDDetalleSolicitudHotel,
        //detalleHuespedes: this.listaDetalleHuespedes,
        intFolio: intIDSolicitud,
        user:
          this.$store.state.objVueloHotel.intFKIDEstatus != 7
            ? this.$store.state.userLogin.chrCodigoEmpleado
            : this.$store.state.objVueloHotel.intNoSolicitante,
        fechaActual: moment().format("YYYY-MM-DDTHH:mm"),
        tipoSolicitud: 3,
        numSolicitud:
          this.$store.state.objVueloHotel.intFKIDEstatus != 7
            ? this.$store.state.userLogin.chrCodigoEmpleado
            : this.$store.state.objVueloHotel.intNoSolicitante,
        dtdFechaNacimiento: this.formEmpleado.chrFechaNacimiento,
        comentariosSolicitud: this.formEmpleado.comentarioSolicitud,
        estatus: this.$store.state.objVueloHotel.intFKIDEstatus != 7 ? 1 : 7,
        objFormVuelo: objFormHospedaje,
        arrayListaHospedaje: this.listaHospedaje
      });
    },
    editDetalleHospedaje(data) {
      this.hospedajeSeleccionado = data;

      this.formHospedaje = {
        intIDDetalleSolicitudHotel: data.intIDDetalleSolicitudHotel,
        origen: data.origen,
        destino: data.destino,
        colaboradorSelected: data.colaboradorSelected,
        hotelSelected: data.hotelSelected == 1 ? 1 : 2,
        hotelSi: data.hotelSelected == "SI" ? "SI" : "NO",
        habitaciones: data.habitaciones,
        tipoHabitacionSelected: data.tipoHabitacionSelected,
        fechaEntradaHotel: moment(data.fechaEntradaHotel).format("YYYY-MM-DD"),
        fechaSalidaHotel: moment(data.fechaSalidaHotel).format("YYYY-MM-DD"),
        nochesReservadas: data.nochesReservadas,
        comentarioHospedaje: data.comentarioHospedaje,
        centroCosteHospedaje: data.centroCosteHospedaje,
        costoExtaHotel: this.formHospedaje.costoExtaHotel
      };
      this.editadoHospedaje = true;
    },
    isPastDate(date) {
      const currentDate = moment().subtract(1, "d");
      return date < currentDate;
    },
    isPastDateSalida(date) {
      return (
        moment(date).format("YYYY-MM-DD") <=
        this.formHospedaje.fechaEntradaHotel
      );
    },
    cancelarSolicitud() {
      this.$v.$reset();
      this.$router.push({ name: "solicitud-de-reservaciones" });
    },
    getEmpleadoStore(empleado) {
      this.getEmpleados(empleado);
    },
    onSearch(busqueda) {
      const lettersLimit = 4;
      this.noData = false;
      if (busqueda.length < lettersLimit) {
        this.$store.state.centroCosteVuelo = [];
        this.$store.state.loadingSelect = false;
        return;
      } else {
        this.getCentroCosto(busqueda);
        this.noData = true;
      }
    },
    saveDetalleSolicitudViaje(hospedajeSeleccionado) {
      this.listaHospedaje.forEach(listahospedaje => {
        if (
          listahospedaje.intIDDetalleSolicitudHotel ==
          hospedajeSeleccionado.intIDDetalleSolicitudHotel
        ) {
          (listahospedaje.centroCosteHospedaje = this.formHospedaje.centroCosteHospedaje.KOSTL),
            (listahospedaje.destino = this.formHospedaje.destino),
            (listahospedaje.fechaEntradaHotel = this.formHospedaje.fechaEntradaHotel),
            (listahospedaje.fechaSalidaHotel = this.formHospedaje.fechaSalidaHotel),
            (listahospedaje.habitaciones = this.formHospedaje.habitaciones),
            (listahospedaje.hotelSelected = this.formHospedaje.hotelSelected),
            (listahospedaje.nochesReservadas = this.formHospedaje.nochesReservadas),
            (listahospedaje.origen = this.formHospedaje.origen),
            (listahospedaje.tipoHabitacionSelected = this.formHospedaje.tipoHabitacionSelected),
            (listahospedaje.comentarioHospedaje = this.formHospedaje.comentarioHospedaje),
            (listaHospedaje.costoExtaHotel = this.formHospedaje.costoExtaHotel);
        }
      });

      this.formHospedaje = {};
      this.hospedajeSeleccionado = {};
      this.editadoHospedaje = false;
    },
    getSelectTipoHabitacion(tipoHabitacion) {
      switch (tipoHabitacion) {
        case 1:
          tipoHabitacion = "Sencillas";
          break;
        case 2:
          tipoHabitacion = "Dobles";
          break;
        default:
          break;
      }
      return tipoHabitacion;
    }
  }
};
</script>

<style>
</style>
