<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col cols="6" sm="8">
        <div class="crear-solicitud">{{ $t('reservaciones.crearSolicitud') }}</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
      <b-col cols="6" sm="4">
        <div class="txt-navbar-fecha">{{ $t('reservaciones.fechaSolicitud') }}</div>
        <br />
        <br />
        <div class="txt-navbar-fecha" style="font-weight: bold;">{{ moment().format('DD/MM/YYYY') }}</div>
      </b-col>
    </b-row>
    <b-row class="my-2">
      <b-col lg="4">
        <datos-usuario></datos-usuario>
        <br />
      </b-col>
      <b-col lg="8">
        <b-card>
          <b-form @submit.prevent="altaVueloHospedaje" @reset="$v.$reset()">
            <b-row>
              <b-col cols="12">
                <b-card-title>{{ $t('solicitud.lblSolicitud')}}</b-card-title>
                <b-row class="my-2">
                  <b-col lg="6" v-if="$route.params.id != null">
                    <b-form-group
                      :label="$t('solicitud.lblNumeroFolio')"
                      label-for="input-numero-folio"
                    >
                      <b-form-input
                        disabled
                        id="input-numero-folio"
                        v-model="formEmpleado.numFolio"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('solicitud.lblComentarioSolicitud')"
                      label-for="input-comentario-solicitud"
                    >
                      <b-form-input
                        id="input-comentario-solicitud"
                        v-model="$v.formEmpleado.comentarioSolicitud.$model"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.numEmpleado')"
                      label-for="input-numero-empleado"
                    >
                      <b-input v-model="codigoEmpleado"></b-input>
                      <br />
                      <b-button
                        @click.prevent="getEmpleadoStore(codigoEmpleado)"
                      >{{ $t('etiquetaSistema.lblConsultar')}}</b-button>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6" v-if="$store.state.empleadoSelected != null">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.nomEmpleado')"
                      label-for="input-nombre-empleado"
                    >
                      <b-form-input disabled v-model="$store.state.empleadoSelected.nombre"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2" v-if="$store.state.empleadoSelected != null">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaNacimiento')"
                      label-for="input-fecha-nacimiento"
                    >
                      <b-form-input disabled v-model="$store.state.empleadoSelected.fechanac"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-button
                      class="button-estandar"
                      style="width:100%;height:auto;margin-top:32px;"
                      @click="agregarUsuario()"
                    >{{ $t('etiquetaSistema.lblAgregar')}}</b-button>
                  </b-col>
                </b-row>
                <!-- Iniucio de tabla de colabordores -->
                <b-row class="my-2" v-if="listaEmpleados.length > 0">
                  <b-col cols="12">
                    <div style="overflow-x:auto">
                      <b-table striped hover :items="listaEmpleados" :fields="camposTablaEmpleados">
                        <template slot="actions" slot-scope="data">
                          <a href="#" v-on:click="deleteEmpleadoTable(data.item)" class="icon">
                            <font-awesome-icon color="#333333" icon="trash" />
                          </a>
                        </template>
                      </b-table>
                    </div>
                  </b-col>
                </b-row>
                <!-- finde tabla de colaboradores -->
                <b-row>
                  <b-col>
                    <hr />
                  </b-col>
                </b-row>
                <!--  Inicio de reservaciones de vuelo -->
                <b-card-title>{{ $t('reservaciones.tituloVuelo1') }}</b-card-title>
                <b-row class="my-2">
                  <b-col lg="6" v-if="listaEmpleados.length > 0">
                    <b-form-group
                      class="requiered"
                      label="Colaborador"
                      label-for="select-colaborador-vuelo"
                    >
                      <b-form-select
                        id="select-colaborador-vuelo"
                        v-model="$v.formVueloHospedaje.colaboradorVueloSelected.$model"
                      >
                        <option v-if="listaEmpleados.length > 1" value="Todos" selected>Todos</option>
                        <option
                          v-for="th in this.listaEmpleados"
                          :key="th.numero"
                          :value="th.numero"
                        >{{ th.numero }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.tipoViaje')"
                      label-for="select-tipo-viaje"
                    >
                      <b-form-select
                        id="select-tipo-viaje"
                        v-model="$v.formVueloHospedaje.tipoViajeSelected.$model"
                      >
                        <option :value="null" disabled>{{ $t('reservaciones.seleccionar') }}</option>
                        <option
                          v-for="v in $store.state.tipoViaje"
                          :key="v.intIDTipoViajes"
                          :value="v.intIDTipoViajes"
                        >{{ v.chrDescripcion }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.tipoVuelo')"
                      label-for="select-tipo-vuelo"
                    >
                      <b-form-select
                        id="select-tipo-viaje"
                        v-model="$v.formVueloHospedaje.tipoVueloSelected.$model"
                      >
                        <option :value="null" disabled>{{ $t('reservaciones.seleccionar') }}</option>
                        <option
                          v-for="v in $store.state.tipoVuelo"
                          :key="v.intIDTipoVuelo"
                          :value="v.intIDTipoVuelo"
                        >{{ v.chrDescripcion }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.origen')"
                      label-for="input-origen-vuelo"
                    >
                      <b-form-input
                        id="input-origen-vuelo"
                        type="text"
                        v-model="$v.formVueloHospedaje.origen.$model"
                        :state="$v.formVueloHospedaje.origen.$dirty ? !$v.formVueloHospedaje.origen.$error : null"
                        aria-describedby="input-origen-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-origen-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.destino')"
                      label-for="input-destino-vuelo"
                    >
                      <b-form-input
                        id="input-destino-vuelo"
                        type="text"
                        v-model="$v.formVueloHospedaje.destino.$model"
                        :state="$v.formVueloHospedaje.destino.$dirty ? !$v.formVueloHospedaje.destino.$error : null"
                        aria-describedby="input-destino-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-destino-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaSalida')"
                      label-for="input-fecha-salida-vuelo"
                    >
                      <date-pick
                        v-model="$v.formVueloHospedaje.fechaSalida.$model"
                        :displayFormat="'DD-MM-YYYY'"
                        :isDateDisabled="isPastDate"
                        :inputAttributes="{readonly: true}"
                        :weekdays="$store.state.diasSemana"
                        :months="$store.state.meses"
                      ></date-pick>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      v-if="formVueloHospedaje.tipoVueloSelected != 1"
                      :label="$t('reservaciones.fechaRegreso')"
                      label-for="input-fecha-regreso-vuelo"
                    >
                      <date-pick
                        v-model="$v.formVueloHospedaje.fechaRegreso.$model"
                        :displayFormat="'DD-MM-YYYY'"
                        :isDateDisabled="isPastDateSalida"
                        :inputAttributes="{readonly: true}"
                        :weekdays="$store.state.diasSemana"
                        :months="$store.state.meses"
                        :state="$v.formVueloHospedaje.fechaRegreso.$dirty ? !$v.formVueloHospedaje.fechaRegreso.$error : null"
                        aria-describedby="input-fechaRegreso-feedback"
                      ></date-pick>
                      <b-form-invalid-feedback
                        id="input-fechaRegreso-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.centroCosteVuelo')"
                      label-for="input-centro-coste-vuelo"
                    >
                      <b-row>
                        <b-col cols="12">
                          <cool-select
                            @search="onSearch"
                            v-model="$v.formVueloHospedaje.centroCosteVuelo.$model"
                            :items="$store.state.centroCosteVuelo"
                            item-text="KOSTL"
                            :loading="$store.state.loadingSelect"
                          >
                            <template slot="no-data">
                              {{
                              noData
                              ? "Información no encontrada"
                              : "Escribe al menos 4 caracteres para iniciar la búsqueda"
                              }}
                            </template>
                          </cool-select>
                        </b-col>
                      </b-row>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.aerolinea')"
                      label-for="input-aerolinea"
                    >
                      <b-form-input
                        id="input-aerolinea"
                        type="text"
                        v-model="$v.formVueloHospedaje.aerolinea.$model"
                        :state="$v.formVueloHospedaje.aerolinea.$dirty ? !$v.formVueloHospedaje.aerolinea.$error : null"
                        aria-describedby="input-aerolinea-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-aerolinea-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.motivo')"
                      label-for="input-motivo-viaje"
                    >
                      <b-form-input
                        id="input-motivo-viaje"
                        type="text"
                        v-model="$v.formVueloHospedaje.motivoViaje.$model"
                        :state="$v.formVueloHospedaje.motivoViaje.$dirty ? !$v.formVueloHospedaje.motivoViaje.$error : null"
                        aria-describedby="input-motivoViaje-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-motivoViaje-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      label="Comentarios sobre el vuelo"
                      label-for="input-comentario-vuelo"
                    >
                      <b-form-input
                        id="input-comentario-vuelo"
                        v-model="formVueloHospedaje.comentarioVuelo"
                        type="text"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6" v-if="$store.state.userLogin.intIDPerfil == 2">
                    <b-form-group label="Costo Extra" label-for="input-costo-extra-viaje">
                      <b-form-input
                        id="input-costo-extra-viaje"
                        v-model="formVueloHospedaje.costoExtraVuelo"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>

                <!-- botones de agregar     v-if="empleadoSelected != null"" -->
                <b-row>
                  <b-col lg="6">
                    <b-button
                      v-if="!editadoVuelo"
                      :disabled="!this.formVueloHospedaje.colaboradorVueloSelected && !this.formVueloHospedaje.tipoViajeSelected && !this.formVueloHospedaje.tipoVueloSelected && !this.formVueloHospedaje.origen && !this. formVueloHospedaje.destino && !this.formVueloHospedaje.fechaSalida && !this.formVueloHospedaje.fechaRegreso && !this.formVueloHospedaje.aerolinea && !this.formVueloHospedaje.centroCosteVuelo "
                      class="button-estandar"
                      style="width:100%;height:auto;margin-top:32px;"
                      @click="agregarViaje()"
                    >Agregar</b-button>
                  </b-col>
                  <b-col lg="6">
                    <b-button
                      v-if="editadoVuelo"
                      class="button-estandar"
                      @click="saveDetalleSolicitudViaje(vueloSeleccionado)"
                      style="width:100%;height:auto;margin-top:32px;"
                      :disabled="!this.formVueloHospedaje.colaboradorSelected && !this.formVueloHospedaje.centroCosteVuelo"
                    >Guardar</b-button>
                  </b-col>
                </b-row>
                <b-row class="my-2" v-if="listaViaje.length > 0">
                  <b-col cols="12">
                    <div style="overflow-x:auto">
                      <b-table striped hover :items="listaViaje" :fields="camposTablaViajes">
                        <template slot="actions" slot-scope="data">
                          <a
                            href="#"
                            v-on:click.prevent="editDetalleViaje(data.item)"
                            class="icon"
                            style="margin-right:10px"
                          >
                            <font-awesome-icon color="#333333" icon="edit" />
                          </a>
                        </template>
                      </b-table>
                    </div>
                  </b-col>
                </b-row>
              </b-col>
              <!-- fin de reservacion de vuelo -->
              <b-col>
                <hr />
              </b-col>
              <!-- inicio de reservacion de hotel -->
              <b-col cols="12">
                <b-card-title>{{ $t('reservaciones.tituloHospedaje2') }}</b-card-title>
                <b-row class="my-2">
                  <b-col lg="6" v-if="listaEmpleados.length > 0">
                    <b-form-group
                      class="requiered"
                      label="Colaborador"
                      label-for="select-colaborador-hospedaje"
                    >
                      <b-form-select
                        id="select-colaborador-hospedaje"
                        v-model="$v.formVueloHospedaje.colaboradorHospedajeSelected.$model"
                      >
                        <option v-if="listaEmpleados.length > 1" value="Todos" selected>Todos</option>
                        <option
                          v-for="th in this.listaEmpleados"
                          :key="th.numero"
                          :value="th.numero"
                        >{{ th.numero }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.hotel')"
                      label-for="select-hotel"
                    >
                      <b-form-select id="select-hotel" v-model="formVueloHospedaje.hotelSelected">
                        <option :value="null" disabled>{{ $t('solicitud.lblElHospedajeEsHotel')}}</option>
                        <option v-for="h in hotel" :key="h.value" :value="h.value">{{ h.text }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.numHabitaciones')"
                      label-for="input-numero-habitaciones"
                    >
                      <b-form-input
                        id="input-numero-habitaciones"
                        type="number"
                        v-model="$v.formVueloHospedaje.habitaciones.$model"
                        :state="$v.formVueloHospedaje.habitaciones.$dirty ? !$v.formVueloHospedaje.habitaciones.$error : null"
                        aria-describedby="input-habitaciones-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-habitaciones-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaEntrada')"
                      label-for="input-fecha-entrada-hotel"
                    >
                      <date-pick
                        v-model="$v.formVueloHospedaje.fechaEntradaHotel.$model"
                        :displayFormat="'DD-MM-YYYY'"
                        :isDateDisabled="isPastDateSalida"
                        :inputAttributes="{readonly: true}"
                        :weekdays="$store.state.diasSemana"
                        :months="$store.state.meses"
                        @change="updateNochesReservadas()"
                      ></date-pick>
                      <b-form-invalid-feedback
                        id="input-fechaEntradaHotel-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaSalida')"
                      label-for="input-fecha-salida-hotel"
                    >
                      <date-pick
                        v-model="$v.formVueloHospedaje.fechaSalidaHotel.$model"
                        :displayFormat="'DD-MM-YYYY'"
                        :isDateDisabled="isPastDateSalida"
                        :inputAttributes="{readonly: true}"
                        :weekdays="$store.state.diasSemana"
                        :months="$store.state.meses"
                        @change="updateNochesReservadas()"
                      ></date-pick>
                      <b-form-invalid-feedback
                        id="input-fechaSalidaHotel-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group class="required" label="Origen" label-for="input-origen-hotel">
                      <b-form-input
                        id="input-origen-hotel"
                        type="text"
                        v-model="$v.formVueloHospedaje.origenhotel.$model"
                        :state="$v.formVueloHospedaje.origenhotel.$dirty ? !$v.formVueloHospedaje.origenhotel.$error : null"
                        aria-describedby="input-origen-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback id="input-origen-feedback">Campo requerido.</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group class="required" label="Destino" label-for="input-destino-hotel">
                      <b-form-input
                        id="input-destino-hotel"
                        type="text"
                        v-model="$v.formVueloHospedaje.destinohotel.$model"
                        :state="$v.formVueloHospedaje.destinohotel.$dirty ? !$v.formVueloHospedaje.destinohotel.$error : null"
                        aria-describedby="input-destino-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback id="input-destino-feedback">Campo requerido.</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.tipoHabitacion')"
                      label-for="select-tipo-habitacion"
                    >
                      <b-form-select
                        id="select-tipo-habitacion"
                        v-model="formVueloHospedaje.tipoHabitacionSelected"
                      >
                        <option :value="null" disabled>{{ $t('reservaciones.seleccionar') }}</option>
                        <option
                          v-for="th in $store.state.tipoHabitacion"
                          :key="th.intIDTipoHabitacion"
                          :value="th.intIDTipoHabitacion"
                        >{{ th.chrDescripcion }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.nochesReservadas')"
                      label-for="input-noches-reservadas"
                    >
                      <b-form-input
                        id="input-noches-reservadas"
                        type="number"
                        v-model="$v.formVueloHospedaje.nochesReservadas.$model"
                        disabled
                        :state="$v.formVueloHospedaje.nochesReservadas.$dirty ? !$v.formVueloHospedaje.nochesReservadas.$error : null"
                        aria-describedby="input-nochesReservadas-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-nochesReservadas-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      label="Comentario sobre el hospedaje"
                      label-for="input-comentario-hospedaje"
                    >
                      <b-form-input
                        id="input-comentario-hospedaje"
                        v-model="formVueloHospedaje.comentarioHospedaje"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6" v-if="$store.state.userLogin.intIDPerfil == 2">
                    <b-form-group label="Costo Extra" label-for="input-costo-extra-hotel">
                      <b-form-input
                        id="input-costo-extra-hotel"
                        v-model="formVueloHospedaje.costoExtaHotel"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <!-- botones de guardar hospedaje v-if="empleadoSelected != null"  -->
                <b-row>
                  <b-col lg="6">
                    <b-button
                      v-if="!editadoHospedaje"
                      :disabled="!formVueloHospedaje.colaboradorVueloSelected
 && !formVueloHospedaje.hotelSelected && !formVueloHospedaje.nochesReservada && !formVueloHospedaje.destinohotel && !formVueloHospedaje.origenhotel && !formVueloHospedaje.tipoHabitacionSelected"
                      class="button-estandar"
                      style="width:100%;height:auto;margin-top:32px;"
                      @click="agregarHospedaje()"
                    >Agregar</b-button>
                  </b-col>
                  <b-col lg="6">
                    <b-button
                      v-if="editadoHospedaje"
                      class="button-estandar"
                      @click="saveDetalleSolicitudHospedaje(hospedajeSeleccionado)"
                      style="width:100%;height:auto;margin-top:32px;"
                      :disabled="!this.formVueloHospedaje.colaboradorHospedajeSelected && !this.formVueloHospedaje.centroCosteHospedaje"
                    >Guardar</b-button>
                  </b-col>
                </b-row>
                <b-row class="my-2" v-if="listaHospedaje.length > 0">
                  <b-col cols="12">
                    <div style="overflow-x:auto">
                      <b-table striped hover :items="listaHospedaje" :fields="camposTablaHusepede">
                        <template slot="actions" slot-scope="data">
                          <a
                            href="#"
                            v-on:click.prevent="editDetalleHospedaje(data.item)"
                            class="icon"
                            style="margin-right:10px"
                          >
                            <font-awesome-icon color="#333333" icon="edit" />
                          </a>
                        </template>
                      </b-table>
                    </div>
                  </b-col>
                </b-row>
              </b-col>
              <!--  fin de reservacion de hotel-->
            </b-row>
            <b-row style="justify-content: center;" v-if="$store.state.spinnerCustom">
              <spinner-custom></spinner-custom>
            </b-row>
            <b-alert
              style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
              :show="$store.state.alertaSolicitud"
            >
              <b-row>
                <b-col cols="2">
                  <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
                </b-col>
                <b-col cols="10">
                  <span>{{ $t('solicitud.lblSolicitudCreadaExito')}}</span>
                </b-col>
              </b-row>
            </b-alert>
            <b-row v-if="!$store.state.spinnerCustom || !$store.state.alertaSolicitud">
              <b-col>
                <b-form-group>
                  <b-button
                    class="button-secundario"
                    type="reset"
                    @click="cancelarSolicitud()"
                  >{{ $t('etiquetaSistema.lblCancelar')}}</b-button>
                </b-form-group>
              </b-col>
              <b-col v-if="$store.state.userLogin.intIDPerfil == 2">
                <b-form-group>
                  <!-- :disabled="listaEmpleados.length > 0 && listaViaje.length > 0 && listaHospedaje.length > 0 " -->
                  <b-button
                    class="button-estandar"
                    type="submit"
                  >{{ $t('reservaciones.btnEnviarSolicitud') }}</b-button>
                </b-form-group>
              </b-col>
              <!---  :disabled="$v.formVueloHospedaje.$invalid || listaEmpleados.length == 0 " -->
              <b-col v-else>
                <b-form-group>
                  <b-button
                    class="button-estandar"
                    type="submit"
                  >{{ $t('reservaciones.btnEnviarSolicitud') }}</b-button>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row v-if="$store.state.solicitudEdit">
              <b-col>
                <b-button
                  block
                  class="button-estandar"
                >{{ $t('solicitud.lblEnviarAlAdministrador')}}</b-button>
              </b-col>
            </b-row>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from "moment";
import { Typeahead } from "uiv";
import { CoolSelect } from "vue-cool-select";
import { mapActions, mapState } from "vuex";
import DatosUsuario from "@/views/DatosUsuario.vue";
import SpinnerCustom from "@/components/SpinnerCustom.vue";

import DatePick from "vue-date-pick";
import "vue-date-pick/dist/vueDatePick.css";

import { required, numeric, requiredIf } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      codigoEmpleado: "",
      camposTablaEmpleados: [
        {
          key: "numero",
          label: this.$t("solicitud.lblNumeroColaborador"),
          sortable: false
        },
        {
          key: "nombre",
          label: this.$t("solicitud.lblNombredelColaborador"),
          sortable: false
        },
        {
          key: "anioNacimiento",
          label: this.$t("solicitud.lblFechaNacimiento"),
          sortable: false
        },
        {
          key: "chrClaveDestino",
          label: "Destino",
          sortable: false
        },
        {
          key: "chrClaveOrigen",
          label: "Origen",
          sortable: false
        },
        {
          key: "chrTipo",
          label: "Tipo",
          sortable: false
        },
        {
          key: "actions",
          label: this.$t("etiquetaSistema.lblEliminar"),
          tdStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      moment: moment,
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("breadcrumb.solicitudVueloHospedaje"),
          to: { name: "solicitud-de-reservaciones" }
        },
        {
          text: this.$t("breadcrumb.vueloHospedaje"),
          active: true
        }
      ],
      hotel: [
        { value: "1", text: "Sí" },
        { value: "2", text: "No" }
      ],

      listaEmpleados: [],

      formVueloHospedaje: {
        colaboradorVueloSelected: "",
        colaboradorHospedajeSelected: "",
        centroCosteVuelo: "",
        centroCosteHospedaje: "",
        tipoVueloSelected: null,
        tipoViajeSelected: null,
        aerolinea: "",
        origen: "",
        destino: "",
        origenhotel: "",
        destinohotel: "",
        fechaSalida: moment().format("YYYY-MM-DD"),
        fechaRegreso: moment().format("YYYY-MM-DD"),
        motivoViaje: "",
        hotelSelected: null,
        habitaciones: 1,
        tipoHabitacionSelected: 1,
        fechaEntradaHotel: moment().format("YYYY-MM-DD"),
        fechaSalidaHotel: moment().format("YYYY-MM-DD"),
        nochesReservadas: 0,
        costoExtraVuelo: 0,
        costoExtaHotel: 0
        //centroCosteHospedaje: ""
      },

      formEmpleado: {
        numFolio: "",
        comentarioSolicitud: ""
      },
      itemEmpleados: [],
      empleadoSelected: null,
      intIDDetalleSolicitudViaje: "",
      intIDDetalleSolicitudHotel: "",
      listaDetalleHuespedes: [],
      listaDetalleViajeros: [],
      noData: false,
      //codigo viajes
      camposTablaViajes: [
        {
          key: "colaboradorSelected",
          label: "Número del colaborado",
          sortable: false
        },
        {
          key: "tipoViaje",
          label: "Tipo viaje",
          sortable: false
        },
        {
          key: "tipoVuelo",
          label: "Vuelo",
          sortable: false
        },
        {
          key: "origen",
          label: "Origen",
          sortable: false
        },
        {
          key: "destino",
          label: "Destino",
          sortable: false
        },
        {
          key: "fechaSalida",
          label: "Fecha de Salida",
          sortable: false
        },
        {
          key: "fechaRegreso",
          label: "Fecha de regreso",
          sortable: false
        },
        {
          key: "centroCosteVuelo",
          label: "Centro de costo",
          sortable: false
        },
        {
          key: "aerolinea",
          label: "Aerolinea",
          sortable: false
        },
        {
          key: "comentarioVuelo",
          label: "Comentarios",
          sortable: false
        },
        {
          key: "actions",
          label: "Editar",
          tdStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      listaViaje: [],
      editadoVuelo: false,
      vueloSeleccionado: {},
      //Codigo Hospedaje
      camposTablaHusepede: [
        {
          key: "colaboradorSelected",
          label: "Número del colaborado",
          sortable: false
        },
        {
          key: "hotelSi",
          label: "Es Hotel",
          sortable: false
        },
        {
          key: "habitaciones",
          label: "Número de Habitaciones",
          sortable: false
        },
        {
          key: "origen",
          label: "Origen",
          sortable: false
        },
        {
          key: "destino",
          label: "Destino",
          sortable: false
        },
        {
          key: "fechaEntradaHotel",
          label: "Fecha Entrada",
          sortable: false
        },
        {
          key: "fechaSalidaHotel",
          label: "Fecha Salida",
          sortable: false
        },
        {
          key: "tipohabitacion",
          label: "Tipo habitación",
          sortable: false
        },
        {
          key: "nochesReservadas",
          label: "Noches Reservadas",
          sortable: false
        },
        {
          key: "centroCosteHospedaje",
          label: "Centro Costo",
          sortable: false
        },
        {
          key: "comentarioHospedaje",
          label: "Comentarios",
          sortable: false
        },
        {
          key: "actions",
          label: "Editar",
          tdStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      listaHospedaje: [],
      editadoHospedaje: false,
      hospedajeSeleccionado: {},
      // intIDDetalleSolicitudHotel: ""
      motivoViajeVuelo: ""
    };
  },
  validations: {
    formEmpleado: {
      comentarioSolicitud: { required }
    },
    formVueloHospedaje: {
      colaboradorVueloSelected: { required },
      colaboradorHospedajeSelected: { required },
      centroCosteVuelo: { required },
      centroCosteHospedaje: { required },
      tipoViajeSelected: { required },
      tipoVueloSelected: { required },
      aerolinea: { required },
      origen: { required },
      destino: { required },
      origenhotel: { required },
      destinohotel: { required },
      fechaSalida: {
        required,
        minValue: value => value >= moment().format("YYYY-MM-DD")
      },
      fechaRegreso: {
        required: requiredIf(function() {
          return this.formVueloHospedaje.tipoVueloSelected != "1";
        })
      },
      motivoViaje: { required },
      hotelSelected: { required },
      habitaciones: { required },
      tipoHabitacionSelected: { required },
      fechaEntradaHotel: { required },
      fechaSalidaHotel: { required },
      nochesReservadas: { required }
    }
  },
  computed: {
    ...mapState([
      "tipoViaje",
      "tipoVuelo",
      "diasSemana",
      "meses",
      "spinnerCustom",
      "alertaSolicitud",
      "objVueloHotel"
    ]),
    valueMaxEmpleados: function() {
      return parseInt(
        this.formVueloHospedaje.tipoHabitacionSelected *
          this.formVueloHospedaje.habitaciones
      );
    }
  },
  components: {
    Typeahead,
    CoolSelect,
    DatosUsuario,
    DatePick,
    SpinnerCustom
  },
  beforeCreate() {
    this.itemEmpleados = this.$store.state.empleados;
  },
  created() {
    this.getTipoVuelo();
    this.getTipoHabitacion();
    this.getTipoViaje();
    this.getEstatusSolicitud();
    this.getTipoSolicitud();
    this.$store.state.empleadoSelected = null;

    if (this.$route.params.id != null) {
      var arrayListaViajes = [];

      this.$store.state.objVueloHotel.detalleSolicitudViaje.forEach(viaje => {
        let codigoEmpleadoSeleccionado = "";

        if (viaje.listaEmpleados.length > 1) {
          codigoEmpleadoSeleccionado = "Todos";
        } else {
          codigoEmpleadoSeleccionado =
            viaje.listaEmpleados[0].chrCodigoEmpleado;
        }

        let objListaViajes = {
          colaboradorSelected: codigoEmpleadoSeleccionado,
          intIDDetalleSolicitudViaje: viaje.intIDDetalleSolicitudViaje,
          centroCosteVuelo: viaje.chrCentroCostoViaje,
          tipoViaje: this.getSelectViaje(viaje.intFKIDTipoViaje),
          tipoVuelo: this.getSelectVuelo(viaje.intFKIDTipoVuelo),
          tipoVueloSelected: viaje.intFKIDTipoVuelo,
          tipoViajeSelected: viaje.intFKIDTipoViaje,
          aerolinea: viaje.chrAerolinea,
          origen: viaje.chrClaveOrigen,
          destino: viaje.chrClaveDestino,
          fechaSalida: moment(viaje.dtdFechaSalidad).format("YYYY-MM-DD"),
          fechaRegreso: moment(viaje.dtdFechaRegreso).format("YYYY-MM-DD"),
          motivoViaje: viaje.chrMotivoViaje,
          hotelSelected: viaje.chrEsHotel == "SI" ? 1 : 2,
          habitaciones: viaje.intNoHabitaciones,
          tipoHabitacionSelected: viaje.intFKIDTipoHabitacion,
          comentarioVuelo: viaje.chrComentarios
        };
        arrayListaViajes.push(objListaViajes);
      });

      this.listaViaje = arrayListaViajes;
      var arrayhospedaje = [];
      this.$store.state.objVueloHotel.detalleSolicitudHotel.forEach(
        hospedaje => {
          let codigoEmpleadoSeleccionado = "";

          if (hospedaje.lstDtEmpleadoHuespedes.length > 1) {
            codigoEmpleadoSeleccionado = "Todos";
          } else {
            codigoEmpleadoSeleccionado =
              hospedaje.lstDtEmpleadoHuespedes[0].chrCodigoEmpleado;
          }

          let objListajHospedaje = {
            colaboradorSelected: codigoEmpleadoSeleccionado,
            intIDDetalleSolicitudHotel: hospedaje.intIDDetalleSolicitudHotel,
            hotelSelected: hospedaje.chrEsHotel == "SI" ? 1 : 2,
            hotelSi: this.formVueloHospedaje.hotelSelected == 1 ? "SI" : "NO",
            habitaciones: hospedaje.intNoHabitaciones,
            tipohabitacion: this.getSelectTipoHabitacion(
              hospedaje.intFKIDTipoHabitacion
            ),
            tipoHabitacionSelected: hospedaje.intFKIDTipoHabitacion,
            fechaEntradaHotel: moment(hospedaje.dtdFechaSalidad).format(
              "YYYY-MM-DD"
            ),
            fechaSalidaHotel: moment(hospedaje.dtdFechaRegreso).format(
              "YYYY-MM-DD"
            ),
            nochesReservadas: hospedaje.chrNochesReservadas,

            comentarioHospedaje: hospedaje.chrComentarios,
            origen: hospedaje.chrClaveOrigen,
            destino: hospedaje.chrClaveDestino,
            centroCosteHospedaje: hospedaje.chrCentroCostoHospedaje
          };
          arrayhospedaje.push(objListajHospedaje);
        }
      );
      this.listaHospedaje = arrayhospedaje;

      this.getCentroCosto(
        this.$store.state.objVueloHotel.detalleSolicitudViaje[0]
          .chrCentroCostoViaje
      );

      this.formEmpleado = {
        comentarioSolicitud: this.$store.state.objVueloHotel.chrComentarios,
        numFolio: this.$store.state.objVueloHotel.intIDSolicitud
      };
      var arrayEmpleados = [];
      var detalleHuespedes = [];
      var detalleViajeros = [];

      this.$store.state.objVueloHotel.detalleSolicitudViaje.forEach(
        detalleSolicitudViaje => {
          detalleSolicitudViaje.listaEmpleados.forEach(emp => {
            emp.intFKIDDetalleSolicitudViaje =
              detalleSolicitudViaje.intIDDetalleSolicitudViaje;

            detalleHuespedes.push(emp);
            detalleViajeros.push(emp);
            let nombreCompleto =
              emp.chrNombre +
              " " +
              (emp.chrApellidoPaterno != null ? emp.chrApellidoPaterno : "") +
              " " +
              (emp.chrApellidoMaterno != null ? emp.chrApellidoMaterno : "");
            let objEmpleado = {
              numero: emp.chrCodigoEmpleado,
              nombre: nombreCompleto,
              anioNacimiento: moment(emp.dtdFechaNacimiento).format(
                "DD-MM-YYYY"
              ),
              intIDDetalleViajeros: emp.intIDDetalleViajeros,
              intIDDetalleHuespedes: emp.intIDDetalleHuespedes,
              intIDDetalleSolicitudViaje:
                detalleSolicitudViaje.intIDDetalleSolicitudViaje,
              chrClaveOrigen: detalleSolicitudViaje.chrClaveOrigen,
              chrClaveDestino: detalleSolicitudViaje.chrClaveDestino,
              chrTipo: "Vuelo"
            };
            arrayEmpleados.push(objEmpleado);
          });
        }
      );

      this.$store.state.objVueloHotel.detalleSolicitudHotel.forEach(
        detalleSolicitudHotel => {
          detalleSolicitudHotel.lstDtEmpleadoHuespedes.forEach(emp => {
            let nombreCompleto =
              emp.chrNombre +
              " " +
              (emp.chrApellidoPaterno != null ? emp.chrApellidoPaterno : "") +
              " " +
              (emp.chrApellidoMaterno != null ? emp.chrApellidoMaterno : "");
            let objEmpleado = {
              numero: emp.chrCodigoEmpleado,
              nombre: nombreCompleto,
              anioNacimiento: moment(emp.dtdFechaNacimiento).format(
                "DD-MM-YYYY"
              ),
              intIDDetalleViajeros: emp.intIDDetalleViajeros,
              intIDDetalleHuespedes: emp.intIDDetalleHuespedes,
              intIDDetalleSolicitudHotel:
                detalleSolicitudHotel.intIDDetalleSolicitudHotel,
              chrClaveDestino: detalleSolicitudHotel.chrClaveDestino,
              chrClaveOrigen: detalleSolicitudHotel.chrClaveOrigen,
              chrTipo: "Hotel"
            };
            arrayEmpleados.push(objEmpleado);

            // arrayEmpleados.forEach(arrayE => {
            //if (arrayE.numero == emp.intIDEmpleado) {
            //  arrayE.intIDDetalleHuespedes = emp.intIDDetalleHuespedes;
            //  arrayE.intIDDetalleSolicitudHotel = detalleSolicitudHotel.intIDDetalleSolicitudHotel;
            // }
            //});
          });
        }
      );

      this.listaEmpleados = arrayEmpleados;
      this.listaDetalleHuespedes = detalleHuespedes;
      this.listaDetalleViajeros = detalleViajeros;
    }
  },
  updated() {
    this.updateNochesReservadas();
  },
  methods: {
    ...mapActions([
      "getTipoVuelo",
      "getTipoHabitacion",
      "getTipoViaje",
      "getEstatusSolicitud",
      "getTipoSolicitud",
      "saveSolicitud",
      "getEmpleados",
      "getCentroCosto"
    ]),
    updateNochesReservadas() {
      if (
        moment(this.formVueloHospedaje.fechaSalidaHotel) >
        moment(this.formVueloHospedaje.fechaEntradaHotel)
      ) {
        this.formVueloHospedaje.nochesReservadas = moment(
          this.formVueloHospedaje.fechaSalidaHotel
        ).diff(moment(this.formVueloHospedaje.fechaEntradaHotel), "days");
      } else {
        this.formVueloHospedaje.nochesReservadas = 0;
      }
    },
    agregarUsuario() {
      this.listaEmpleados.push({
        numero: this.$store.state.empleadoSelected.empleado,
        nombre: this.$store.state.empleadoSelected.nombre,
        anioNacimiento: this.$store.state.empleadoSelected.fechanac
      });

      if (this.listaEmpleados.length > 1) {
        this.formVueloHospedaje.tipoHabitacionSelected = 2;
      }

      this.$store.state.empleadoSelected = {};
      this.codigoEmpleado = "";
      this.$v.$reset();
    },
    agregarViaje() {
      this.listaViaje.push({
        intIDDetalleSolicitudViaje: "",
        chrNumEmpleado: this.formEmpleado.chrNumEmpleado,
        chrNomEmpleado: this.formEmpleado.chrNomEmpleado,
        chrFechaNacimiento: this.formEmpleado.chrFechaNacimiento,
        colaboradorSelected: this.formVueloHospedaje.colaboradorVueloSelected,
        tipoVueloSelected: this.formVueloHospedaje.tipoVueloSelected,
        tipoViajeSelected: this.formVueloHospedaje.tipoViajeSelected,
        tipoViaje: this.getSelectViaje(
          this.formVueloHospedaje.tipoViajeSelected
        ),
        tipoVuelo: this.getSelectVuelo(
          this.formVueloHospedaje.tipoVueloSelected
        ),
        fechaSalida: this.formVueloHospedaje.fechaSalida,
        fechaRegreso:
          this.formVueloHospedaje.tipoVueloSelected != 1
            ? this.formVueloHospedaje.fechaRegreso
            : null,
        centroCosteVuelo: this.formVueloHospedaje.centroCosteVuelo.KOSTL,
        centroCosteHospedaje: this.formVueloHospedaje.centroCosteVuelo.KOSTL,
        aerolinea: this.formVueloHospedaje.aerolinea,
        motivoViaje: this.formVueloHospedaje.motivoViaje,
        origen: this.formVueloHospedaje.origen,
        destino: this.formVueloHospedaje.destino,
        comentarioVuelo: this.formVueloHospedaje.comentarioVuelo
      });

      this.formVueloHospedaje.colaboradorVueloSelected = "";
      this.formVueloHospedaje.tipoVueloSelected = "";
      this.formVueloHospedaje.tipoViajeSelected = "";
      this.formVueloHospedaje.fechaSalida = moment().format("YYYY-MM-DD");
      this.formVueloHospedaje.fechaRegreso = moment().format("YYYY-MM-DD");
      this.formVueloHospedaje.aerolinea = "";
      this.formVueloHospedaje.motivoViaje = "";
      this.formVueloHospedaje.origen = "";
      this.formVueloHospedaje.destino = "";
      this.formVueloHospedaje.comentarioVuelo = "";
      this.$v.$reset();
    },
    agregarHospedaje() {
      this.listaHospedaje.push({
        intIDDetalleSolicitudHotel: "",
        colaboradorSelected: this.formVueloHospedaje
          .colaboradorHospedajeSelected,
        centroCosteHospedaje: this.formVueloHospedaje.centroCosteVuelo.KOSTL,
        destino: this.formVueloHospedaje.destinohotel,
        fechaEntradaHotel: this.formVueloHospedaje.fechaEntradaHotel,
        fechaSalidaHotel: this.formVueloHospedaje.fechaSalidaHotel,
        habitaciones: this.formVueloHospedaje.habitaciones,
        hotelSelected: this.formVueloHospedaje.hotelSelected,

        hotelSi: this.formVueloHospedaje.hotelSelected == 1 ? "SI" : "NO",
        nochesReservadas: this.formVueloHospedaje.nochesReservadas,
        origen: this.formVueloHospedaje.origenhotel,
        tipohabitacion: this.getSelectTipoHabitacion(
          this.formVueloHospedaje.tipoHabitacionSelected
        ),
        tipoHabitacionSelected: this.formVueloHospedaje.tipoHabitacionSelected,
        comentarioHospedaje: this.formVueloHospedaje.comentarioHospedaje,
        listaEmpleados: this.listaEmpleados
      });
      this.formVueloHospedaje.colaboradorHospedajeSelected = "";
      this.formVueloHospedaje.destinohotel = "";
      this.formVueloHospedaje.origenhotel = "";
      this.formVueloHospedaje.hotelSelected = "";
      this.formVueloHospedaje.comentarioHospedaje = "";
      this.formVueloHospedaje.tipoHabitacionSelected = "";
      this.formVueloHospedaje.habitaciones = "";
      this.formVueloHospedaje.fechaEntradaHotel = moment().format("YYYY-MM-DD");
      this.formVueloHospedaje.fechaSalidaHotel = moment().format("YYYY-MM-DD");
      this.$v.$reset();
    },
    altaVueloHospedaje() {
      let objFormHospedaje = [];

      this.listaHospedaje.forEach(hospedaje => {
        objFormHospedaje = {
          colaboradorSelected: hospedaje.colaboradorSelected,
          intIDDetalleSolicitudHotel: this.intIDDetalleSolicitudHotel,
          centroCosteHospedaje: hospedaje.centroCosteHospedaje,
          destino: hospedaje.destino,
          fechaEntradaHotel: hospedaje.fechaEntradaHotel,
          fechaSalidaHotel: hospedaje.fechaSalidaHotel,
          habitaciones: hospedaje.habitaciones,
          hotelSelected: hospedaje.hotelSelected,
          nochesReservadas: hospedaje.nochesReservadas,
          origen: hospedaje.origen,
          tipoHabitacionSelected: hospedaje.tipoHabitacionSelected,
          comentarioHospedaje: hospedaje.comentarioHospedaje,
          listaEmpleados: this.listaEmpleados
        };
      });

      let objFormVuelo = [];

      this.listaViaje.forEach(emp => {
        objFormVuelo = {
          intIDDetalleSolicitudViaje: this.intIDDetalleSolicitudViaje,
          aerolinea: emp.aerolinea,
          colaboradorSelected: emp.colaboradorSelected,
          centroCosteVuelo: emp.centroCosteVuelo,
          destino: emp.destino,
          fechaRegreso: emp.tipoVueloSelected != 1 ? emp.fechaRegreso : null,
          fechaSalida: emp.fechaSalida,
          motivoViaje: emp.motivoViaje,
          origen: emp.origen,
          tipoViajeSelected: emp.tipoViajeSelected,
          tipoVueloSelected: emp.tipoVueloSelected,
          listaEmpleados: this.listaEmpleados
        };
      });
      let intIDSolicitud =
        this.$route.params.id != null ? this.$route.params.id : "";

      this.saveSolicitud({
        intIDSolicitud: intIDSolicitud,
        intIDDetalleSolicitudViaje: this.intIDDetalleSolicitudViaje,
        intIDDetalleSolicitudHotel: this.intIDDetalleSolicitudHotel,
        detalleHuespedes: this.listaDetalleHuespedes,
        detalleViajeros: this.listaDetalleViajeros,
        intFolio:
          this.formEmpleado.numFolio != null ? this.formEmpleado.numFolio : "",
        user:
          this.$store.state.objVueloHotel.intFKIDEstatus != 7
            ? this.$store.state.userLogin.chrCodigoEmpleado
            : this.$store.state.objVueloHotel.intNoSolicitante,
        fechaActual: moment().format("YYYY-MM-DDTHH:mm"),
        tipoSolicitud: 1,
        numSolicitud:
          this.$store.state.objVueloHotel.intFKIDEstatus != 7
            ? this.$store.state.userLogin.chrCodigoEmpleado
            : this.$store.state.objVueloHotel.intNoSolicitante,
        dtdFechaNacimiento: this.formEmpleado.chrFechaNacimiento,
        comentariosSolicitud: this.formEmpleado.comentarioSolicitud,
        estatus: this.$store.state.objVueloHotel.intFKIDEstatus != 7 ? 1 : 7,
        //objFormVuelo: objInfoVueloHospedaje,
        objFormVuelo: objFormVuelo,
        objForHospedaje: objFormHospedaje,
        arraylistaVuelo: this.listaViaje,
        arrayListaHospedaje: this.listaHospedaje
      });
    },
    cancelarSolicitud() {
      this.$v.$reset();
      this.$router.push({ name: "solicitud-de-reservaciones" });
    },
    deleteEmpleadoTable(numEmpleado) {
      this.$bvModal.hide("modal-confirma-borrar");
      this.intIDDetalleSolicitudViaje = this.$store.state.objVueloHotel.detalleSolicitudViaje[0].intIDDetalleSolicitudViaje;
      this.intIDDetalleSolicitudHotel = this.$store.state.objVueloHotel.detalleSolicitudHotel[0].intIDDetalleSolicitudHotel;

      this.deteleDetalleViajeros(
        this.intIDDetalleSolicitudViaje,
        numEmpleado.numero
      );
      this.deteleDetalleHuespedesHotel(
        this.intIDDetalleSolicitudHotel,
        numEmpleado.numero
      );

      const currentCookie = JSON.parse(this.$cookie.get("cookieControlViajes"));

      let arrayEmpleados = this.listaEmpleados;
      this.listaEmpleados = [];
      arrayEmpleados.forEach(emp => {
        if (emp.numero != numEmpleado.numero) {
          this.listaEmpleados.push(emp);
        }
      });
      if (this.listaEmpleados.length <= 1) {
        this.formVueloHospedaje.tipoHabitacionSelected = 1;
      }
    },
    deteleDetalleViajeros(intIDDetalleViaje, intCodigoEmpleado) {
      let idDetalleViaje = {
        intFKIDDetalleSolicitudViaje: intIDDetalleViaje,
        chrCodigoEmpleado: intCodigoEmpleado
      };
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/DeleteDetalleViajeros/",
          idDetalleViaje,
          {
            hd
          }
        )
        .then(response => {})
        .catch(error => {});
    },
    deteleDetalleHuespedesHotel(intDetalleHotel, intCodigoEmpleado) {
      let idDetalleHotel = {
        intFKIDDetalleSolicitudHotel: intDetalleHotel,
        chrCodigoEmpleado: intCodigoEmpleado
      };
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/DeleteDetalleHuespedes/",
          idDetalleHotel,
          {
            hd
          }
        )
        .then(response => {})
        .catch(error => {});
    },
    isPastDate(date) {
      const currentDate = moment().subtract(1, "d");
      return date < currentDate;
    },
    isPastDateSalida(date) {
      return (
        moment(date).format("YYYY-MM-DD") < this.formVueloHospedaje.fechaSalida
      );
    },
    getEmpleadoStore(empleado) {
      this.getEmpleados(empleado);
    },
    onSearch(busqueda) {
      const lettersLimit = 4;
      this.noData = false;
      if (busqueda.length < lettersLimit) {
        this.$store.state.centroCosteVuelo = [];
        this.$store.state.loadingSelect = false;
        return;
      } else {
        this.getCentroCosto(busqueda);
        this.noData = true;
      }
    },
    getSelectViaje(tipoViaje) {
      switch (tipoViaje) {
        case 1:
          tipoViaje = "Nacional";
          break;
        case 2:
          tipoViaje = "Internacional";
          break;
        default:
          break;
      }
      return tipoViaje;
    },
    getSelectVuelo(tipoVuelo) {
      switch (tipoVuelo) {
        case 1:
          tipoVuelo = "Sencillo";
          break;
        case 2:
          tipoVuelo = "Redondo";
          break;
        default:
          break;
      }
      return tipoVuelo;
    },
    getSelectTipoHabitacion(tipoHabitacion) {
      switch (tipoHabitacion) {
        case 1:
          tipoHabitacion = "Sencillas";
          break;
        case 2:
          tipoHabitacion = "Dobles";
          break;
        default:
          break;
      }
      return tipoHabitacion;
    },
    editDetalleViaje(data) {
      this.vueloSeleccionado = data;

      this.formVueloHospedaje = {
        colaboradorVueloSelected: data.colaboradorSelected,
        intIDDetalleSolicitudViaje: data.intIDDetalleSolicitudViaje,
        tipoVueloSelected: data.tipoVueloSelected,
        tipoViajeSelected: data.tipoViajeSelected,
        aerolinea: data.aerolinea,
        origen: data.origen,
        destino: data.destino,
        fechaSalida: moment(data.fechaSalida).format("YYYY-MM-DD"),
        fechaRegreso: moment(data.fechaRegreso).format("YYYY-MM-DD"),
        motivoViaje: data.motivoViaje,
        comentarioVuelo: data.comentarioVuelo,
        centroCosteVuelo: data.centroCosteVuelo,
        costoExtraVuelo: this.formVueloHospedaje.costoExtraVuelo
      };
      this.editadoVuelo = true;
    },
    saveDetalleSolicitudViaje(vueloSeleccionado) {
      this.listaViaje.forEach(listadoViajes => {
        if (
          listadoViajes.intIDDetalleSolicitudViaje ==
          vueloSeleccionado.intIDDetalleSolicitudViaje
        ) {
          (listadoViajes.chrNumEmpleado = this.formEmpleado.chrNumEmpleado),
            (listadoViajes.chrNomEmpleado = this.formEmpleado.chrNomEmpleado),
            (listadoViajes.chrFechaNacimiento = this.formEmpleado.chrFechaNacimiento),
            (listadoViajes.colaboradorSelected = this.formVueloHospedaje.colaboradorVueloSelected),
            (listadoViajes.tipoVueloSelected = this.formVueloHospedaje.tipoVueloSelected),
            (listadoViajes.tipoViajeSelected = this.formVueloHospedaje.tipoViajeSelected),
            (listadoViajes.tipoViaje = this.getSelectViaje(
              this.formVueloHospedaje.tipoViajeSelected
            )),
            (listadoViajes.tipoVuelo = this.getSelectVuelo(
              this.formVueloHospedaje.tipoVueloSelected
            )),
            (listadoViajes.fechaSalida = this.formVueloHospedaje.fechaSalida),
            (listadoViajes.fechaRegreso =
              this.formVueloHospedaje.tipoVueloSelected != 1
                ? this.formVueloHospedaje.fechaRegreso
                : null),
            (listadoViajes.centroCosteVuelo = this.formVueloHospedaje.centroCosteVuelo.KOSTL),
            (listadoViajes.aerolinea = this.formVueloHospedaje.aerolinea),
            (listadoViajes.motivoViaje = this.formVueloHospedaje.motivoViaje),
            (listadoViajes.origen = this.formVueloHospedaje.origen),
            (listadoViajes.destino = this.formVueloHospedaje.destino),
            (listadoViajes.comentarioVuelo = this.formVueloHospedaje.comentarioVuelo),
            (listadoViajes.costoExtraVuelo = this.formVueloHospedaje.costoExtraVuelo);
        }

        // this.formVuelo = {};
        // this.vueloSeleccionado = {};
        this.formVueloHospedaje.colaboradorVueloSelected = "";
        this.formVueloHospedaje.tipoVueloSelected = "";
        this.formVueloHospedaje.tipoViajeSelected = "";
        this.formVueloHospedaje.fechaSalida = moment().format("YYYY-MM-DD");
        this.formVueloHospedaje.fechaRegreso = moment().format("YYYY-MM-DD");
        this.formVueloHospedaje.aerolinea = "";
        this.formVueloHospedaje.motivoViaje = "";
        this.formVueloHospedaje.origen = "";
        this.formVueloHospedaje.destino = "";
        this.formVueloHospedaje.comentarioVuelo = "";
        this.$v.$reset();
        this.editadoVuelo = false;
      });
    },
    editDetalleHospedaje(data) {
      this.hospedajeSeleccionado = data;

      this.formVueloHospedaje = {
        intIDDetalleSolicitudHotel: data.intIDDetalleSolicitudHotel,
        origen: data.origen,
        destino: data.destino,
        colaboradorHospedajeSelected: data.colaboradorSelected,
        hotelSelected: data.hotelSelected == "SI" ? 1 : 2,
        hotelSi: data.hotelSelected == "SI" ? "SI" : "NO",
        habitaciones: data.habitaciones,
        origenhotel: data.origen,
        destinohotel: data.destino,
        tipoHabitacionSelected: data.tipoHabitacionSelected,
        fechaEntradaHotel: moment(data.fechaEntradaHotel).format("YYYY-MM-DD"),
        fechaSalidaHotel: moment(data.fechaSalidaHotel).format("YYYY-MM-DD"),
        nochesReservadas: data.nochesReservadas,
        comentarioHospedaje: data.comentarioHospedaje,
        centroCosteHospedaje: data.centroCosteHospedaje,
        costoExtaHotel: this.formVueloHospedaje.costoExtaHotel
      };
      this.editadoHospedaje = true;
    },
    saveDetalleSolicitudHospedaje(hospedajeSeleccionado) {
      this.listaHospedaje.forEach(listahospedaje => {
        if (
          listahospedaje.intIDDetalleSolicitudHotel ==
          hospedajeSeleccionado.intIDDetalleSolicitudHotel
        ) {
          (listahospedaje.fechaEntradaHotel = this.formVueloHospedaje.fechaEntradaHotel),
            (listahospedaje.fechaSalidaHotel = this.formVueloHospedaje.fechaSalidaHotel),
            (listahospedaje.habitaciones = this.formVueloHospedaje.habitaciones),
            (listahospedaje.hotelSelected = this.formVueloHospedaje.hotelSelected),
            (listahospedaje.nochesReservadas = this.formVueloHospedaje.nochesReservadas),
            (listahospedaje.tipoHabitacionSelected = this.formVueloHospedaje.tipoHabitacionSelected),
            (listahospedaje.comentarioHospedaje = this.formVueloHospedaje.comentarioHospedaje),
            (listahospedaje.costoExtaHotel = this.formVueloHospedaje.costoExtaHotel);
        }
      });

      //  this.formHospedaje = {};
      // this.hospedajeSeleccionado = {};
      this.formVueloHospedaje.colaboradorHospedajeSelected = "";
      this.formVueloHospedaje.destinohotel = "";
      this.formVueloHospedaje.origenhotel = "";
      this.formVueloHospedaje.hotelSelected = "";
      this.formVueloHospedaje.comentarioHospedaje = "";
      this.formVueloHospedaje.tipoHabitacionSelected = "";
      this.formVueloHospedaje.habitaciones = "";
      this.formVueloHospedaje.fechaEntradaHotel = moment().format("YYYY-MM-DD");
      this.formVueloHospedaje.fechaSalidaHotel = moment().format("YYYY-MM-DD");
      this.$v.$reset();

      this.editadoHospedaje = false;
    }
  }
};
</script>

<style>
.crear-solicitud {
  width: 215px;
  height: 38px;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-left: 12px;
}

.txt-navbar-fecha {
  color: #ffffff;
  float: right;
  font-size: 18px;
}

@media (max-width: 991px) {
  .crear-solicitud {
    width: 215px;
    height: 38px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    padding-left: 12px;
  }
  .txt-navbar-fecha {
    color: #333333;
    text-align: right;
  }

  .vdpComponent {
    position: relative;
    display: inline-block;
    font-size: 1rem !important;
    color: #303030;
  }

  .vdpComponent.vdpWithInput > input {
    padding-right: 30px;
  }
}
</style>
