<template>
  <b-container fluid class="containerSolicitud">
    <b-row class="my-2">
      <b-col cols="8">
        <div class="crear-solicitud">{{ $t('reservaciones.crearSolicitud') }}</div>
        <b-breadcrumb style="background-color:inherit" :items="itemsRoute"></b-breadcrumb>
      </b-col>
      <b-col cols="4">
        <div class="txt-navbar-fecha">{{ $t('reservaciones.fechaSolicitud') }}</div>
        <br />
        <br />
        <div class="txt-navbar-fecha" style="font-weight: bold;">{{ moment().format('DD/MM/YYYY') }}</div>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="4">
        <datos-usuario></datos-usuario>
        <br />
      </b-col>
      <b-col lg="8">
        <b-card>
          <b-form @submit.prevent="altaVueloHospedaje" @reset="$v.$reset()">
            <b-row>
              <b-col cols="12">
                <b-card-title>Solicitud</b-card-title>
                <b-row class="my-2">
                  <b-col lg="6" v-if="$route.params.id != null">
                    <b-form-group label="Número de folio" label-for="input-numero-folio">
                      <b-form-input
                        disabled
                        id="input-numero-folio"
                        v-model="formEmpleado.numFolio"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      label="Comentarios de la solicitud"
                      label-for="input-comentario-solicitud"
                    >
                      <b-form-input
                        id="input-comentario-solicitud"
                        v-model="$v.formEmpleado.comentarioSolicitud.$model"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.numEmpleado')"
                      label-for="input-numero-empleado"
                    >
                      <b-input v-model="codigoEmpleado"></b-input>
                      <br />
                      <b-button @click.prevent="getEmpleadoStore(codigoEmpleado)">Consultar</b-button>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6" v-if="$store.state.empleadoSelected != null">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.nomEmpleado')"
                      label-for="input-nombre-empleado"
                    >
                      <b-form-input disabled v-model="$store.state.empleadoSelected.nombre"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6" v-if="$store.state.empleadoSelected != null">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaNacimiento')"
                      label-for="input-fecha-nacimiento"
                    >
                      <b-form-input disabled v-model="$store.state.empleadoSelected.fechanac"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6" v-if="empleadoSelected != null">
                    <b-button
                      class="button-estandar"
                      style="width:100%;height:auto;margin-top:32px;"
                      @click="agregarUsuario()"
                    >Agregar</b-button>
                  </b-col>
                </b-row>
                <b-row class="my-2" v-if="listaEmpleados.length > 0">
                  <b-col cols="12">
                    <div style="overflow-x:auto">
                      <b-table striped hover :items="listaEmpleados" :fields="camposTablaEmpleados">
                        <template slot="actions" slot-scope="data">
                          <a
                            href="#"
                            v-if="editadoVuelo"
                            v-on:click="deleteEmpleadoTable(data.item)"
                            class="icon"
                          >
                            <font-awesome-icon color="#333333" icon="trash" />
                          </a>
                        </template>
                      </b-table>
                    </div>
                  </b-col>
                </b-row>
                <b-card-title>{{ $t('reservaciones.tituloVuelo') }}</b-card-title>
                <b-row class="my-2">
                  <b-col lg="6" v-if="listaEmpleados.length > 0">
                    <b-form-group
                      class="requiered"
                      label="Colaborador"
                      label-for="select-colaborador"
                    >
                      <b-form-select
                        id="select-colaborador"
                        v-model="$v.formVuelo.colaboradorSelected.$model"
                      >
                        <option v-if="listaEmpleados.length > 1" value="Todos" selected>Todos</option>
                        <option
                          v-for="th in this.listaEmpleados"
                          :key="th.numero"
                          :value="th.numero"
                        >{{ th.numero }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.tipoViaje')"
                      label-for="select-tipo-viaje"
                    >
                      <b-form-select
                        id="select-tipo-viaje"
                        v-model="$v.formVuelo.tipoViajeSelected.$model"
                      >
                        <option :value="null" disabled>Seleccionar</option>
                        <option
                          v-for="v in $store.state.tipoViaje"
                          :key="v.intIDTipoViajes"
                          :value="v.intIDTipoViajes"
                        >{{ v.chrDescripcion }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.tipoVuelo')"
                      label-for="select-tipo-vuelo"
                    >
                      <b-form-select
                        id="select-tipo-viaje"
                        v-model="$v.formVuelo.tipoVueloSelected.$model"
                      >
                        <option :value="null" disabled>
                          {{ $t
                          ('reservaciones.seleccionar') }}
                        </option>
                        <option
                          v-for="v in $store.state.tipoVuelo"
                          :key="v.intIDTipoVuelo"
                          :value="v.intIDTipoVuelo"
                        >{{ v.chrDescripcion }}</option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.origen')"
                      label-for="input-origen-vuelo"
                    >
                      <b-form-input
                        id="input-origen-vuelo"
                        type="text"
                        v-model="$v.formVuelo.origen.$model"
                        :state="$v.formVuelo.origen.$dirty ? !$v.formVuelo.origen.$error : null"
                        aria-describedby="input-origen-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-origen-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.destino')"
                      label-for="input-destino-vuelo"
                    >
                      <b-form-input
                        id="input-destino-vuelo"
                        type="text"
                        v-model="$v.formVuelo.destino.$model"
                        :state="$v.formVuelo.destino.$dirty ? !$v.formVuelo.destino.$error : null"
                        aria-describedby="input-destino-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-destino-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.fechaSalida')"
                      label-for="input-fecha-salida-vuelo"
                    >
                      <date-pick
                        v-model="$v.formVuelo.fechaSalida.$model"
                        :displayFormat="'DD-MM-YYYY'"
                        :isDateDisabled="isPastDate"
                        :inputAttributes="{readonly: true}"
                        :weekdays="$store.state.diasSemana"
                        :months="$store.state.meses"
                      ></date-pick>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      v-if="formVuelo.tipoVueloSelected != 1"
                      :label="$t('reservaciones.fechaRegreso')"
                      label-for="input-fecha-regreso-vuelo"
                    >
                      <date-pick
                        v-model="$v.formVuelo.fechaRegreso.$model"
                        :displayFormat="'DD-MM-YYYY'"
                        :isDateDisabled="isPastDateSalida"
                        :inputAttributes="{readonly: true}"
                        :weekdays="$store.state.diasSemana"
                        :months="$store.state.meses"
                        :state="$v.formVuelo.fechaRegreso.$dirty ? !$v.formVuelo.fechaRegreso.$error : null"
                        aria-describedby="input-fechaRegreso-feedback"
                      ></date-pick>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.centroCosteVuelo')"
                      label-for="input-centro-coste-vuelo"
                    >
                      <b-row>
                        <b-col cols="12">
                          <cool-select
                            @search="onSearch"
                            v-model="$v.formVuelo.centroCosteVuelo.$model"
                            :items="$store.state.centroCosteVuelo"
                            item-text="KOSTL"
                            :loading="$store.state.loadingSelect"
                          >
                            <template slot="no-data">
                              {{
                              noData
                              ? "Información no encontrada"
                              : "Escribe al menos 4 caracteres para iniciar la búsqueda"
                              }}
                            </template>
                          </cool-select>
                        </b-col>
                      </b-row>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.aerolinea')"
                      label-for="input-aerolinea"
                    >
                      <b-form-input
                        id="input-aerolinea"
                        type="text"
                        v-model="$v.formVuelo.aerolinea.$model"
                        :state="$v.formVuelo.aerolinea.$dirty ? !$v.formVuelo.aerolinea.$error : null"
                        aria-describedby="input-aerolinea-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-aerolinea-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="my-2">
                  <b-col lg="6">
                    <b-form-group
                      class="required"
                      :label="$t('reservaciones.motivo')"
                      label-for="input-motivo-viaje"
                    >
                      <b-form-input
                        id="input-motivo-viaje"
                        type="text"
                        v-model="$v.formVuelo.motivoViaje.$model"
                        :state="$v.formVuelo.motivoViaje.$dirty ? !$v.formVuelo.motivoViaje.$error : null"
                        aria-describedby="input-motivoViaje-feedback"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="input-motivoViaje-feedback"
                      >{{ $t('validaciones.requerido') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col lg="6" v-if="$store.state.userLogin.intIDPerfil == 2">
                    <b-form-group label="Costo Extra" label-for="input-costo-extra-viaje">
                      <b-form-input
                        id="input-costo-extra-viaje"
                        v-model="formVuelo.costoExtraVuelo"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <b-row>
              <b-col lg="6" v-if="empleadoSelected != null">
                <b-button
                  v-if="!editadoVuelo"
                  :disabled="listaEmpleados.length == 0 "
                  class="button-estandar"
                  style="width:100%;height:auto;margin-top:32px;"
                  @click="agregarViaje()"
                >Agregar</b-button>
              </b-col>
              <b-col lg="6">
                <b-button
                  v-if="editadoVuelo"
                  class="button-estandar"
                  @click="saveDetalleSolicitudViaje(vueloSeleccionado)"
                  style="width:100%;height:auto;margin-top:32px;"
                  :disabled="!this.formVuelo.colaboradorSelected && !this.formVuelo.centroCosteVuelo.KOSTL"
                >Guardar</b-button>
              </b-col>
            </b-row>
            <b-row class="my-2" v-if="listaViaje.length > 0">
              <b-col cols="12">
                <div style="overflow-x:auto">
                  <b-table striped hover :items="listaViaje" :fields="camposTablaViajes">
                    <template slot="actions" slot-scope="data">
                      <a
                        href="#"
                        v-on:click.prevent="editDetalleViaje(data.item)"
                        class="icon"
                        style="margin-right:10px"
                      >
                        <font-awesome-icon color="#333333" icon="edit" />
                      </a>

                      <!-- <a href="#" v-on:click="deleteViaje(data.item)" class="icon">
                        <font-awesome-icon color="#333333" icon="trash" />
                      </a>-->
                    </template>
                  </b-table>
                </div>
              </b-col>
            </b-row>

            <b-row style="justify-content: center;" v-if="$store.state.spinnerCustom">
              <spinner-custom></spinner-custom>
            </b-row>
            <b-alert
              style="border-radius: 6px;background-color:#00ce7a;color:#ffffff"
              :show="$store.state.alertaSolicitud"
            >
              <b-row>
                <b-col cols="2">
                  <b-img size="xs" :src="require('@/img/ic-alert.svg')"></b-img>
                </b-col>
                <b-col cols="10">
                  <span>¡Solicitud creada con éxito!</span>
                </b-col>
              </b-row>
            </b-alert>

            <b-row v-if="!$store.state.spinnerCustom || !$store.state.alertaSolicitud">
              <b-col>
                <b-form-group>
                  <b-button
                    class="button-secundario"
                    type="reset"
                    @click="cancelarSolicitud()"
                  >Cancelar</b-button>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group>
                  <b-button
                    :disabled="listaViaje.length == 0 "
                    class="button-estandar"
                    type="submit"
                  >Guardar Solicitud</b-button>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import DatosUsuario from "@/views/DatosUsuario.vue";

import { required, numeric, requiredIf } from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";
import moment from "moment";
import DatePick from "vue-date-pick";
import "vue-date-pick/dist/vueDatePick.css";
import SpinnerCustom from "@/components/SpinnerCustom.vue";

import { CoolSelect } from "vue-cool-select";

export default {
  data() {
    return {
      codigoEmpleado: "",
      moment: moment,
      itemsRoute: [
        {
          text: this.$t("breadcrumb.inicio"),
          to: { name: "home" }
        },
        {
          text: this.$t("breadcrumb.solicitudVueloHospedaje"),
          to: { name: "solicitud-de-reservaciones" }
        },
        {
          text: this.$t("breadcrumb.vuelo"),
          active: true
        }
      ],
      camposTablaEmpleados: [
        {
          key: "numero",
          label: "Número del colaborado",
          sortable: false
        },
        {
          key: "nombre",
          label: "Nombre del colaborador",
          sortable: false
        },
        {
          key: "anioNacimiento",
          label: "Fecha de nacimiento",
          sortable: false
        },
        {
          key: "chrClaveDestino",
          label: "Destino",
          sortable: false
        },
        {
          key: "chrClaveOrigen",
          label: "Origen",
          sortable: false
        },
        {
          key: "chrTipo",
          label: "Tipo",
          sortable: false
        },
        {
          key: "actions",
          label: "Eliminar",
          tdStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      camposTablaViajes: [
        {
          key: "colaboradorSelected",
          label: "Número del colaborado",
          sortable: false
        },
        {
          key: "tipoViaje",
          label: "Tipo viaje",
          sortable: false
        },
        {
          key: "tipoVuelo",
          label: "Vuelo",
          sortable: false
        },
        {
          key: "origen",
          label: "Origen",
          sortable: false
        },
        {
          key: "destino",
          label: "Destino",
          sortable: false
        },
        {
          key: "fechaSalida",
          label: "Fecha de Salida",
          sortable: false
        },
        {
          key: "fechaRegreso",
          label: "Fecha de regreso",
          sortable: false
        },
        {
          key: "centroCosteVuelo",
          label: "Centro de costo",
          sortable: false
        },
        {
          key: "aerolinea",
          label: "Aerolinea",
          sortable: false
        },
        {
          key: "motivoViaje",
          label: "Motivo del viaje",
          sortable: false
        },
        {
          key: "actions",
          label: "Editar",
          tdStyle: { textAlign: "center" },
          sortable: false
        }
      ],
      formVuelo: {
        colaboradorSelected: null,
        chrNumEmpleado: "",
        chrNomEmpleado: "",
        chrFechaNacimiento: "",
        centroCosteVuelo: "",
        tipoViajeSelected: null,
        tipoVueloSelected: null,
        tipoViaje: "",
        tipoVuelo: "",
        aerolinea: "",
        origen: "",
        destino: "",
        fechaSalida: moment().format("YYYY-MM-DD"),
        fechaRegreso: moment().format("YYYY-MM-DD"),
        motivoViaje: "",
        costoExtraVuelo: 0
      },
      formEmpleado: {
        chrNumEmpleado: "",
        chrNomEmpleado: "",
        chrFechaNacimiento: "",
        numFolio: "",
        comentarioSolicitud: ""
      },
      empleadoSelected: {
        nombreCompleto: "",
        fechaNacimiento: ""
      },
      listaEmpleados: [],
      intIDDetalleSolicitudViaje: "",
      listaDetalleViajeros: [],
      // mostrarSelectCentroCosto: false,
      noData: false,
      listaViaje: [],
      editadoVuelo: false,
      vueloSeleccionado: {}
    };
  },
  components: {
    DatosUsuario,
    DatePick,
    CoolSelect,
    SpinnerCustom
  },
  computed: {
    ...mapState([
      "diasSemana",
      "meses",
      "spinnerCustom",
      "alertaSolicitud",
      "centroCostoCargados"
    ])
  },
  validations: {
    formVuelo: {
      colaboradorSelected: { required },
      centroCosteVuelo: { required },
      tipoViajeSelected: { required },
      tipoVueloSelected: { required },
      aerolinea: { required },
      origen: { required },
      destino: { required },
      fechaSalida: { required },
      fechaRegreso: {
        required: requiredIf(function() {
          return this.formVuelo.tipoVueloSelected != "1";
        })
      },
      motivoViaje: { required }
    },
    formEmpleado: {
      chrNumEmpleado: { required, numeric },
      chrNomEmpleado: { required },
      chrFechaNacimiento: { required },
      numFolio: { required },
      comentarioSolicitud: { required }
    }
  },
  created() {
    this.getTipoVuelo();
    this.getTipoViaje();
    this.$store.state.empleadoSelected = null;

    if (this.$route.params.id != null) {
      var arrayListaViajes = [];

      this.$store.state.objVueloHotel.detalleSolicitudViaje.forEach(element => {
        let codigoEmpleadoSeleccionado = "";

        if (element.listaEmpleados.length > 1) {
          codigoEmpleadoSeleccionado = "Todos";
        } else {
          codigoEmpleadoSeleccionado =
            element.listaEmpleados[0].chrCodigoEmpleado;
        }

        let objListaViajes = {
          intIDDetalleSolicitudViaje: element.intIDDetalleSolicitudViaje,
          colaboradorSelected: codigoEmpleadoSeleccionado,
          tipoVueloSelected: element.intFKIDTipoVuelo,
          tipoViajeSelected: element.intFKIDTipoViaje,
          tipoViaje: this.getSelectViaje(element.intFKIDTipoViaje),
          tipoVuelo: this.getSelectVuelo(element.intFKIDTipoVuelo),
          fechaSalida: moment(element.dtdFechaSalidad).format("YYYY-MM-DD"),
          fechaRegreso: moment(element.dtdFechaRegreso).format("YYYY-MM-DD"),
          centroCosteVuelo: element.chrCentroCostoViaje,
          aerolinea: element.chrAerolinea,
          motivoViaje: element.chrMotivoViaje,
          origen: element.chrClaveOrigen,
          destino: element.chrClaveDestino
        };
        arrayListaViajes.push(objListaViajes);
      });

      this.getCentroCosto(
        this.$store.state.objVueloHotel.detalleSolicitudViaje[0]
          .chrCentroCostoViaje
      );

      this.formEmpleado = {
        comentarioSolicitud: this.$store.state.objVueloHotel.chrComentarios,
        numFolio: this.$store.state.objVueloHotel.intIDSolicitud
      };
      var arrayEmpleados = [];
      var detalleViajeros = [];

      this.$store.state.objVueloHotel.detalleSolicitudViaje.forEach(
        detalleSolicitudViaje => {
          detalleSolicitudViaje.listaEmpleados.forEach(emp => {
            emp.intFKIDDetalleSolicitudViaje =
              detalleSolicitudViaje.intIDDetalleSolicitudViaje;
            detalleViajeros.push(emp);
            let nombreCompleto =
              emp.chrNombre +
              " " +
              (emp.chrApellidoPaterno != null ? emp.chrApellidoPaterno : "") +
              " " +
              (emp.chrApellidoMaterno != null ? emp.chrApellidoMaterno : "");
            let objEmpleado = {
              numero: emp.chrCodigoEmpleado,
              nombre: nombreCompleto,
              anioNacimiento: moment(emp.dtdFechaNacimiento).format(
                "DD-MM-YYYY"
              ),
              intIDDetalleViajeros: emp.intIDDetalleViajeros,
              intIDDetalleSolicitudViaje:
                detalleSolicitudViaje.intIDDetalleSolicitudViaje,
              chrClaveOrigen: detalleSolicitudViaje.chrClaveOrigen,
              chrClaveDestino: detalleSolicitudViaje.chrClaveDestino,
              chrTipo: "Vuelo"
            };
            arrayEmpleados.push(objEmpleado);
          });
        }
      );

      this.listaEmpleados = arrayEmpleados;
      this.listaDetalleViajeros = detalleViajeros;
      this.listaViaje = arrayListaViajes;
    }
  },
  methods: {
    ...mapActions([
      "saveSolicitud",
      "getTipoVuelo",
      "getTipoViaje",
      "getEmpleados",
      "getCentroCosto"
    ]),
    agregarUsuario() {
      this.listaEmpleados.push({
        numero: this.$store.state.empleadoSelected.empleado,
        nombre: this.$store.state.empleadoSelected.nombre,
        anioNacimiento: this.$store.state.empleadoSelected.fechanac
      });

      this.$store.state.empleadoSelected = {};
      this.codigoEmpleado = "";
      this.$v.$reset();
    },
    agregarViaje() {
      this.listaViaje.push({
        intIDDetalleSolicitudViaje: "",
        chrNumEmpleado: this.formEmpleado.chrNumEmpleado,
        chrNomEmpleado: this.formEmpleado.chrNomEmpleado,
        chrFechaNacimiento: this.formEmpleado.chrFechaNacimiento,
        colaboradorSelected: this.formVuelo.colaboradorSelected,
        tipoVueloSelected: this.formVuelo.tipoVueloSelected,
        tipoViajeSelected: this.formVuelo.tipoViajeSelected,
        tipoViaje: this.getSelectViaje(this.formVuelo.tipoViajeSelected),
        tipoVuelo: this.getSelectVuelo(this.formVuelo.tipoVueloSelected),
        fechaSalida: this.formVuelo.fechaSalida,
        fechaRegreso:
          this.formVuelo.tipoVueloSelected != 1
            ? this.formVuelo.fechaRegreso
            : null,
        centroCosteVuelo: this.formVuelo.centroCosteVuelo.KOSTL,
        aerolinea: this.formVuelo.aerolinea,
        motivoViaje: this.formVuelo.motivoViaje,
        origen: this.formVuelo.origen,
        destino: this.formVuelo.destino
      });

      // this.formVuelo = {};
      this.formVuelo.colaboradorSelected = "";
      this.formVuelo.tipoViajeSelected = "";
      this.formVuelo.tipoVueloSelected = "";
      this.formVuelo.fechaSalida = moment().format("YYYY-MM-DD");
      this.formVuelo.fechaRegreso = moment().format("YYYY-MM-DD");
      this.formVuelo.aerolinea = "";
      this.formVuelo.motivoViaje = "";
      this.formVuelo.origen = "";
      this.formVuelo.destino = "";
      this.$v.$reset();
    },
    deleteEmpleadoTable(numEmpleado) {
      this.intIDDetalleSolicitudViaje = this.$store.state.objVueloHotel.detalleSolicitudViaje[0].intIDDetalleSolicitudViaje;

      let arrayEmpleados = this.listaEmpleados;
      this.listaEmpleados = [];
      this.deteleDetalleViajeros(
        this.intIDDetalleSolicitudViaje,
        numEmpleado.numero
      );

      arrayEmpleados.forEach(emp => {
        if (emp.numero != numEmpleado.numero) {
          this.listaEmpleados.push(emp);
        }
      });
    },
    deteleDetalleViajeros(intIDDetalleViaje, intCodigoEmpleado) {
      let idDetalleViaje = {
        intFKIDDetalleSolicitudViaje: intIDDetalleViaje,
        chrCodigoEmpleado: intCodigoEmpleado
      };
      const hd = this.$store.state.headers;
      axios
        .post(
          this.$store.state.basePath + "Api/Solicitud/DeleteDetalleViajeros/",
          idDetalleViaje,
          {
            hd
          }
        )
        .then(response => {})
        .catch(error => {});
    },
    altaVueloHospedaje() {
      let objFormVuelo = [];

      this.listaViaje.forEach(emp => {
        objFormVuelo = {
          intIDDetalleSolicitudViaje: this.intIDDetalleSolicitudViaje,
          aerolinea: emp.aerolinea,
          centroCosteVuelo: emp.centroCosteVuelo,
          destino: emp.destino,
          fechaRegreso: emp.tipoVueloSelected != 1 ? emp.fechaRegreso : null,
          fechaSalida: emp.fechaSalida,
          motivoViaje: emp.motivoViaje,
          origen: emp.origen,
          tipoViajeSelected: emp.tipoViajeSelected,
          tipoVueloSelected: emp.tipoVueloSelected,
          listaEmpleados: this.listaEmpleados
        };
      });

      let intIDSolicitud =
        this.$route.params.id != null ? this.$route.params.id : "";

      this.saveSolicitud({
        intIDSolicitud: intIDSolicitud,
        //intIDDetalleSolicitudViaje: this.intIDDetalleSolicitudViaje,
        //detalleViajeros: this.listaDetalleViajeros,
        intFolio: this.formEmpleado.numFolio,
        user:
          this.$store.state.objVueloHotel.intFKIDEstatus != 7
            ? this.$store.state.userLogin.chrCodigoEmpleado
            : this.$store.state.objVueloHotel.intNoSolicitante,
        fechaActual: moment().format("YYYY-MM-DDTHH:mm"),
        tipoSolicitud: 2,
        numSolicitud:
          this.$store.state.objVueloHotel.intFKIDEstatus != 7
            ? this.$store.state.userLogin.chrCodigoEmpleado
            : this.$store.state.objVueloHotel.intNoSolicitante,
        dtdFechaNacimiento: this.formEmpleado.chrFechaNacimiento,
        comentariosSolicitud: this.formEmpleado.comentarioSolicitud,
        estatus: this.$store.state.objVueloHotel.intFKIDEstatus != 7 ? 1 : 7,
        objFormVuelo: objFormVuelo,
        arraylistaVuelo: this.listaViaje
      });
    },
    editDetalleViaje(data) {
      this.vueloSeleccionado = data;
      this.formVuelo = {
        intIDDetalleSolicitudViaje: data.intIDDetalleSolicitudViaje,
        colaboradorSelected: data.colaboradorSelected,
        tipoVueloSelected: data.tipoVueloSelected,
        tipoViajeSelected: data.tipoViajeSelected,
        aerolinea: data.aerolinea,
        origen: data.origen,
        destino: data.destino,
        fechaSalida: moment(data.fechaSalida).format("YYYY-MM-DD"),
        fechaRegreso: moment(data.fechaRegreso).format("YYYY-MM-DD"),
        motivoViaje: data.motivoViaje,

        //comentarioVuelo: data.chrComentarios,
        centroCosteVuelo: data.centroCosteVuelo,
        costoExtraVuelo: this.formVuelo.costoExtraVuelo,
      };
      this.editadoVuelo = true;
    },
    cancelarSolicitud() {
      this.$v.$reset();
      this.$router.push({ name: "solicitud-de-reservaciones" });
    },
    isPastDate(date) {
      const currentDate = moment().subtract(1, "d");
      return date < currentDate;
    },
    isPastDateSalida(date) {
      return moment(date).format("YYYY-MM-DD") <= this.formVuelo.fechaSalida;
    },
    getEmpleadoStore(empleado) {
      this.getEmpleados(empleado);
    },
    onSearch(busqueda) {
      const lettersLimit = 4;
      this.noData = false;
      if (busqueda.length < lettersLimit) {
        this.$store.state.centroCosteVuelo = [];
        this.$store.state.loadingSelect = false;
        return;
      } else {
        this.getCentroCosto(busqueda);
        this.noData = true;
      }
    },
    getSelectViaje(tipoViaje) {
      switch (tipoViaje) {
        case 1:
          tipoViaje = "Nacional";
          break;
        case 2:
          tipoViaje = "Internacional";
          break;
        default:
          break;
      }
      return tipoViaje;
    },
    getSelectVuelo(tipoVuelo) {
      switch (tipoVuelo) {
        case 1:
          tipoVuelo = "Sencillo";
          break;
        case 2:
          tipoVuelo = "Redondo";
          break;
        default:
          break;
      }
      return tipoVuelo;
    },
    saveDetalleSolicitudViaje(vueloSeleccionado) {
      this.listaViaje.forEach(listadoViajes => {
        if (
          listadoViajes.intIDDetalleSolicitudViaje ==
          vueloSeleccionado.intIDDetalleSolicitudViaje
        ) {
          (listadoViajes.chrNumEmpleado = this.formEmpleado.chrNumEmpleado),
            (listadoViajes.chrNomEmpleado = this.formEmpleado.chrNomEmpleado),
            (listadoViajes.chrFechaNacimiento = this.formEmpleado.chrFechaNacimiento),
            (listadoViajes.colaboradorSelected = this.formVuelo.colaboradorSelected),
            (listadoViajes.tipoVueloSelected = this.formVuelo.tipoVueloSelected),
            (listadoViajes.tipoViajeSelected = this.formVuelo.tipoViajeSelected),
            (listadoViajes.tipoViaje = this.getSelectViaje(
              this.formVuelo.tipoViajeSelected
            )),
            (listadoViajes.tipoVuelo = this.getSelectVuelo(
              this.formVuelo.tipoVueloSelected
            )),
            (listadoViajes.fechaSalida = this.formVuelo.fechaSalida),
            (listadoViajes.fechaRegreso =
              this.formVuelo.tipoVueloSelected != 1
                ? this.formVuelo.fechaRegreso
                : null),
            (listadoViajes.centroCosteVuelo = this.formVuelo.centroCosteVuelo.KOSTL),
            (listadoViajes.aerolinea = this.formVuelo.aerolinea),
            (listadoViajes.motivoViaje = this.formVuelo.motivoViaje),
            (listadoViajes.origen = this.formVuelo.origen),
            (listadoViajes.destino = this.formVuelo.destino),
            (listadoViajes.costoExtraVuelo = this.formVuelo.costoExtraVuelo);
        }
        this.formVuelo = {};
        this.vueloSeleccionado = {};
        this.editadoVuelo = false;
      });
    }
  }
};
</script>

<style>
.icon-warning-auditor {
  height: 100%;
}
</style>
